<section id="sp-section-4">
  <div class="row">
    <div id="sp-title" class="col-lg-12 ">
      <div class="sp-column ">
        <div class="sp-page-title" style="background-image: url(assets/images/background/inner-banner-bg.jpg);">
          <div class="container">
            <h2 class="sp-page-title-heading">Contact Us</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sp-main-body">
  <div class="row">
    <main id="sp-component" class="col-lg-12 " role="main">
      <div class="sp-column ">
        <!-- <div id="system-message-container">
          <div id="system-message">
            <div class="alert alert-notice">
              <a class="close" data-dismiss="alert" aria-label="">&times;</a>

              <h4 class="alert-heading">Notice</h4>
              <div>
                <div>No items found in the cart</div>
              </div>
            </div>
          </div>
        </div> -->

        <div id="sp-page-builder" class="sp-page-builder  page-11">


          <div class="page-content">
            <section id="section-id-1551751198534" class="sppb-section  ">
              <div class="sppb-row-container">
                <div class="sppb-row">
                  <div class="sppb-col-md-12" id="column-wrap-id-1551751198533">
                    <div id="column-id-1551751198533" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551751348510" class="clearfix">
                          <div class="sppb-addon sppb-addon-text-block  ">
                            <h1 class="sppb-addon-title">Get Touch <span class="text-primary">With Us</span></h1>
                            <div class="sppb-addon-content">
                              <p>It’s our pleasure to answer any inquiry you
                                might have about Farm Funds Africa
                                questions, just use the form below or choose
                                one of the alternative methods of
                                communication. We’re available from Monday
                                to Friday, 07:30-19:00 to take your call.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div id="sppb-addon-1551751348513" class="clearfix">
                          <div class="sppb-empty-space  clearfix"></div>
                        </div>
                        <div id="section-id-1551751348514" class="sppb-section  ">
                          <div class="sppb-container-inner">
                            <div class="sppb-row">
                              <div class="sppb-col-md-4" id="column-wrap-id-1551751348515">
                                <div id="column-id-1551751348515" class="sppb-column">
                                  <div class="sppb-column-addons">
                                    <div id="sppb-addon-1551751348523" class="clearfix">
                                      <div class="sppb-addon sppb-addon-accordion ">
                                        <div class="sppb-addon-content">
                                          <div class="sppb-panel-group">
                                            <div class="sppb-panel sppb-panel-default">
                                              <div class="sppb-panel-heading active ">
                                                <span class="sppb-panel-title">LAGOS
                                                  NIGERIA</span><span class="sppb-toggle-direction"><i
                                                    class="fa fa-chevron-right"></i></span>
                                              </div>
                                              <div class="sppb-panel-collapse">
                                                <div class="sppb-panel-body">
                                                  <div id="sppb-addon-1551751348528" class="clearfix">
                                                    <div class="sppb-addon sppb-addon-feature sppb-text-left ">
                                                      <div class="sppb-addon-content sppb-text-left">
                                                        <div class="sppb-media">
                                                          <div class="pull-left">
                                                            <div class="sppb-icon">
                                                              <span class="sppb-icon-container"><i aria-hidden="true"
                                                                  aria-label="" class="fa fa-paper-plane"></i></span>
                                                            </div>
                                                          </div>
                                                          <div class="sppb-media-body">
                                                            <div class="sppb-media-content">
                                                              <div class="sppb-addon-text">
                                                                <div class="text-box">
                                                                  <p><strong>Address:</strong>
                                                                    12a, Sanyaolu street. Off Kudirat Abiola way, Oregun.
                                                                    <br />Ikeja,
                                                                    Lagos.
                                                                  </p>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div id="sppb-addon-1551751348529" class="clearfix">
                                                    <div class="sppb-addon sppb-addon-feature sppb-text-left ">
                                                      <div class="sppb-addon-content sppb-text-left">
                                                        <div class="sppb-media">
                                                          <div class="pull-left">
                                                            <div class="sppb-icon">
                                                              <span class="sppb-icon-container"><i aria-hidden="true"
                                                                  aria-label=""
                                                                  class="fa fa-volume-control-phone"></i></span>
                                                            </div>
                                                          </div>
                                                          <div class="sppb-media-body">
                                                            <div class="sppb-media-content">
                                                              <div class="sppb-addon-text">
                                                                <div class="text-box">
                                                                  <p><strong>Phone:</strong>
                                                                    +234-906-238-9757
                                                                  </p>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div id="sppb-addon-1551751348530" class="clearfix">
                                                    <div class="sppb-addon sppb-addon-feature sppb-text-left ">
                                                      <div class="sppb-addon-content sppb-text-left">
                                                        <div class="sppb-media">
                                                          <div class="pull-left">
                                                            <div class="sppb-icon">
                                                              <span class="sppb-icon-container"><i aria-hidden="true"
                                                                  aria-label="" class="fa fa-envelope"></i></span>
                                                            </div>
                                                          </div>
                                                          <div class="sppb-media-body">
                                                            <div class="sppb-media-content">
                                                              <div class="sppb-addon-text">
                                                                <div class="text-box">
                                                                  <p><strong>Email:</strong>
                                                                    Info@farmfundsafrica.com
                                                                  </p>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div id="sppb-addon-1551751348531" class="clearfix">
                                                    <div class="sppb-addon sppb-addon-feature sppb-text-left ">
                                                      <div class="sppb-addon-content sppb-text-left">
                                                        <div class="sppb-media">
                                                          <div class="pull-left">
                                                            <div class="sppb-icon">
                                                              <span class="sppb-icon-container"><i aria-hidden="true"
                                                                  aria-label="" class="fa fa-hourglass"></i></span>
                                                            </div>
                                                          </div>
                                                          <div class="sppb-media-body">
                                                            <div class="sppb-media-content">
                                                              <div class="sppb-addon-text">
                                                                <div class="text-box">
                                                                  <p><strong>Working
                                                                      Hrs:</strong>
                                                                    <br />Mon
                                                                    -
                                                                    Satday:
                                                                    09:00
                                                                    -18:00
                                                                    <br />Sunday:
                                                                    <a class="text-primary" href="#">Closed</a>
                                                                  </p>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <!-- <div class="sppb-panel sppb-panel-default">
                                              <div class="sppb-panel-heading ">
                                                <span class="sppb-panel-title">California
                                                  Branch</span><span class="sppb-toggle-direction"><i
                                                    class="fa fa-chevron-right"></i></span>
                                              </div>
                                              <div class="sppb-panel-collapse" style="display: none;">
                                                <div class="sppb-panel-body">
                                                  <div id="sppb-addon-1551752316329" class="clearfix">
                                                    <div class="sppb-addon sppb-addon-feature sppb-text-left ">
                                                      <div class="sppb-addon-content sppb-text-left">
                                                        <div class="sppb-media">
                                                          <div class="pull-left">
                                                            <div class="sppb-icon">
                                                              <span class="sppb-icon-container"><i aria-hidden="true"
                                                                  aria-label="" class="fa fa-paper-plane"></i></span>
                                                            </div>
                                                          </div>
                                                          <div class="sppb-media-body">
                                                            <div class="sppb-media-content">
                                                              <div class="sppb-addon-text">
                                                                <div class="text-box">
                                                                  <p><strong>Address:</strong>
                                                                    121
                                                                    Park
                                                                    Drive,
                                                                    Varick
                                                                    Str,
                                                                    <br />Newyork,
                                                                    USA
                                                                  </p>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div id="sppb-addon-1551752316330" class="clearfix">
                                                    <div class="sppb-addon sppb-addon-feature sppb-text-left ">
                                                      <div class="sppb-addon-content sppb-text-left">
                                                        <div class="sppb-media">
                                                          <div class="pull-left">
                                                            <div class="sppb-icon">
                                                              <span class="sppb-icon-container"><i aria-hidden="true"
                                                                  aria-label=""
                                                                  class="fa fa-volume-control-phone"></i></span>
                                                            </div>
                                                          </div>
                                                          <div class="sppb-media-body">
                                                            <div class="sppb-media-content">
                                                              <div class="sppb-addon-text">
                                                                <div class="text-box">
                                                                  <p><strong>Phone:</strong>
                                                                    +123-456-7890
                                                                    &amp;
                                                                    891
                                                                  </p>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div id="sppb-addon-1551752316331" class="clearfix">
                                                    <div class="sppb-addon sppb-addon-feature sppb-text-left ">
                                                      <div class="sppb-addon-content sppb-text-left">
                                                        <div class="sppb-media">
                                                          <div class="pull-left">
                                                            <div class="sppb-icon">
                                                              <span class="sppb-icon-container"><i aria-hidden="true"
                                                                  aria-label="" class="fa fa-envelope"></i></span>
                                                            </div>
                                                          </div>
                                                          <div class="sppb-media-body">
                                                            <div class="sppb-media-content">
                                                              <div class="sppb-addon-text">
                                                                <div class="text-box">
                                                                  <p><strong>Email:</strong>
                                                                    Mailus@RealGarden.com
                                                                  </p>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div id="sppb-addon-1551752316332" class="clearfix">
                                                    <div class="sppb-addon sppb-addon-feature sppb-text-left ">
                                                      <div class="sppb-addon-content sppb-text-left">
                                                        <div class="sppb-media">
                                                          <div class="pull-left">
                                                            <div class="sppb-icon">
                                                              <span class="sppb-icon-container"><i aria-hidden="true"
                                                                  aria-label="" class="fa fa-hourglass"></i></span>
                                                            </div>
                                                          </div>
                                                          <div class="sppb-media-body">
                                                            <div class="sppb-media-content">
                                                              <div class="sppb-addon-text">
                                                                <div class="text-box">
                                                                  <p><strong>Working
                                                                      Hrs:</strong>
                                                                    <br />Mon
                                                                    -
                                                                    Satday:
                                                                    09:00
                                                                    -18:00
                                                                    <br />Sunday:
                                                                    <a class="text-primary" href="#">Closed</a>
                                                                  </p>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div> -->
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div id="sppb-addon-1551752983515" class="sppb-hidden-md sppb-hidden-lg clearfix">
                                      <div class="sppb-empty-space  clearfix">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="sppb-col-md-8" id="column-wrap-id-1551751348518">
                                <div id="column-id-1551751348518" class="sppb-column">
                                  <div class="sppb-column-addons">
                                    <div id="sppb-addon-1551751348548" class="clearfix">
                                      <div class="sppb-addon sppb-addon-ajax-contact ">
                                        <h2 class="sppb-addon-title">
                                          Send <span class="text-primary">Message
                                            Us</span></h2>
                                        <div class="sppb-ajax-contact-content">
                                          <form class="sppb-ajaxt-contact-form">
                                            <div class="sppb-row">
                                              <div class="sppb-form-group  sppb-col-sm-4">
                                                <input type="text" name="name" class="sppb-form-control"
                                                  placeholder="Name" required="required">
                                              </div>
                                              <div class="sppb-form-group  sppb-col-sm-4">
                                                <input type="email" name="email" class="sppb-form-control"
                                                  placeholder="Email" required="required">
                                              </div>
                                              <div class="sppb-form-group  sppb-col-sm-4">
                                                <input type="text" name="subject" class="sppb-form-control"
                                                  placeholder="Subject" required="required">
                                              </div>
                                              <div class="sppb-form-group  sppb-col-sm-12">
                                                <textarea name="message" rows="5" class="sppb-form-control"
                                                  placeholder="Message" required="required"></textarea>
                                              </div>
                                            </div><input type="hidden" name="recipient"
                                              value="ZW1haWxAeW91cmRvbWFpbi5jb20="><input type="hidden"
                                              name="from_email" value=""><input type="hidden" name="from_name"
                                              value=""><input type="hidden" name="addon_id" value="1551751348548"><input
                                              type="hidden" name="captcha_type" value="default">
                                            <div class="sppb-text-center">
                                              <button type="submit" id="btn-1551751348548"
                                                class="sppb-btn sppb-btn-success sppb-btn-rounded sppb-btn-block"><i
                                                  class="fa"></i>Send
                                                Message</button>
                                            </div>
                                          </form>
                                          <div style="display:none;margin-top:10px;" class="sppb-ajax-contact-status">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div id="section-id-1551751348566" class="sppb-section  ">
              <div class="sppb-container-inner">
                <div class="sppb-row">
                  <div class="sppb-col-md-12" id="column-wrap-id-1551751348565">
                    <div id="column-id-1551751348565" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551752983512" class="clearfix">
                          <div id="sppb-addon-map-1551752983512" class="sppb-addon sppb-addon-gmap ">
                            <div class="sppb-addon-content">
                              <div id="sppb-addon-gmap-1551752983512" class="sppb-addon-gmap-canvas"
                                data-lat="23.755349" data-lng="90.375961" data-location='W10=' data-maptype="ROADMAP"
                                data-mapzoom="13" data-mousescroll="false" data-infowindow=""
                                data-show-controll='false'></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</section>
