<div class="site helix-ultimate com-sppagebuilder view-page layout-default task-none itemid-132">
    <section id="sp-section-4">
        <div class="row">
            <div id="sp-title" class="col-lg-12 ">
                <div class="sp-column ">
                    <div class="sp-page-title"
                        style="background-image: url(../../../../../assets/images/background/inner-banner-bg.jpg);">
                        <div class="container">
                            <h2 class="sp-page-title-heading">News Grid View</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sp-main-body">
        <div class="container">
            <div class="container-inner">
                <div class="row">
                    <main id="sp-component" class="col-lg-8 " role="main">
                        <div class="sp-column ">
                            <div id="system-message-container">
                            </div>
            
                            <div id="sp-page-builder" class="sp-page-builder sidebar-class page-13">
            
            
                                <div class="page-content">
                                    <section id="section-id-1551831340286" class="sppb-section  ">
                                        <div class="sppb-row-container">
                                            <div class="sppb-row">
                                                <div class="sppb-col-md-12" id="column-wrap-id-1551831340299">
                                                    <div id="column-id-1551831340299" class="sppb-column">
                                                        <div class="sppb-column-addons">
                                                            <div id="sppb-addon-1551831340300" class="clearfix">
                                                                <div class="sppb-addon sppb-addon-articles ">
                                                                    <div class="sppb-addon-content">
                                                                        <div class="sppb-row">
                                                                            <div class="sppb-col-sm-6">
                                                                                <div class="sppb-addon-article"><a
                                                                                        class="sppb-article-img-wrap"
                                                                                        href="../blog-default/1-it-s-time-to-design-your-dream-outdoor-living-space.html"
                                                                                        itemprop="url"><img
                                                                                            class="sppb-img-responsive"
                                                                                            src="../../../../../assets/images/blog/1.jpg"
                                                                                            alt="It’s Time to Design Your Dream Outdoor Living Space"
                                                                                            itemprop="thumbnailUrl"></a>
                                                                                    <div class="sppb-article-info"><span
                                                                                            class="sppb-meta-category">Real
                                                                                            Garden</span>
                                                                                        <div
                                                                                            class="sppb-article-info-wrap">
                                                                                            <a href="../blog-default/1-it-s-time-to-design-your-dream-outdoor-living-space.html"
                                                                                                itemprop="url">
                                                                                                <h4>It’s Time to Design
                                                                                                    Your Dream Outdoor
                                                                                                    Living Space</h4>
                                                                                            </a>
                                                                                            <div
                                                                                                class="sppb-article-introtext">
                                                                                                <p>How all this mistaken
                                                                                                    idea of denouncing
                                                                                                    and praising pain
                                                                                                    was expound
                                                                                                    laborious physical
                                                                                                    except to obtain
                                                                                                    some advantage...
                                                                                                </p>
                                                                                            </div>
                                                                                            <div
                                                                                                class="sppb-article-meta">
                                                                                                <span
                                                                                                    class="sppb-meta-date"
                                                                                                    itemprop="datePublished">28
                                                                                                    February 2019</span>
                                                                                                | <span
                                                                                                    class="sppb-meta-author"
                                                                                                    itemprop="name">Windstripe</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="sppb-col-sm-6">
                                                                                <div class="sppb-addon-article"><a
                                                                                        class="sppb-article-img-wrap"
                                                                                        href="../blog-default/2-it-s-time-to-design-your-dream-outdoor-living-space-2.html"
                                                                                        itemprop="url"><img
                                                                                            class="sppb-img-responsive"
                                                                                            src="../../../../../assets/images/blog/2.jpg"
                                                                                            alt="How Landscaping Can Add Curb Appeal to Your Home?"
                                                                                            itemprop="thumbnailUrl"></a>
                                                                                    <div class="sppb-article-info"><span
                                                                                            class="sppb-meta-category">Real
                                                                                            Garden</span>
                                                                                        <div
                                                                                            class="sppb-article-info-wrap">
                                                                                            <a href="../blog-default/2-it-s-time-to-design-your-dream-outdoor-living-space-2.html"
                                                                                                itemprop="url">
                                                                                                <h4>How Landscaping Can
                                                                                                    Add Curb Appeal to
                                                                                                    Your Home?</h4>
                                                                                            </a>
                                                                                            <div
                                                                                                class="sppb-article-introtext">
                                                                                                <p>How all this mistaken
                                                                                                    idea of denouncing
                                                                                                    and praising pain
                                                                                                    was expound
                                                                                                    laborious physical
                                                                                                    except to obtain
                                                                                                    some advantage...
                                                                                                </p>
                                                                                            </div>
                                                                                            <div
                                                                                                class="sppb-article-meta">
                                                                                                <span
                                                                                                    class="sppb-meta-date"
                                                                                                    itemprop="datePublished">28
                                                                                                    February 2019</span>
                                                                                                | <span
                                                                                                    class="sppb-meta-author"
                                                                                                    itemprop="name">Windstripe</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="sppb-col-sm-6">
                                                                                <div class="sppb-addon-article"><a
                                                                                        class="sppb-article-img-wrap"
                                                                                        href="../blog-default/3-it-s-time-to-design-your-dream-outdoor-living-space-3.html"
                                                                                        itemprop="url"><img
                                                                                            class="sppb-img-responsive"
                                                                                            src="../../../../../assets/images/blog/3.jpg"
                                                                                            alt="6 Landscaping Methods to Prevent Water Problems"
                                                                                            itemprop="thumbnailUrl"></a>
                                                                                    <div class="sppb-article-info"><span
                                                                                            class="sppb-meta-category">Real
                                                                                            Garden</span>
                                                                                        <div
                                                                                            class="sppb-article-info-wrap">
                                                                                            <a href="../blog-default/3-it-s-time-to-design-your-dream-outdoor-living-space-3.html"
                                                                                                itemprop="url">
                                                                                                <h4>6 Landscaping
                                                                                                    Methods to Prevent
                                                                                                    Water Problems</h4>
                                                                                            </a>
                                                                                            <div
                                                                                                class="sppb-article-introtext">
                                                                                                <p>How all this mistaken
                                                                                                    idea of denouncing
                                                                                                    and praising pain
                                                                                                    was expound
                                                                                                    laborious physical
                                                                                                    except to obtain
                                                                                                    some advantage...
                                                                                                </p>
                                                                                            </div>
                                                                                            <div
                                                                                                class="sppb-article-meta">
                                                                                                <span
                                                                                                    class="sppb-meta-date"
                                                                                                    itemprop="datePublished">28
                                                                                                    February 2019</span>
                                                                                                | <span
                                                                                                    class="sppb-meta-author"
                                                                                                    itemprop="name">Windstripe</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="sppb-col-sm-6">
                                                                                <div class="sppb-addon-article"><a
                                                                                        class="sppb-article-img-wrap"
                                                                                        href="../blog-default/4-it-s-time-to-design-your-dream-outdoor-living-space-4.html"
                                                                                        itemprop="url"><img
                                                                                            class="sppb-img-responsive"
                                                                                            src="../../../../../assets/images/blog/4.jpg"
                                                                                            alt="We Making Your Perfect Wedding Garden at Home"
                                                                                            itemprop="thumbnailUrl"></a>
                                                                                    <div class="sppb-article-info"><span
                                                                                            class="sppb-meta-category">Real
                                                                                            Garden</span>
                                                                                        <div
                                                                                            class="sppb-article-info-wrap">
                                                                                            <a href="../blog-default/4-it-s-time-to-design-your-dream-outdoor-living-space-4.html"
                                                                                                itemprop="url">
                                                                                                <h4>We Making Your
                                                                                                    Perfect Wedding
                                                                                                    Garden at Home</h4>
                                                                                            </a>
                                                                                            <div
                                                                                                class="sppb-article-introtext">
                                                                                                <p>How all this mistaken
                                                                                                    idea of denouncing
                                                                                                    and praising pain
                                                                                                    was expound
                                                                                                    laborious physical
                                                                                                    except to obtain
                                                                                                    some advantage...
                                                                                                </p>
                                                                                            </div>
                                                                                            <div
                                                                                                class="sppb-article-meta">
                                                                                                <span
                                                                                                    class="sppb-meta-date"
                                                                                                    itemprop="datePublished">28
                                                                                                    February 2019</span>
                                                                                                | <span
                                                                                                    class="sppb-meta-author"
                                                                                                    itemprop="name">Windstripe</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="sppb-col-sm-6">
                                                                                <div class="sppb-addon-article"><a
                                                                                        class="sppb-article-img-wrap"
                                                                                        href="../blog-default/5-it-s-time-to-design-your-dream-outdoor-living-space-5.html"
                                                                                        itemprop="url"><img
                                                                                            class="sppb-img-responsive"
                                                                                            src="../../../../../assets/images/blog/5.jpg"
                                                                                            alt="How Landscaping Can Add Curb Appeal to Your Home?"
                                                                                            itemprop="thumbnailUrl"></a>
                                                                                    <div class="sppb-article-info"><span
                                                                                            class="sppb-meta-category">Real
                                                                                            Garden</span>
                                                                                        <div
                                                                                            class="sppb-article-info-wrap">
                                                                                            <a href="../blog-default/5-it-s-time-to-design-your-dream-outdoor-living-space-5.html"
                                                                                                itemprop="url">
                                                                                                <h4>How Landscaping Can
                                                                                                    Add Curb Appeal to
                                                                                                    Your Home?</h4>
                                                                                            </a>
                                                                                            <div
                                                                                                class="sppb-article-introtext">
                                                                                                <p>How all this mistaken
                                                                                                    idea of denouncing
                                                                                                    and praising pain
                                                                                                    was expound
                                                                                                    laborious physical
                                                                                                    except to obtain
                                                                                                    some advantage...
                                                                                                </p>
                                                                                            </div>
                                                                                            <div
                                                                                                class="sppb-article-meta">
                                                                                                <span
                                                                                                    class="sppb-meta-date"
                                                                                                    itemprop="datePublished">28
                                                                                                    February 2019</span>
                                                                                                | <span
                                                                                                    class="sppb-meta-author"
                                                                                                    itemprop="name">Windstripe</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="sppb-col-sm-6">
                                                                                <div class="sppb-addon-article"><a
                                                                                        class="sppb-article-img-wrap"
                                                                                        href="../blog-default/6-it-s-time-to-design-your-dream-outdoor-living-space-6.html"
                                                                                        itemprop="url"><img
                                                                                            class="sppb-img-responsive"
                                                                                            src="../../../../../assets/images/blog/6.jpg"
                                                                                            alt="It’s Time to Design Your Dream Outdoor Living Space"
                                                                                            itemprop="thumbnailUrl"></a>
                                                                                    <div class="sppb-article-info"><span
                                                                                            class="sppb-meta-category">Real
                                                                                            Garden</span>
                                                                                        <div
                                                                                            class="sppb-article-info-wrap">
                                                                                            <a href="../blog-default/6-it-s-time-to-design-your-dream-outdoor-living-space-6.html"
                                                                                                itemprop="url">
                                                                                                <h4>It’s Time to Design
                                                                                                    Your Dream Outdoor
                                                                                                    Living Space</h4>
                                                                                            </a>
                                                                                            <div
                                                                                                class="sppb-article-introtext">
                                                                                                <p>How all this mistaken
                                                                                                    idea of denouncing
                                                                                                    and praising pain
                                                                                                    was expound
                                                                                                    laborious physical
                                                                                                    except to obtain
                                                                                                    some advantage...
                                                                                                </p>
                                                                                            </div>
                                                                                            <div
                                                                                                class="sppb-article-meta">
                                                                                                <span
                                                                                                    class="sppb-meta-date"
                                                                                                    itemprop="datePublished">28
                                                                                                    February 2019</span>
                                                                                                | <span
                                                                                                    class="sppb-meta-author"
                                                                                                    itemprop="name">Windstripe</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </main>
                    <aside id="sp-right" class="col-lg-4 ">
                        <div class="sp-column ">
                            <div class="sp-module ">
                                <div class="sp-module-content">
                                    <div class="search">
                                        <form
                                            action="http://demo.joomlabuff.com/realgarden/index.php/news/news-grid-view"
                                            method="post">
                                            <div class="input-group"><input name="searchword"
                                                    id="mod-search-searchword106" class="form-control" type="search"
                                                    placeholder="Search here..."><span class="input-group-btn"><button
                                                        class="sppb-btn" onclick="this.form.searchword.focus();"><span
                                                            class="icon fa fa-search"></span></button></span></div>
                                            <input type="hidden" name="task" value="search">
                                            <input type="hidden" name="option" value="com_search">
                                            <input type="hidden" name="Itemid" value="132">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-module ">
                                <h3 class="sp-module-title">Categories</h3>
                                <div class="sp-module-content">
                                    <ul class="categories-module mod-list">
                                        <li> <a href="../blog-default/9-gardening.html">
                                                Gardening (0)
                                            </a>
            
                                        </li>
                                        <li> <a href="../blog-default/10-ground-maintenance.html">
                                                Ground Maintenance (0)
                                            </a>
            
                                        </li>
                                        <li> <a href="../blog-default/11-outdoor-living.html">
                                                Outdoor Living (0)
                                            </a>
            
                                        </li>
                                        <li> <a href="../blog-default/12-tree-planting.html">
                                                Tree Planting (0)
                                            </a>
            
                                        </li>
                                        <li> <a href="../blog-default/13-residential-garden.html">
                                                Residential Garden (0)
                                            </a>
            
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sp-module ">
                                <h3 class="sp-module-title">recent post</h3>
                                <div class="sp-module-content">
                                    <ul class="latestnews">
                                        <li itemscope itemtype="https://schema.org/Article">
                                            <div class="media">
                                                <a class="media-left pull-left"
                                                    href="../blog-default/1-it-s-time-to-design-your-dream-outdoor-living-space.html"
                                                    itemprop="url">
                                                    <img src="../../../../../assets/images/blog/1.jpg" />
                                                </a>
                                                <div class="media-body">
                                                    <a href="../blog-default/1-it-s-time-to-design-your-dream-outdoor-living-space.html"
                                                        itemprop="url">
                                                        <h4> It’s Time to Design Your Dream Outdoor Living Space </h4>
                                                    </a>
                                                    <span>28 February 2019</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li itemscope itemtype="https://schema.org/Article">
                                            <div class="media">
                                                <a class="media-left pull-left"
                                                    href="../blog-default/2-it-s-time-to-design-your-dream-outdoor-living-space-2.html"
                                                    itemprop="url">
                                                    <img src="../../../../../assets/images/blog/2.jpg" />
                                                </a>
                                                <div class="media-body">
                                                    <a href="../blog-default/2-it-s-time-to-design-your-dream-outdoor-living-space-2.html"
                                                        itemprop="url">
                                                        <h4> How Landscaping Can Add Curb Appeal to Your Home? </h4>
                                                    </a>
                                                    <span>28 February 2019</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li itemscope itemtype="https://schema.org/Article">
                                            <div class="media">
                                                <a class="media-left pull-left"
                                                    href="../blog-default/3-it-s-time-to-design-your-dream-outdoor-living-space-3.html"
                                                    itemprop="url">
                                                    <img src="../../../../../assets/images/blog/3.jpg" />
                                                </a>
                                                <div class="media-body">
                                                    <a href="../blog-default/3-it-s-time-to-design-your-dream-outdoor-living-space-3.html"
                                                        itemprop="url">
                                                        <h4> 6 Landscaping Methods to Prevent Water Problems </h4>
                                                    </a>
                                                    <span>28 February 2019</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sp-module ">
                                <h3 class="sp-module-title">Tags Cloud</h3>
                                <div class="sp-module-content">
                                    <div class="tagspopular">
                                        <ul>
                                            <li>
                                                <a href="../component/tags/tag/landscape.html">
                                                    Landscape</a>
                                            </li>
                                            <li>
                                                <a href="../component/tags/tag/gardening.html">
                                                    Gardening</a>
                                            </li>
                                            <li>
                                                <a href="../component/tags/tag/lawn.html">
                                                    Lawn</a>
                                            </li>
                                            <li>
                                                <a href="../component/tags/tag/drainage.html">
                                                    Drainage</a>
                                            </li>
                                            <li>
                                                <a href="../component/tags/tag/carpentry.html">
                                                    Carpentry</a>
                                            </li>
                                            <li>
                                                <a href="../component/tags/tag/artificial-grass.html">
                                                    Artificial Grass</a>
                                            </li>
                                            <li>
                                                <a href="../component/tags/tag/limb-removal.html">
                                                    Limb Removal</a>
                                            </li>
                                            <li>
                                                <a href="../component/tags/tag/projects.html">
                                                    Projects</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
</div>
