.sp-page-builder .page-content #section-id-1551831340286 {
    padding-top: 80px;
    padding-right: 0px;
    padding-bottom: 80px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#column-id-1551831340299 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-1551831340300 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1551831340300 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1551831340300 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1551831340300 .sppb-addon-articles .sppb-addon-article {
    position: relative;
    transition: .5s ease-in-out;
    margin-bottom: 30px;
    border: 1px solid #f4f4f4;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
}

#sppb-addon-1551831340300 .sppb-article-img-wrap {
    width: 100%;
    position: relative;
}

#sppb-addon-1551831340300 .sppb-article-img-wrap:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.60);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

#sppb-addon-1551831340300 .sppb-addon-articles .sppb-addon-article:hover .sppb-article-img-wrap:before {
    opacity: 1;
    visibility: visible;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    z-index: 2;
}

#sppb-addon-1551831340300 .sppb-article-info {
    position: relative;
    margin-top: -58px;
    -webkit-transition: .7s ease;
    -moz-transition: .7s ease;
    -ms-transition: .7s ease;
    -o-transition: .7s ease;
    transition: .7s ease;
    z-index: 3;
}

#sppb-addon-1551831340300 .sppb-meta-category {
    color: #fff;
    background: green;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    padding: 8px 23px;
    margin-left: 15px;
    margin-bottom: 10px;
}

#sppb-addon-1551831340300 .sppb-article-info-wrap {
    background: #f7f7f7;
    padding: 20px 20px 25px;
}

#sppb-addon-1551831340300 h4 {
    color:black;    font-weight: 700;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 28px;
}

#sppb-addon-1551831340300 .sppb-addon-articles .sppb-article-meta {
    margin: 0;
    color: #949494;
    font-size: 14px;
    margin-top: 15px;
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
}

#sppb-addon-1551831340300 .sppb-addon-articles .sppb-article-meta>span {
    display: inline-block;
    margin: 0;
    color: #949494;
    font-size: 14px;
}

.logo-image {
    height: 36px;
}
