<div class="site helix-ultimate com-sppagebuilder view-page layout-default task-none itemid-115">
  <section id="sp-section-4">
    <div class="row">
      <div id="sp-title" class="col-lg-12 ">
        <div class="sp-column ">
          <div class="sp-page-title"
            style="background-image: url(assets/images/background/inner-banner-bg.jpg);">
            <div class="container">
              <h2 class="sp-page-title-heading">Our Team</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sp-main-body">
    <div class="row">
      <main id="sp-component" class="col-lg-12 " role="main">
        <div class="sp-column ">
          <div id="system-message-container">
            <div class="row">
              <div id="sp-title" class="col-lg-12 ">
                <div class="sp-column ">
                    <div class="container text-center">
                      <h2 class="sp-page-title-heading info">The Brilliant Brains behind Farmfunds Africa <br><br>
                      <span class="text-primary">MANAGEMENT TEAM</span>
                    </h2>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div id="sp-page-builder" class="sp-page-builder  page-3">


            <div class="page-content">
              <section id="section-id-1551656996037" class="sppb-section  ">
                <div class="sppb-row-container">
                  <div class="sppb-row">
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="column-id-1551656996036" class="sppb-column">
                        <div class="sppb-column-addons">
                          <div id="sppb-addon-1551656996042" class="clearfix">
                            <div class="sppb-addon sppb-addon-feature  ">
                              <div class="sppb-addon-content sppb-text-center">
                                <span class="sppb-img-container"><a
                                    href="#"><img
                                      class="sppb-img-responsive"
                                      src="assets/images/staff/dorcas.jpg" style="width: 200px;height: 200px;"
                                      alt="Farmfunds Team"></a></span>
                                <div class="sppb-media-content">
                                  <h4
                                    class="sppb-addon-title sppb-feature-box-title">
                                    Dorcas Omamuli
                                  </h4>
                                  <div class="sppb-addon-text">
                                    <!-- <div class="text">
                                      <p>Industry helped me transform my
                                        dated, <br />patchwork front
                                        yard inviting.</p>
                                    </div> -->
                                    <p class="author-title"><a href="#">
                                      Founder/CEO</a></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <br>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="column-id-1551656996036" class="sppb-column">
                        <div class="sppb-column-addons">
                          <div id="sppb-addon-1551656996079" class="clearfix">
                            <div class="sppb-addon sppb-addon-feature  ">
                              <div class="sppb-addon-content sppb-text-center">
                                <span class="sppb-img-container"><a
                                    href="#"><img
                                      class="sppb-img-responsive"
                                      src="assets/images/staff/udo.jpeg" style="width: 200px;height: 200px;"
                                      alt="Farmfunds Team"></a></span>
                                <div class="sppb-media-content">
                                  <h4
                                    class="sppb-addon-title sppb-feature-box-title">
                                    Aniekan Udo
                                  </h4>
                                  <div class="sppb-addon-text">
                                    <!-- <div class="text">
                                      <p>Idea of denouncing pleasure &amp;
                                        praising <br />pain was born and
                                        I will give you completed
                                        <br />account of the system.</p>
                                    </div> -->
                                    <p class="author-title"><a href="#">
                                      Operations Manager</a></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <br>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="column-id-1551656996036" class="sppb-column">
                        <div class="sppb-column-addons">
                          <div id="sppb-addon-1551656996053" class="clearfix">
                            <div class="sppb-addon sppb-addon-feature  ">
                              <div class="sppb-addon-content sppb-text-center">
                                <span class="sppb-img-container"><a
                                    href="#"><img
                                      class="sppb-img-responsive"
                                      src="assets/images/staff/festus.jpg" style="width: 200px;height: 200px;"
                                      alt="Farmfunds Team"></a></span>
                                <div class="sppb-media-content">
                                  <h4
                                    class="sppb-addon-title sppb-feature-box-title">
                                    Festus Akoja
                                  </h4>
                                  <div class="sppb-addon-text">
                                    <!-- <div class="text">
                                      <p>Idea of denouncing pleasure &amp;
                                        praising <br />pain was born and
                                        I will give you completed
                                        <br />account of the system.</p>
                                    </div> -->
                                    <p class="author-title"><a href="#">
                                      Accounts Manager</a></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="column-id-1551656996036" class="sppb-column">
                        <div class="sppb-column-addons">
                          <div id="sppb-addon-1551656996068" class="clearfix">
                            <div class="sppb-addon sppb-addon-feature  ">
                              <div class="sppb-addon-content sppb-text-center">
                                <span class="sppb-img-container"><a
                                    href="#"><img
                                      class="sppb-img-responsive"
                                      src="assets/images/staff/adeyemi.jpg" style="width: 200px;height: 200px;"
                                      alt="Farmfunds Team"></a></span>
                                <div class="sppb-media-content">
                                  <h4
                                    class="sppb-addon-title sppb-feature-box-title">
                                    Adeyemi Bolaji
                                  </h4>
                                  <div class="sppb-addon-text">
                                    <!-- <div class="text">
                                      <p>Industry helped me transform my
                                        dated, <br />patchwork front
                                        yard inviting.</p>
                                    </div> -->
                                    <p class="author-title"><a href="#">Customer Relationship Manager</a></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="column-id-1551656996036" class="sppb-column">
                        <div class="sppb-column-addons">
                          <div id="sppb-addon-1551656996092" class="clearfix">
                            <div class="sppb-addon sppb-addon-feature  ">
                              <div class="sppb-addon-content sppb-text-center">
                                <span class="sppb-img-container"><a
                                    href="#"><img
                                      class="sppb-img-responsive"
                                      src="assets/images/staff/innocent.jpg" style="width: 200px;height: 200px;"
                                      alt="Farmfunds Team"></a></span>
                                <div class="sppb-media-content">
                                  <h4
                                    class="sppb-addon-title sppb-feature-box-title">
                                    Innocent Ginah
                                  </h4>
                                  <div class="sppb-addon-text">
                                    <!-- <div class="text">
                                      <p>Industry helped me transform my
                                        dated, <br />patchwork front
                                        yard inviting.</p>
                                    </div> -->
                                    <p class="author-title"><a
                                        href="#">Logistics Manager</a></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="sppb-addon-1551656996084" class="clearfix">
                        <div class="sppb-addon sppb-addon-feature  ">
                          <div class="sppb-addon-content sppb-text-center">
                            <span class="sppb-img-container"><a
                                href="#"><img
                                  class="sppb-img-responsive"
                                  src="assets/images/staff/folake.jpg" style="width: 200px;height: 200px;"
                                  alt="Farmfunds Team"></a></span>
                            <div class="sppb-media-content">
                              <h4
                                class="sppb-addon-title sppb-feature-box-title">
                                Folake A. Cole
                              </h4>
                              <div class="sppb-addon-text">
                                <!-- <div class="text">
                                  <p>Industry helped me transform my
                                    dated, <br />patchwork front
                                    yard inviting.</p>
                                </div> -->
                                <p class="author-title"><a
                                    href="#">Media & Corporate Communications Manager</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="sppb-addon-1551656996108" class="clearfix">
                        <div class="sppb-addon sppb-addon-feature  ">
                          <div class="sppb-addon-content sppb-text-center">
                            <span class="sppb-img-container"><a
                                href="#"><img
                                  class="sppb-img-responsive"
                                  src="assets/images/staff/damilola.jpg" style="width: 200px;height: 200px;"
                                  alt="Farmfunds Team"></a></span>
                            <div class="sppb-media-content">
                              <h4
                                class="sppb-addon-title sppb-feature-box-title">
                                Damilola Adande
                              </h4>
                              <div class="sppb-addon-text">
                                <!-- <div class="text">
                                  <p>Idea of denouncing pleasure &amp;
                                    praising <br />pain was born and
                                    I will give you completed
                                    <br />account of the system.</p>
                                </div> -->
                                <p class="author-title"><a href="#">
                                  HR Manager/Executive Assistant to the CEO</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="sppb-addon-1551656996084" class="clearfix">
                        <div class="sppb-addon sppb-addon-feature  ">
                          <div class="sppb-addon-content sppb-text-center">
                            <span class="sppb-img-container"><a
                                href="#"><img
                                  class="sppb-img-responsive"
                                  src="assets/images/staff/dozie.jpg" style="width: 200px;height: 200px;"
                                  alt="Farmfunds Team"></a></span>
                            <div class="sppb-media-content">
                              <h4
                                class="sppb-addon-title sppb-feature-box-title">
                                Chidozie Chijioke
                              </h4>
                              <div class="sppb-addon-text">
                                <!-- <div class="text">
                                  <p>Industry helped me transform my
                                    dated, <br />patchwork front
                                    yard inviting.</p>
                                </div> -->
                                <p class="author-title"><a
                                    href="#">Sales Manager</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </main>
    </div>

    <div class="row">
      <main id="sp-component" class="col-lg-12 " role="main">
        <div class="sp-column ">
          <div id="system-message-container">
            <div class="row">
              <div id="sp-title" class="col-lg-12 ">
                <div class="sp-column ">
                    <div class="container text-center">
                      <h2 class="sp-page-title-heading info">
                      <span class="text-primary">OUR TEAM</span>
                    </h2>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div id="sp-page-builder" class="sp-page-builder  page-3">

            <div class="page-content">
              <section id="section-id-1551656996037" class="sppb-section  ">
                <div class="sppb-row-container">
                  <div class="sppb-row">
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="sppb-addon-1551656996108" class="clearfix">
                        <div class="sppb-addon sppb-addon-feature  ">
                          <div class="sppb-addon-content sppb-text-center">
                            <span class="sppb-img-container"><a
                                href="#"><img
                                  class="sppb-img-responsive"
                                  src="assets/images/staff/david.jpg" style="width: 200px;height: 200px;"
                                  alt="Farmfunds Team"></a></span>
                            <div class="sppb-media-content">
                              <h4
                                class="sppb-addon-title sppb-feature-box-title">
                                David Lare
                              </h4>
                              <div class="sppb-addon-text">
                                <!-- <div class="text">
                                  <p>Idea of denouncing pleasure &amp;
                                    praising <br />pain was born and
                                    I will give you completed
                                    <br />account of the system.</p>
                                </div> -->
                                <p class="author-title"><a href="#">
                                 Creative Designer</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="sppb-addon-1551656996108" class="clearfix">
                        <div class="sppb-addon sppb-addon-feature  ">
                          <div class="sppb-addon-content sppb-text-center">
                            <span class="sppb-img-container"><a
                                href="#"><img
                                  class="sppb-img-responsive"
                                  src="assets/images/staff/oreoluwa.jpg" style="width: 200px;height: 200px;"
                                  alt="Farmfunds Team"></a></span>
                            <div class="sppb-media-content">
                              <h4
                                class="sppb-addon-title sppb-feature-box-title">
                                Oreoluwa Adeyeye
                              </h4>
                              <div class="sppb-addon-text">
                                <!-- <div class="text">
                                  <p>Idea of denouncing pleasure &amp;
                                    praising <br />pain was born and
                                    I will give you completed
                                    <br />account of the system.</p>
                                </div> -->
                                <p class="author-title"><a href="#">
                                  Front Desk /Customer Service Representative</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="column-id-1551656996036" class="sppb-column">
                        <div class="sppb-column-addons">
                          <div id="sppb-addon-1551656996056" class="clearfix">
                            <div class="sppb-addon sppb-addon-feature  ">
                              <div class="sppb-addon-content sppb-text-center">
                                <span class="sppb-img-container"><a
                                    href="#"><img
                                      class="sppb-img-responsive"
                                      src="assets/images/staff/samuel.jpg" style="width: 200px;height: 200px;"
                                      alt="Farmfunds Team"></a></span>
                                <div class="sppb-media-content">
                                  <h4
                                    class="sppb-addon-title sppb-feature-box-title">
                                    Samuel Oduala
                                  </h4>
                                  <div class="sppb-addon-text">
                                    <!-- <div class="text">
                                      <p>Industry helped me transform my
                                        dated, <br />patchwork front
                                        yard inviting.</p>
                                    </div> -->
                                    <p class="author-title"><a href="#">
                                      Customer Relationship Officer</a></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="column-id-1551656996036" class="sppb-column">
                        <div class="sppb-column-addons">
                          <div id="sppb-addon-1551656996103" class="clearfix">
                            <div class="sppb-addon sppb-addon-feature  ">
                              <div class="sppb-addon-content sppb-text-center">
                                <span class="sppb-img-container"><a
                                    href="#"><img
                                      class="sppb-img-responsive"
                                      src="assets/images/staff/abiola.jpg" style="width: 200px;height: 200px;"
                                      alt="Farmfunds Team"></a></span>
                                <div class="sppb-media-content">
                                  <h4
                                    class="sppb-addon-title sppb-feature-box-title">
                                    Abiola Ategun
                                  </h4>
                                  <div class="sppb-addon-text">
                                    <!-- <div class="text">
                                      <p>Idea of denouncing pleasure &amp;
                                        praising <br />pain was born and
                                        I will give you completed
                                        <br />account of the system.</p>
                                    </div> -->
                                    <p class="author-title"><a href="#">
                                      Customer Relationship Officer</a></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <br>
                          </div>
                        </div>
                      </div>
                   </div>
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                          <div id="sppb-addon-1551656996108" class="clearfix">
                            <div class="sppb-addon sppb-addon-feature  ">
                              <div class="sppb-addon-content sppb-text-center">
                                <span class="sppb-img-container"><a
                                    href="#"><img
                                      class="sppb-img-responsive"
                                      src="assets/images/staff/funmi.jpg" style="width: 200px;height: 200px;"
                                      alt="Farmfunds Team"></a></span>
                                <div class="sppb-media-content">
                                  <h4
                                    class="sppb-addon-title sppb-feature-box-title">
                                    Oluwafunmilayo Ajayi
                                  </h4>
                                  <div class="sppb-addon-text">
                                    <!-- <div class="text">
                                      <p>Idea of denouncing pleasure &amp;
                                        praising <br />pain was born and
                                        I will give you completed
                                        <br />account of the system.</p>
                                    </div> -->
                                    <p class="author-title"><a href="#">
                                      Accounts Officer</a></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="sppb-addon-1551656996108" class="clearfix">
                        <div class="sppb-addon sppb-addon-feature  ">
                          <div class="sppb-addon-content sppb-text-center">
                            <span class="sppb-img-container"><a
                                href="#"><img
                                  class="sppb-img-responsive"
                                  src="assets/images/staff/tosin.jpg" style="width: 200px;height: 200px;"
                                  alt="Farmfunds Team"></a></span>
                            <div class="sppb-media-content">
                              <h4
                                class="sppb-addon-title sppb-feature-box-title">
                                Oluwatosin Ajibulu
                              </h4>
                              <div class="sppb-addon-text">
                                <!-- <div class="text">
                                  <p>Idea of denouncing pleasure &amp;
                                    praising <br />pain was born and
                                    I will give you completed
                                    <br />account of the system.</p>
                                </div> -->
                                <p class="author-title"><a href="#">
                                  Cashier</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                      </div>
                    </div>
                      <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="sppb-addon-1551656996108" class="clearfix">
                        <div class="sppb-addon sppb-addon-feature  ">
                          <div class="sppb-addon-content sppb-text-center">
                            <span class="sppb-img-container"><a
                                href="#"><img
                                  class="sppb-img-responsive"
                                  src="assets/images/staff/bridget.jpg" style="width: 200px;height: 200px;"
                                  alt="Farmfunds Team"></a></span>
                            <div class="sppb-media-content">
                              <h4
                                class="sppb-addon-title sppb-feature-box-title">
                                Bridget Oni
                              </h4>
                              <div class="sppb-addon-text">
                                <!-- <div class="text">
                                  <p>Idea of denouncing pleasure &amp;
                                    praising <br />pain was born and
                                    I will give you completed
                                    <br />account of the system.</p>
                                </div> -->
                                <p class="author-title"><a href="#">
                                  Business Development Officer</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                      </div>
                    </div>
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="sppb-addon-1551656996108" class="clearfix">
                        <div class="sppb-addon sppb-addon-feature  ">
                          <div class="sppb-addon-content sppb-text-center">
                            <span class="sppb-img-container"><a
                                href="#"><img
                                  class="sppb-img-responsive"
                                  src="assets/images/staff/evelyn.jpg" style="width: 200px;height: 200px;"
                                  alt="Farmfunds Team"></a></span>
                            <div class="sppb-media-content">
                              <h4
                                class="sppb-addon-title sppb-feature-box-title">
                                Evelyn Okonkwo
                              </h4>
                              <div class="sppb-addon-text">
                                <!-- <div class="text">
                                  <p>Idea of denouncing pleasure &amp;
                                    praising <br />pain was born and
                                    I will give you completed
                                    <br />account of the system.</p>
                                </div> -->
                                <p class="author-title"><a href="#">
                                  Business Development Officer</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </main>
    </div>

    <div class="row">
      <main id="sp-component" class="col-lg-12 " role="main">
        <div class="sp-column ">
          <div id="system-message-container">
            <div class="row">
              <div id="sp-title" class="col-lg-12 ">
                <div class="sp-column ">
                    <div class="container text-center">
                      <h2 class="sp-page-title-heading info">
                      <span class="text-primary">VAN SALES REPRESENTATIVES</span>
                    </h2>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div id="sp-page-builder" class="sp-page-builder  page-3">

            <div class="page-content">
              <section id="section-id-1551656996037" class="sppb-section  ">
                <div class="sppb-row-container">
                  <div class="sppb-row">
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="sppb-addon-1551656996108" class="clearfix">
                        <div class="sppb-addon sppb-addon-feature  ">
                          <div class="sppb-addon-content sppb-text-center">
                            <span class="sppb-img-container"><a
                                href="#"><img
                                  class="sppb-img-responsive"
                                  src="assets/images/farmfunds.JPG" style="width: 200px;height: 200px;"
                                  alt="Farmfunds Team"></a></span>
                            <div class="sppb-media-content">
                              <h4
                                class="sppb-addon-title sppb-feature-box-title">
                                Segun
                              </h4>
                              <div class="sppb-addon-text">
                                <!-- <div class="text">
                                  <p>Idea of denouncing pleasure &amp;
                                    praising <br />pain was born and
                                    I will give you completed
                                    <br />account of the system.</p>
                                </div> -->
                                <p class="author-title"><a href="#">
                                  Van Sales Representative</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="sppb-addon-1551656996108" class="clearfix">
                        <div class="sppb-addon sppb-addon-feature  ">
                          <div class="sppb-addon-content sppb-text-center">
                            <span class="sppb-img-container"><a
                                href="#"><img
                                  class="sppb-img-responsive"
                                  src="assets/images/lawal.jpeg" style="width: 200px;height: 200px;"
                                  alt="Farmfunds Team"></a></span>
                            <div class="sppb-media-content">
                              <h4
                                class="sppb-addon-title sppb-feature-box-title">
                                Lawal
                              </h4>
                              <div class="sppb-addon-text">
                                <!-- <div class="text">
                                  <p>Idea of denouncing pleasure &amp;
                                    praising <br />pain was born and
                                    I will give you completed
                                    <br />account of the system.</p>
                                </div> -->
                                <p class="author-title"><a href="#">
                                  Van Sales Representative</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="sppb-addon-1551656996108" class="clearfix">
                        <div class="sppb-addon sppb-addon-feature  ">
                          <div class="sppb-addon-content sppb-text-center">
                            <span class="sppb-img-container"><a
                                href="#"><img
                                  class="sppb-img-responsive"
                                  src="assets/images/farmfunds.JPG" style="width: 200px;height: 200px;"
                                  alt="Farmfunds Team"></a></span>
                            <div class="sppb-media-content">
                              <h4
                                class="sppb-addon-title sppb-feature-box-title">
                                Stanley
                              </h4>
                              <div class="sppb-addon-text">
                                <!-- <div class="text">
                                  <p>Idea of denouncing pleasure &amp;
                                    praising <br />pain was born and
                                    I will give you completed
                                    <br />account of the system.</p>
                                </div> -->
                                <p class="author-title"><a href="#">
                                  Van Sales Representative</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </main>
    </div>

    <div class="row">
      <main id="sp-component" class="col-lg-12 " role="main">
        <div class="sp-column ">
          <div id="system-message-container">
            <div class="row">
              <div id="sp-title" class="col-lg-12 ">
                <div class="sp-column ">
                    <div class="container text-center">
                      <h2 class="sp-page-title-heading info">
                      <span class="text-primary">DISPATCH RIDERS</span>
                    </h2>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div id="sp-page-builder" class="sp-page-builder  page-3">

            <div class="page-content">
              <section id="section-id-1551656996037" class="sppb-section  ">
                <div class="sppb-row-container">
                  <div class="sppb-row">
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="sppb-addon-1551656996108" class="clearfix">
                        <div class="sppb-addon sppb-addon-feature  ">
                          <div class="sppb-addon-content sppb-text-center">
                            <span class="sppb-img-container"><a
                                href="#"><img
                                  class="sppb-img-responsive"
                                  src="assets/images/farmfunds.JPG" style="width: 200px;height: 200px;"
                                  alt="Farmfunds Team"></a></span>
                            <div class="sppb-media-content">
                              <h4
                                class="sppb-addon-title sppb-feature-box-title">
                                John
                              </h4>
                              <div class="sppb-addon-text">
                                <!-- <div class="text">
                                  <p>Idea of denouncing pleasure &amp;
                                    praising <br />pain was born and
                                    I will give you completed
                                    <br />account of the system.</p>
                                </div> -->
                                <p class="author-title"><a href="#">
                                  Dispatch Rider</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                      </div>
                    </div>
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="sppb-addon-1551656996108" class="clearfix">
                        <div class="sppb-addon sppb-addon-feature  ">
                          <div class="sppb-addon-content sppb-text-center">
                            <span class="sppb-img-container"><a
                                href="#"><img
                                  class="sppb-img-responsive"
                                  src="assets/images/farmfunds.JPG" style="width: 200px;height: 200px;"
                                  alt="Farmfunds Team"></a></span>
                            <div class="sppb-media-content">
                              <h4
                                class="sppb-addon-title sppb-feature-box-title">
                                Samson
                              </h4>
                              <div class="sppb-addon-text">
                                <!-- <div class="text">
                                  <p>Idea of denouncing pleasure &amp;
                                    praising <br />pain was born and
                                    I will give you completed
                                    <br />account of the system.</p>
                                </div> -->
                                <p class="author-title"><a href="#">
                                  Dispatch Rider</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sppb-col-md-4" id="column-wrap-id-1551656996036">
                      <div id="sppb-addon-1551656996108" class="clearfix">
                        <div class="sppb-addon sppb-addon-feature  ">
                          <div class="sppb-addon-content sppb-text-center">
                            <span class="sppb-img-container"><a
                                href="#"><img
                                  class="sppb-img-responsive"
                                  src="assets/images/farmfunds.JPG" style="width: 200px;height: 200px;"
                                  alt="Farmfunds Team"></a></span>
                            <div class="sppb-media-content">
                              <h4
                                class="sppb-addon-title sppb-feature-box-title">
                                Gabriel
                              </h4>
                              <div class="sppb-addon-text">
                                <!-- <div class="text">
                                  <p>Idea of denouncing pleasure &amp;
                                    praising <br />pain was born and
                                    I will give you completed
                                    <br />account of the system.</p>
                                </div> -->
                                <p class="author-title"><a href="#">
                                  Dispatch Rider</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </main>
    </div>
  </section>
</div>

