<div class="site helix-ultimate com-sppagebuilder view-page layout-default task-none itemid-127">
  <section id="sp-section-4">
    <div class="row">
      <div id="sp-title" class="col-lg-12 ">
        <div class="sp-column ">
          <div class="sp-page-title"
            style="background-image: url(assets/images/background/inner-banner-bg.jpg);">
            <div class="container">
              <h2 class="sp-page-title-heading">Gallery Girid View</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sp-main-body">
    <div class="row">
      <main id="sp-component" class="col-lg-12 " role="main">
        <div class="sp-column ">
          <div id="system-message-container">
          </div>

          <div id="sp-page-builder" class="sp-page-builder  page-9">


            <div class="page-content">
              <section id="section-id-1551747033958" class="sppb-section  ">
                <div class="sppb-row-container">
                  <div class="sppb-row">
                    <div class="sppb-col-md-12" id="column-wrap-id-1551747033957">
                      <div id="column-id-1551747033957" class="sppb-column">
                        <div class="sppb-column-addons">
                          <div id="sppb-addon-1551747511672" class="clearfix">
                            <div class="sppb-addon sppb-addon-module ">
                              <div class="sppb-addon-content">
                                <div id="mod-sp-simpleportfolio"
                                  class="sp-simpleportfolio sp-simpleportfolio-view-items layout-gallery-space ">
                                  <div class="sp-simpleportfolio-filter">
                                    <ul>
                                      <li class="active" data-group="all">
                                        <a href="#">Show All</a></li>
                                      <li data-group="lawn-care"><a
                                          href="#">Lawn Care</a></li>
                                      <li data-group="garden-care"><a
                                          href="#">Garden Care</a>
                                      </li>
                                      <li data-group="snow-removal"><a
                                          href="#">Snow Removal</a>
                                      </li>
                                      <li data-group="planting"><a
                                          href="#">Planting</a></li>
                                      <li data-group="videos"><a
                                          href="#">Videos</a></li>
                                    </ul>
                                  </div>


                                  <div
                                    class="sp-simpleportfolio-items sp-simpleportfolio-columns-4">
                                    <div class="sp-simpleportfolio-item"
                                      data-groups='["garden-care"]'>
                                      <div
                                        class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/spsimpleportfolio/modern-garden/1_600x600.jpg"
                                          alt="Modern Garden">

                                        <div
                                          class="sp-simpleportfolio-overlay">
                                          <div
                                            class="sp-vertical-middle">
                                            <div>
                                              <div
                                                class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/spsimpleportfolio/modern-garden/1_600x600.jpg"
                                                  data-featherlight="image"><i
                                                    class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div
                                                class="sp-simpleportfolio-bottom">
                                                <h3
                                                  class="sp-simpleportfolio-title">
                                                  <a
                                                    href="../gallery-detail-page/item/1-modern-garden.html">
                                                    Modern
                                                    Garden
                                                  </a>
                                                </h3>
                                                <div
                                                  class="sp-simpleportfolio-tags">
                                                  Garden Care
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                    <div class="sp-simpleportfolio-item"
                                      data-groups='["lawn-care"]'>
                                      <div
                                        class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/spsimpleportfolio/modern-garden-2/2_600x600.jpg"
                                          alt="Modern Garden">

                                        <div
                                          class="sp-simpleportfolio-overlay">
                                          <div
                                            class="sp-vertical-middle">
                                            <div>
                                              <div
                                                class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/spsimpleportfolio/modern-garden-2/2_600x600.jpg"
                                                  data-featherlight="image"><i
                                                    class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div
                                                class="sp-simpleportfolio-bottom">
                                                <h3
                                                  class="sp-simpleportfolio-title">
                                                  <a
                                                    href="../gallery-detail-page/item/2-modern-garden-2.html">
                                                    Modern
                                                    Garden
                                                  </a>
                                                </h3>
                                                <div
                                                  class="sp-simpleportfolio-tags">
                                                  Lawn Care
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                    <div class="sp-simpleportfolio-item"
                                      data-groups='["snow-removal"]'>
                                      <div
                                        class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/spsimpleportfolio/modern-garden-3/3_600x600.jpg"
                                          alt="Modern Garden">

                                        <div
                                          class="sp-simpleportfolio-overlay">
                                          <div
                                            class="sp-vertical-middle">
                                            <div>
                                              <div
                                                class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/spsimpleportfolio/modern-garden-3/3_600x600.jpg"
                                                  data-featherlight="image"><i
                                                    class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div
                                                class="sp-simpleportfolio-bottom">
                                                <h3
                                                  class="sp-simpleportfolio-title">
                                                  <a
                                                    href="../gallery-detail-page/item/3-modern-garden-3.html">
                                                    Modern
                                                    Garden
                                                  </a>
                                                </h3>
                                                <div
                                                  class="sp-simpleportfolio-tags">
                                                  Snow Removal
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                    <div class="sp-simpleportfolio-item"
                                      data-groups='["planting"]'>
                                      <div
                                        class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/spsimpleportfolio/modern-garden-4/4_600x600.jpg"
                                          alt="Modern Garden">

                                        <div
                                          class="sp-simpleportfolio-overlay">
                                          <div
                                            class="sp-vertical-middle">
                                            <div>
                                              <div
                                                class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/spsimpleportfolio/modern-garden-4/4_600x600.jpg"
                                                  data-featherlight="image"><i
                                                    class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div
                                                class="sp-simpleportfolio-bottom">
                                                <h3
                                                  class="sp-simpleportfolio-title">
                                                  <a
                                                    href="../gallery-detail-page/item/4-modern-garden-4.html">
                                                    Modern
                                                    Garden
                                                  </a>
                                                </h3>
                                                <div
                                                  class="sp-simpleportfolio-tags">
                                                  Planting
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                    <div class="sp-simpleportfolio-item"
                                      data-groups='["lawn-care"]'>
                                      <div
                                        class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/spsimpleportfolio/modern-garden-5/17_600x600.jpg"
                                          alt="Modern Garden">

                                        <div
                                          class="sp-simpleportfolio-overlay">
                                          <div
                                            class="sp-vertical-middle">
                                            <div>
                                              <div
                                                class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/spsimpleportfolio/modern-garden-5/17_600x600.jpg"
                                                  data-featherlight="image"><i
                                                    class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div
                                                class="sp-simpleportfolio-bottom">
                                                <h3
                                                  class="sp-simpleportfolio-title">
                                                  <a
                                                    href="../gallery-detail-page/item/5-modern-garden-5.html">
                                                    Modern
                                                    Garden
                                                  </a>
                                                </h3>
                                                <div
                                                  class="sp-simpleportfolio-tags">
                                                  Lawn Care
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                    <div class="sp-simpleportfolio-item"
                                      data-groups='["garden-care"]'>
                                      <div
                                        class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/spsimpleportfolio/modern-garden-6/18_600x600.jpg"
                                          alt="Modern Garden">

                                        <div
                                          class="sp-simpleportfolio-overlay">
                                          <div
                                            class="sp-vertical-middle">
                                            <div>
                                              <div
                                                class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/spsimpleportfolio/modern-garden-6/18_600x600.jpg"
                                                  data-featherlight="image"><i
                                                    class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div
                                                class="sp-simpleportfolio-bottom">
                                                <h3
                                                  class="sp-simpleportfolio-title">
                                                  <a
                                                    href="../gallery-detail-page/item/6-modern-garden-6.html">
                                                    Modern
                                                    Garden
                                                  </a>
                                                </h3>
                                                <div
                                                  class="sp-simpleportfolio-tags">
                                                  Garden Care
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                    <div class="sp-simpleportfolio-item"
                                      data-groups='["planting"]'>
                                      <div
                                        class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/spsimpleportfolio/modern-garden-7/19_600x600.jpg"
                                          alt="Modern Garden">

                                        <div
                                          class="sp-simpleportfolio-overlay">
                                          <div
                                            class="sp-vertical-middle">
                                            <div>
                                              <div
                                                class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/spsimpleportfolio/modern-garden-7/19_600x600.jpg"
                                                  data-featherlight="image"><i
                                                    class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div
                                                class="sp-simpleportfolio-bottom">
                                                <h3
                                                  class="sp-simpleportfolio-title">
                                                  <a
                                                    href="../gallery-detail-page/item/7-modern-garden-7.html">
                                                    Modern
                                                    Garden
                                                  </a>
                                                </h3>
                                                <div
                                                  class="sp-simpleportfolio-tags">
                                                  Planting
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                    <div class="sp-simpleportfolio-item"
                                      data-groups='["lawn-care"]'>
                                      <div
                                        class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/spsimpleportfolio/modern-garden-8/20_600x600.jpg"
                                          alt="Modern Garden">

                                        <div
                                          class="sp-simpleportfolio-overlay">
                                          <div
                                            class="sp-vertical-middle">
                                            <div>
                                              <div
                                                class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/spsimpleportfolio/modern-garden-8/20_600x600.jpg"
                                                  data-featherlight="image"><i
                                                    class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div
                                                class="sp-simpleportfolio-bottom">
                                                <h3
                                                  class="sp-simpleportfolio-title">
                                                  <a
                                                    href="../gallery-detail-page/item/8-modern-garden-8.html">
                                                    Modern
                                                    Garden
                                                  </a>
                                                </h3>
                                                <div
                                                  class="sp-simpleportfolio-tags">
                                                  Lawn Care
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                    <div class="sp-simpleportfolio-item"
                                      data-groups='["garden-care"]'>
                                      <div
                                        class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/spsimpleportfolio/modern-garden-9/21_600x600.jpg"
                                          alt="Modern Garden">

                                        <div
                                          class="sp-simpleportfolio-overlay">
                                          <div
                                            class="sp-vertical-middle">
                                            <div>
                                              <div
                                                class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/spsimpleportfolio/modern-garden-9/21_600x600.jpg"
                                                  data-featherlight="image"><i
                                                    class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div
                                                class="sp-simpleportfolio-bottom">
                                                <h3
                                                  class="sp-simpleportfolio-title">
                                                  <a
                                                    href="../gallery-detail-page/item/9-modern-garden-9.html">
                                                    Modern
                                                    Garden
                                                  </a>
                                                </h3>
                                                <div
                                                  class="sp-simpleportfolio-tags">
                                                  Garden Care
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                    <div class="sp-simpleportfolio-item"
                                      data-groups='["snow-removal"]'>
                                      <div
                                        class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/spsimpleportfolio/modern-garden-10/22_600x600.jpg"
                                          alt="Modern Garden">

                                        <div
                                          class="sp-simpleportfolio-overlay">
                                          <div
                                            class="sp-vertical-middle">
                                            <div>
                                              <div
                                                class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/spsimpleportfolio/modern-garden-10/22_600x600.jpg"
                                                  data-featherlight="image"><i
                                                    class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div
                                                class="sp-simpleportfolio-bottom">
                                                <h3
                                                  class="sp-simpleportfolio-title">
                                                  <a
                                                    href="../gallery-detail-page/item/10-modern-garden-10.html">
                                                    Modern
                                                    Garden
                                                  </a>
                                                </h3>
                                                <div
                                                  class="sp-simpleportfolio-tags">
                                                  Snow Removal
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                    <div class="sp-simpleportfolio-item"
                                      data-groups='["planting"]'>
                                      <div
                                        class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/spsimpleportfolio/modern-garden-11/23_600x600.jpg"
                                          alt="Modern Garden">

                                        <div
                                          class="sp-simpleportfolio-overlay">
                                          <div
                                            class="sp-vertical-middle">
                                            <div>
                                              <div
                                                class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/spsimpleportfolio/modern-garden-11/23_600x600.jpg"
                                                  data-featherlight="image"><i
                                                    class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div
                                                class="sp-simpleportfolio-bottom">
                                                <h3
                                                  class="sp-simpleportfolio-title">
                                                  <a
                                                    href="../gallery-detail-page/item/11-modern-garden-11.html">
                                                    Modern
                                                    Garden
                                                  </a>
                                                </h3>
                                                <div
                                                  class="sp-simpleportfolio-tags">
                                                  Planting
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                    <div class="sp-simpleportfolio-item"
                                      data-groups='["videos"]'>
                                      <div
                                        class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/spsimpleportfolio/modern-garden-12/24_600x600.jpg"
                                          alt="Modern Garden">

                                        <div
                                          class="sp-simpleportfolio-overlay">
                                          <div
                                            class="sp-vertical-middle">
                                            <div>
                                              <div
                                                class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/spsimpleportfolio/modern-garden-12/24_600x600.jpg"
                                                  data-featherlight="image"><i
                                                    class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div
                                                class="sp-simpleportfolio-bottom">
                                                <h3
                                                  class="sp-simpleportfolio-title">
                                                  <a
                                                    href="../gallery-detail-page/item/12-modern-garden-12.html">
                                                    Modern
                                                    Garden
                                                  </a>
                                                </h3>
                                                <div
                                                  class="sp-simpleportfolio-tags">
                                                  Videos
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </main>
    </div>
  </section>
</div>
