<div class="site helix-ultimate com-sppagebuilder view-page layout-default task-none itemid-127">
  <section id="sp-section-4">
    <div class="row">
      <div id="sp-title" class="col-lg-12 ">
        <div class="sp-column ">
          <div class="sp-page-title" style="background-image: url(assets/images/background/inner-banner-bg.jpg);">
            <div class="container">
              <h2 class="sp-page-title-heading">Gallery</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sp-main-body">
    <div class="row">
      <main id="sp-component" class="col-lg-12 " role="main">
        <div class="sp-column ">
          <div id="system-message-container">
          </div>
          <div id="sp-page-builder" class="sp-page-builder  page-9">
            <div class="page-content">
              <section id="section-id-1551747033958" class="sppb-section  ">
                <div class="sppb-row-container">
                  <div class="sppb-row">
                    <div class="sppb-col-md-12" id="column-wrap-id-1551747033957">
                      <div id="column-id-1551747033957" class="sppb-column">
                        <div class="sppb-column-addons">
                          <div id="sppb-addon-1551747511672" class="clearfix">
                            <div class="sppb-addon sppb-addon-module ">
                              <div class="sppb-addon-content">
                                <div id="mod-sp-simpleportfolio"
                                  class="sp-simpleportfolio sp-simpleportfolio-view-items layout-gallery-space ">
                                  <div class="sp-simpleportfolio-filter">
                                    <ul>
                                      <li class="active" data-group="all">
                                        <a >Show All</a></li>
                                      <li data-group="poultry"><a >POULTRY FARM</a></li>
                                      <li data-group="goat"><a >GOAT FARM</a>
                                      </li>
                                      <li data-group="pig"><a >PIG FARM</a>
                                      </li>
                                      <li data-group="team"><a >TEAM</a></li>
                                      <li data-group="videos"><a >Videos</a></li>
                                    </ul>
                                  </div>


                                  <div class="sp-simpleportfolio-items sp-simpleportfolio-columns-4">
                                    <div class="sp-simpleportfolio-item" data-groups='["poultry"]'>
                                      <div class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/poultry/poultry-14.jpeg"
                                          alt="Poultry">

                                        <div class="sp-simpleportfolio-overlay">
                                          <div class="sp-vertical-middle">
                                            <div>
                                              <div class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/poultry/poultry-14.jpeg"
                                                  data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div class="sp-simpleportfolio-bottom">
                                                <h3 class="sp-simpleportfolio-title">
                                                  <a href="assets/images/poultry/poultry-14.jpeg">
                                                    Poultry Farm
                                                  </a>
                                                </h3>
                                                <div class="sp-simpleportfolio-tags">
                                                  Farmfunds Africa
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="sp-simpleportfolio-item" data-groups='["goat"]'>
                                      <div class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/goat/goat-9.jpeg"
                                          alt="Modern Garden">

                                        <div class="sp-simpleportfolio-overlay">
                                          <div class="sp-vertical-middle">
                                            <div>
                                              <div class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/goat/goat-9.jpeg"
                                                  data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div class="sp-simpleportfolio-bottom">
                                                <h3 class="sp-simpleportfolio-title">
                                                  <a href="assets/images/goat/goat-9.jpeg">
                                                    Goat Farm
                                                  </a>
                                                </h3>
                                                <div class="sp-simpleportfolio-tags">
                                                  Farmfunds Africa
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="sp-simpleportfolio-item" data-groups='["pig"]'>
                                      <div class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/pig/pig-27.jpeg"
                                          alt="Modern Garden">

                                        <div class="sp-simpleportfolio-overlay">
                                          <div class="sp-vertical-middle">
                                            <div>
                                              <div class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/pig/pig-27.jpeg"
                                                  data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div class="sp-simpleportfolio-bottom">
                                                <h3 class="sp-simpleportfolio-title">
                                                  <a href="assets/images/pig/pig-27.jpeg">
                                                    Pig Farm
                                                  </a>
                                                </h3>
                                                <div class="sp-simpleportfolio-tags">
                                                  Farmfunds Africa
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="sp-simpleportfolio-item" data-groups='["team"]'>
                                      <div class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/arrival/arrival-6.jpeg"
                                          alt="Modern Garden">

                                        <div class="sp-simpleportfolio-overlay">
                                          <div class="sp-vertical-middle">
                                            <div>
                                              <div class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/arrival/arrival-6.jpeg"
                                                  data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div class="sp-simpleportfolio-bottom">
                                                <h3 class="sp-simpleportfolio-title">
                                                  <a href="assets/images/arrival/arrival-6.jpeg">
                                                    Team
                                                  </a>
                                                </h3>
                                                <div class="sp-simpleportfolio-tags">
                                                  Framfunds Africa
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="sp-simpleportfolio-item" data-groups='["poultry"]'>
                                      <div class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/poultry/poultry-26.jpeg"
                                          alt="Modern Garden">

                                        <div class="sp-simpleportfolio-overlay">
                                          <div class="sp-vertical-middle">
                                            <div>
                                              <div class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/poultry/poultry-26.jpeg"
                                                  data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div class="sp-simpleportfolio-bottom">
                                                <h3 class="sp-simpleportfolio-title">
                                                  <a href="assets/images/poultry/poultry-26.jpeg">
                                                    Poultry Farm
                                                  </a>
                                                </h3>
                                                <div class="sp-simpleportfolio-tags">
                                                  Farmfunds Africa
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="sp-simpleportfolio-item" data-groups='["goat"]'>
                                      <div class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/goat/goat-13.jpeg"
                                          alt="Modern Garden">

                                        <div class="sp-simpleportfolio-overlay">
                                          <div class="sp-vertical-middle">
                                            <div>
                                              <div class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/goat/goat-13.jpeg"
                                                  data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div class="sp-simpleportfolio-bottom">
                                                <h3 class="sp-simpleportfolio-title">
                                                  <a href="assets/images/goat/goat-13.jpeg">
                                                    Goat Farm
                                                  </a>
                                                </h3>
                                                <div class="sp-simpleportfolio-tags">
                                                  Farmfunds Africa
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="sp-simpleportfolio-item" data-groups='["pig"]'>
                                      <div class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/pig/pig-21.jpeg"
                                          alt="Modern Garden">

                                        <div class="sp-simpleportfolio-overlay">
                                          <div class="sp-vertical-middle">
                                            <div>
                                              <div class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/pig/pig-21.jpeg"
                                                  data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div class="sp-simpleportfolio-bottom">
                                                <h3 class="sp-simpleportfolio-title">
                                                  <a href="assets/images/pig/pig-21.jpeg">
                                                    Pig Farm
                                                  </a>
                                                </h3>
                                                <div class="sp-simpleportfolio-tags">
                                                  Farmfunds Africa
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="sp-simpleportfolio-item" data-groups='["team"]'>
                                      <div class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/farm/farm-20.jpeg"
                                          alt="Modern Garden">

                                        <div class="sp-simpleportfolio-overlay">
                                          <div class="sp-vertical-middle">
                                            <div>
                                              <div class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/farm/farm-20.jpeg"
                                                  data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div class="sp-simpleportfolio-bottom">
                                                <h3 class="sp-simpleportfolio-title">
                                                  <a href="assets/images/farm/farm-20.jpeg">
                                                      Team
                                                  </a>
                                                </h3>
                                                <div class="sp-simpleportfolio-tags">
                                                  Farmfunds Africa
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="sp-simpleportfolio-item" data-groups='["goat"]'>
                                      <div class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/goat/goat-10.jpeg"
                                          alt="Modern Garden">

                                        <div class="sp-simpleportfolio-overlay">
                                          <div class="sp-vertical-middle">
                                            <div>
                                              <div class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/goat/goat-10.jpeg"
                                                  data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div class="sp-simpleportfolio-bottom">
                                                <h3 class="sp-simpleportfolio-title">
                                                  <a href="assets/images/goat/goat-10.jpeg">
                                                    Gat Farm
                                                  </a>
                                                </h3>
                                                <div class="sp-simpleportfolio-tags">
                                                  Farmfunds Africa
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="sp-simpleportfolio-item" data-groups='["poultry"]'>
                                      <div class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/poultry/poultry-17.jpeg"
                                          alt="Modern Garden">

                                        <div class="sp-simpleportfolio-overlay">
                                          <div class="sp-vertical-middle">
                                            <div>
                                              <div class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/poultry/poultry-17.jpeg"
                                                  data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div class="sp-simpleportfolio-bottom">
                                                <h3 class="sp-simpleportfolio-title">
                                                  <a href="assets/images/poultry/poultry-17.jpeg">
                                                    Poultry Farm
                                                  </a>
                                                </h3>
                                                <div class="sp-simpleportfolio-tags">
                                                  Farmfunds Africa
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="sp-simpleportfolio-item" data-groups='["pig"]'>
                                      <div class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/pig/pig-27.jpeg"
                                          alt="Modern Garden">

                                        <div class="sp-simpleportfolio-overlay">
                                          <div class="sp-vertical-middle">
                                            <div>
                                              <div class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/pig/pig-27.jpeg"
                                                  data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div class="sp-simpleportfolio-bottom">
                                                <h3 class="sp-simpleportfolio-title">
                                                  <a href="assets/images/pig/pig-27.jpeg">
                                                    Pig Farm
                                                  </a>
                                                </h3>
                                                <div class="sp-simpleportfolio-tags">
                                                  Farmfunds Africa
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="sp-simpleportfolio-item" data-groups='["team"]'>
                                      <div class="sp-simpleportfolio-overlay-wrapper clearfix">

                                        <img class="sp-simpleportfolio-img"
                                          src="assets/images/arrival/arrival-8.jpeg"
                                          alt="Modern Garden">

                                        <div class="sp-simpleportfolio-overlay">
                                          <div class="sp-vertical-middle">
                                            <div>
                                              <div class="sp-simpleportfolio-button">
                                                <a class="btn-zoom"
                                                  href="assets/images/arrival/arrival-8.jpeg"
                                                  data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                              </div>
                                              <div class="sp-simpleportfolio-bottom">
                                                <h3 class="sp-simpleportfolio-title">
                                                  <a href="assets/images/arrival/arrival-8.jpeg">
                                                    Team
                                                  </a>
                                                </h3>
                                                <div class="sp-simpleportfolio-tags">
                                                  Farmfunds Africa
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </main>
    </div>
  </section>
</div>
