<footer id="sp-footer">
  <div class="row">
    <div id="sp-footer1" class="col-lg-12">
      <div class="sp-column">
        <div class="sp-module">
          <div class="sp-module-content">
            <div class="mod-sppagebuilder sp-page-builder" data-module_id="111">
              <div class="page-content">
                <div id="section-id-1551320575334" class="sppb-section z-index99">
                  <div class="sppb-container-inner">
                    <div class="sppb-row">
                      <div class="sppb-col-md-12" id="column-wrap-id-1551320575333">
                        <div id="column-id-1551320575333" class="sppb-column">
                          <div class="sppb-column-addons">
                            <div id="section-id-1551320575338" class="sppb-section">
                              <div class="sppb-container-inner">
                                <div class="sppb-row">
                                  <div class="sppb-col-md-3 sppb-col-sm-6" id="column-wrap-id-1551320575339">
                                    <div id="column-id-1551320575339" class="sppb-column">
                                      <div class="sppb-column-addons">
                                        <div id="sppb-addon-1551320575349" class="clearfix">
                                          <div class="sppb-addon sppb-addon-text-block">
                                            <h4 class="sppb-addon-title">
                                              About
                                            </h4>
                                            <div class="sppb-addon-content">
                                              <div class="text">
                                                <p>Farmfunds Africa (Farmify Agro Innovations Ltd: RC 1627509) is an
                                                  agritech Company focused at empowering African Farmers whilst enabling
                                                  individual Farmfunders earn profits on their farm partnership which
                                                  ultimately helps in strengthening global food security. We pride as
                                                  Africa’s fastest growing Agritech Company.</p>
                                              </div>
                                              <div class="link">
                                                <a class="default_link" [routerLink]="['/about']">Read More</a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div id="sppb-addon-1551489344124"
                                          class="sppb-hidden-md sppb-hidden-lg clearfix">
                                          <div class="sppb-empty-space clearfix"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sppb-col-md-3 sppb-col-sm-6" id="column-wrap-id-1551320575342">
                                    <div id="column-id-1551320575342" class="sppb-column">
                                      <div class="sppb-column-addons">
                                        <div id="sppb-addon-1551484826314" class="clearfix">
                                          <div class="sppb-addon sppb-addon-text-block">
                                            <h4 class="sppb-addon-title">
                                              Usefull Links
                                            </h4>
                                            <div class="sppb-addon-content">
                                              <ul class="list">
                                                <li><a [routerLink]="['/packages']">
                                                   Packages</a>
                                                </li>
                                                <li>
                                                  <a [routerLink]="['/services']">
                                                    Services</a>
                                                </li>
                                                <li>
                                                  <a [routerLink]="['/terms']">
                                                    Terms and Conditions</a>
                                                </li>
                                                <li>
                                                  <a [routerLink]="['/products']">
                                                    Food Shop</a>
                                                </li>
                                                <li>
                                                  <a [routerLink]="['/gallery']">
                                                    Gallery</a>
                                                </li>
                                                <li>
                                                  <a [routerLink]="['/team']">
                                                    Management Team</a>
                                                </li>
                                              </ul>
                                            </div>
                                          </div>
                                        </div>
                                        <div id="sppb-addon-1551489344129"
                                          class="sppb-hidden-md sppb-hidden-lg clearfix">
                                          <div class="sppb-empty-space clearfix"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sppb-col-md-3 sppb-col-sm-6" id="column-wrap-id-1551320575343">
                                    <div id="column-id-1551320575343" class="sppb-column">
                                      <div class="sppb-column-addons">
                                        <div id="sppb-addon-1551485022732" class="clearfix">
                                          <div class="sppb-addon sppb-addon-text-block">
                                            <h4 class="sppb-addon-title">
                                              latest news
                                            </h4>
                                            <div class="sppb-addon-content"></div>
                                          </div>
                                        </div>
                                        <div id="sppb-addon-1551485022741" class="clearfix">
                                          <div class="sppb-addon sppb-addon-module">
                                            <div class="sppb-addon-content">
                                              <ul class="latestnews">
                                                <li>
                                                  <a
                                                    href="index.php/blog-default/1-it-s-time-to-design-your-dream-outdoor-living-space.html">
                                                    It’s Time to Design Your
                                                    Dream Outdoor Living Space
                                                    <span>28 February 2019</span>
                                                  </a>
                                                </li>
                                                <li>
                                                  <a
                                                    href="index.php/blog-default/2-it-s-time-to-design-your-dream-outdoor-living-space-2.html">
                                                    How Landscaping Can Add Curb
                                                    Appeal to Your Home?
                                                    <span>28 February 2019</span>
                                                  </a>
                                                </li>
                                                <li>
                                                  <a
                                                    href="index.php/blog-default/3-it-s-time-to-design-your-dream-outdoor-living-space-3.html">
                                                    6 Landscaping Methods to
                                                    Prevent Water Problems
                                                    <span>28 February 2019</span>
                                                  </a>
                                                </li>
                                              </ul>
                                            </div>
                                          </div>
                                        </div>
                                        <div id="sppb-addon-1551489832544"
                                          class="sppb-hidden-md sppb-hidden-lg sppb-hidden-sm clearfix">
                                          <div class="sppb-empty-space clearfix"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sppb-col-md-3 sppb-col-sm-6" id="column-wrap-id-1551320575344">
                                    <div id="column-id-1551320575344" class="sppb-column">
                                      <div class="sppb-column-addons">
                                        <div id="sppb-addon-1551485434916" class="clearfix">
                                          <div class="sppb-addon sppb-addon-text-block">
                                            <h4 class="sppb-addon-title">
                                              Working Hours
                                            </h4>
                                            <div class="sppb-addon-content">
                                              <div class="text">
                                                <p>
                                                  Our support available to help
                                                  our customers 24/7.
                                                </p>
                                              </div>
                                              <br />
                                              <ul>
                                                <li>
                                                  Mon - Friday:
                                                  <span class="hour">09:00 -18:00</span>
                                                </li>
                                                <li>
                                                  Saturday:
                                                  <span class="hour">10:00 - 14:00</span>
                                                </li>
                                                <li>
                                                  Sunday:
                                                  <a class="text-primary" href="">Closed</a>
                                                </li>
                                              </ul>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div id="section-id-1551485917063" class="sppb-section bottom-contact">
                              <div class="sppb-container-inner">
                                <div class="sppb-row sppb-no-gutter">
                                  <div class="sppb-col-md-4 sppb-col-sm-6" id="column-wrap-id-1551485917064">
                                    <div id="column-id-1551485917064" class="sppb-column">
                                      <div class="sppb-column-addons">
                                        <div id="sppb-addon-1551485917075" class="clearfix">
                                          <div class="sppb-addon sppb-addon-raw-html text-center">
                                            <div class="sppb-addon-content">
                                              <i class="icon-telephone"></i><span>Phone:</span> <br> +234-906-238-9757
                                              <br> +234-906-238-9767
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sppb-col-md-4 sppb-col-sm-6" id="column-wrap-id-1551485917069">
                                    <div id="column-id-1551485917069" class="sppb-column">
                                      <div class="sppb-column-addons">
                                        <div id="sppb-addon-1551486352077" class="clearfix">
                                          <div class="sppb-addon sppb-addon-raw-html text-center">
                                            <div class="sppb-addon-content">
                                              <i class="icon-letter"></i><span>Email:</span> <br>
                                              Info@farmfundsafrica.com
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sppb-col-md-4" id="column-wrap-id-1551485917070">
                                    <div id="column-id-1551485917070" class="sppb-column">
                                      <div class="sppb-column-addons">
                                        <div id="sppb-addon-1551486352082" class="clearfix">
                                          <div class="sppb-addon sppb-addon-raw-html text-center">
                                            <div class="sppb-addon-content">
                                              <i class="icon-arrows"></i><span>Address:</span> <br>
                                              12a, Sanyaolu street. Off Kudirat Abiola way, Oregun. Ikeja, Lagos.
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="section-id-1551486432202" class="sppb-section">
                  <div class="sppb-container-inner">
                    <div class="sppb-row">
                      <div class="sppb-col-md-6" id="column-wrap-id-1551486432201">
                        <div id="column-id-1551486432201" class="sppb-column">
                          <div class="sppb-column-addons">
                            <div id="sppb-addon-1551486432209" class="clearfix">
                              <div class="sppb-addon sppb-addon-text-block sppb-text-left">
                                <div class="sppb-addon-content">
                                  Copyrights © 2020 All Rights Reserved. Powered
                                  by
                                  <a class="text-primary" href="">Farm Funds Africa.</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="sppb-col-md-6" id="column-wrap-id-1551486432203">
                        <div id="column-id-1551486432203" class="sppb-column">
                          <div class="sppb-column-addons">
                            <div id="sppb-addon-1551486432206" class="clearfix">
                              <div class="sppb-addon sppb-addon-raw-html">
                                <div class="sppb-addon-content">
                                  <div class="pull-right get-text">
                                    <ul class="social-icon">
                                      <li>
                                        <a href="http://www.facebook.com/farmfundsafrica"><i
                                            class="fa fa-facebook"></i></a>
                                      </li>
                                      <li>
                                        <a href="https://www.twitter.com/farmfunds"><i class="fa fa-twitter"></i></a>
                                      </li>
                                      <li>
                                        <a href="https://www.instagram.com/farmfundsafrica"><i
                                            class="fa fa-instagram"></i></a>
                                      </li>
                                      <!-- <li>
                                        <a href="#"
                                          ><i class="fa fa-google-plus"></i
                                        ></a>
                                      </li> -->
                                      <!-- <li>
                                        <a href="#"
                                          ><i class="fa fa-linkedin"></i
                                        ></a>
                                      </li> -->
                                      <!-- <li>
                                        <a href="#"
                                          ><i class="fa fa-skype"></i
                                        ></a>
                                      </li> -->
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
