<section id="sp-section-4">
    <div class="row" *ngIf="CurrentState=='Wait'">
        <div class="col-md-12  close-form">
            <h2> Please Wait...</h2>
        </div>
    </div>
    <div class="row" *ngIf="CurrentState=='NotVerified'">
        <div class="col-md-12">
            <h2> Invalid URL.</h2>
        </div>
    </div>
  </section>
  <section id="sp-main-body" *ngIf="CurrentState=='Verified'">
    <div class="container info">
      <div class="container-inner">
        <div class="row">
          <main id="sp-component" class="col-lg-12 " role="main">
            <div>
              <div class="sp-column ">
                <div id="system-message-container">
                </div>
                <div id="akeeba-renderjoomla">
                  <div id="j2store-checkout" class="j2store checkout">
                    <div id="j2store-checkout-content">
                      <!-- <h1>Login</h1> -->
  
                      <div id="checkout">
                        <!-- <div class="checkout-heading">Checkout Options</div> -->
                        <div class="checkout-content" style="display: block;">
                          <div id="akeeba-renderjoomla">
                            <form [formGroup]="responseForm" (ngSubmit)="ResetPassword(responseForm)">
                              <div class="form-row">
                                <div class="col-md-3"></div>
                                <div id="" class="col-md-6" style="margin-top: 10%;">
                                  <h2>Set New Password</h2>
                                  <br> <br>
                                  <div class="form-group"
                                    [ngClass]="{'has-error': responseForm.get('newPassword').errors && responseForm.get('newPassword').touched}">
                                    <span class="j2store_field_required text-danger">*</span>
                                    <label for="newPassword">Password</label>
                                    <div class="input-group">
                                    <input [type]="showPassword ? 'text' : 'password'" name="newPassword" placeholder="Enter password" aria-label="Recipient's username" aria-describedby="button-addon2" value=""
                                      class="form-control large-field" formControlName="newPassword">
                                      <div class="input-group-append">
                                        <button (click)="togglePassword()" class="btn btn-primary" type="button" id="button-addon2">
                                          <!-- <i class="fa fa-eye-slash"></i> -->
                                          <i [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'" ></i>
                                          
                                        </button>
                                      </div>
                                    </div>
                                     
                                    <div
                                      *ngIf="responseForm.controls['newPassword'].hasError('required') && responseForm.get('newPassword').touched"
                                      class="errormsg text-danger"> Password is required</div>
                                    <div
                                      *ngIf="responseForm.controls['newPassword'].hasError('minlength') && responseForm.get('newPassword').touched"
                                      class=" errormsg text-danger"> Password must be atleast 8 character long</div>
                                  </div>
                                  <br>
                                  <div class="form-group"
                                    [ngClass]="{'has-error': responseForm.get('confirmPassword').errors && responseForm.get('confirmPassword').touched}">
                                    <span class="j2store_field_required text-danger">*</span>
                                    <label for="confirmPassword">Confirm Password</label>
                                    <div class="input-group">
                                    <input [type]="showConfirm ? 'text' : 'password'" name="confirmPassword" placeholder="Enter confirm password" aria-label="Recipient's username" aria-describedby="button-addon2" value=""
                                      class="form-control large-field" formControlName="confirmPassword">
                                      <div class="input-group-append">
                                        <button (click)="toggleConfirm()" class="btn btn-primary" type="button" id="button-addon2">
                                          <!-- <i class="fa fa-eye-slash"></i> -->
                                          <i [ngClass]="showConfirm ? 'fa fa-eye-slash' : 'fa fa-eye'" ></i>
                                          
                                        </button>
                                      </div>
                                    </div>
                                     
                                    <div
                                      *ngIf="responseForm.controls['confirmPassword'].hasError('required') && responseForm.get('confirmPassword').touched"
                                      class="errormsg text-danger">Confirm Password is required</div>
                                    <div
                                      *ngIf="responseForm.controls['confirmPassword'].hasError('minlength') && responseForm.get('confirmPassword').touched"
                                      class=" errormsg text-danger">Confirm Password must be atleast 8 character long</div>
                                      <div
                                      *ngIf="responseForm.get('confirmPassword').touched && responseForm.hasError('mismatch')"
                                      class="errormsg text-danger">
                                      Confirm Password must match New Password
                                    </div>
                                  </div>
                                  <div class="button">
                                    <button [disabled]="responseForm.invalid || isBusy" type="submit"
                                      class="btn btn-primary mr-1">{{isBusy ? 'Updating...' : 'Update Password'}}</button>
                                  </div>
                                </div>
                                <div class="col-md-3"></div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </section>