<section id="sp-main-body">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <main id="sp-component" class="col-md-12 " role="main">
          <div class="sp-column ">
            <div id="system-message-container">
            </div>
            <div id="akeeba-renderjoomla">

              <div class="j2store-product-list bs3">
                <div *ngIf="interest" class="alert alert-info">
                  <span >Pick items worth your purchase power of <strong>{{interest | currency: '&#8358; '}}</strong></span>
                </div>

                <div class="sp-column ">
                  <div class="sp-module ">
                    <div class="sp-module-content">
                      <div class="search">
                        <form action="" method="">
                          <div class="input-group">
                            <input  (input)="onChange(search)" name="search" [(ngModel)]="search" class="form-control" type="search"
                              placeholder="Search" style="height: 50px;">
                            <span class="input-group-btn">
                              <button class="sppb-btn">
                                <span class="icon fa fa-search"></span>
                              </button>
                            </span>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <span>We want to make this as flexible as possible, if you do not see the product you are looking for, Add it <a (click)="addMoreProdct()"><strong style="font-weight: 900; cursor: pointer; color: green;"> Here </strong></a></span>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <!-- Make sure product is enabled and visible @front end -->
                    <div class="j2store-products-row row-0 row">
                      <div *ngFor="let p of products?.data | paginate : {
                        itemsPerPage: size,
                        currentPage: page,
                        totalItems: products?.totalItems
                    }; let i = index"  class="col-lg-6 col-xl-3 col-md-5 col-sm-6 col-12 product-info">
                        <div  class="j2store-single-product">
                          <div  class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a [routerLink]="['/app/farmify-shopping-detail', p.id]">
                                <img id="farmify-item" itemprop="image" alt="{{p?.productName}}" title="{{p?.productName}}"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="{{p?.imageUrl}}" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a title="Add to basket" (click)="addToCart(p)"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box text-center">
                            <div class="inner-box">
                              <div itemprop="name" class="product-title">
                                <a class="font-weight-bold text-sm"  title="{{p?.productName}}">
                                  {{p?.productName}} </a>
                              </div>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div  *ngIf="p.price" class="product sale-price">
                                  {{p?.price | currency: '&#8358; '}}
                                </div>
                                <div *ngIf="!p.price" class="product sale-price">
                                  <span class="text-primary" title="enter your price" style="cursor: pointer;" (click)="enterPrice(i)">Enter Price</span>
                                </div>
                                <div class="product">
                                  <!-- <small> Quantity </small> -->
                                  <input type="number" required [(ngModel)]="p.unit" name="unit" class="input-mini form-control"
                                     placeholder="Enter Quantity"/>
                                </div>

                                <div class="product">
                                  <input type="text" [(ngModel)]="p.brand" name="brand"  class="input-mini form-control"
                                     placeholder="Enter Brand" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div *ngIf="products?.data.length > 0" >
                      <pagination-controls
                      class="my-pagination"
                          previousLabel="Prev"
                          nextLabel="Next"
                          responsive="true"
                          (pageChange)="handlePageChange($event)">
                      </pagination-controls>
                   </div>

                  </div>

                </div> <!-- end of row-fluid -->
              </div> <!-- end of product list -->
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</section>
