<section id="sp-main-body">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <main id="sp-component" class="col-md-12 " role="main">
          <div class="sp-column ">
            <div id="system-message-container">
            </div>
            <div id="akeeba-renderjoomla">

              <div itemscope itemtype="https://schema.org/BreadCrumbList" class="j2store-product-list bs3"
                data-link="/realgarden/index.php/shop/shop-products">

                <div class="sp-column ">
                  <div class="sp-module ">
                    <div class="sp-module-content">
                      <div class="search">
                        <form action="" method="">
                          <div class="input-group">
                            <input name="searchword" id="mod-search-searchword106" class="form-control" type="search"
                              placeholder="Search here..." style="height: 50px;">
                            <span class="input-group-btn">
                              <button class="sppb-btn" onclick="this.form.searchword.focus();">
                                <span class="icon fa fa-search"></span>
                              </button>
                            </span>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <!-- Make sure product is enabled and visible @front end -->
                    <div class="j2store-products-row row-0 row">
                      <div class="col-md-2">
                        <div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/Product"
                          class="j2store-single-product multiple j2store-single-product-1 product-1 pcolumn-1  ">
                          <div class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a href="shop-products/the-innovators.html">
                                <img itemprop="image" alt="The Innovators" title="The Innovators"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="assets/images/shop/1.jpg" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a href="shop-products/the-innovators.html"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box">
                            <div class="inner-box">
                              <h2 itemprop="name" class="product-title">
                                <a href="" title="The Innovators">
                                  The Innovators </a>
                              </h2>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div class="sale-price">
                                  $24.99
                                </div>
                                <div class="product">
                                  <input type="text" name="product" value="" class="input-mini form-control " min="0"
                                    step="1" placeholder="Type Brand Here" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Make sure product is enabled and visible @front end -->
                      <div class="col-md-2">
                        <div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/Product"
                          class="j2store-single-product multiple j2store-single-product-1 product-1 pcolumn-1  ">
                          <div class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a href="shop-products/the-innovators.html">
                                <img itemprop="image" alt="The Innovators" title="The Innovators"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="assets/images/shop/1.jpg" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a href="shop-products/the-innovators.html"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box">
                            <div class="inner-box">
                              <h2 itemprop="name" class="product-title">
                                <a href="" title="The Innovators">
                                  The Innovators </a>
                              </h2>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div class="sale-price">
                                  $24.99
                                </div>
                                <div class="product">
                                  <input type="text" name="product" value="" class="input-mini form-control " min="0"
                                    step="1" placeholder="Type Brand Here" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Make sure product is enabled and visible @front end -->
                      <div class="col-md-2">
                        <div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/Product"
                          class="j2store-single-product multiple j2store-single-product-1 product-1 pcolumn-1  ">
                          <div class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a href="shop-products/the-innovators.html">
                                <img itemprop="image" alt="The Innovators" title="The Innovators"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="assets/images/shop/1.jpg" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a href="shop-products/the-innovators.html"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box">
                            <div class="inner-box">
                              <h2 itemprop="name" class="product-title">
                                <a href="" title="The Innovators">
                                  The Innovators </a>
                              </h2>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div class="sale-price">
                                  $24.99
                                </div>
                                <div class="product">
                                  <input type="text" name="product" value="" class="input-mini form-control " min="0"
                                    step="1" placeholder="Type Brand Here" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Make sure product is enabled and visible @front end -->
                      <div class="col-md-2">
                        <div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/Product"
                          class="j2store-single-product multiple j2store-single-product-1 product-1 pcolumn-1  ">
                          <div class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a href="shop-products/the-innovators.html">
                                <img itemprop="image" alt="The Innovators" title="The Innovators"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="assets/images/shop/1.jpg" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a href="shop-products/the-innovators.html"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box">
                            <div class="inner-box">
                              <h2 itemprop="name" class="product-title">
                                <a href="" title="The Innovators">
                                  The Innovators </a>
                              </h2>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div class="sale-price">
                                  $24.99
                                </div>
                                <div class="product">
                                  <input type="text" name="product" value="" class="input-mini form-control " min="0"
                                    step="1" placeholder="Type Brand Here" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Make sure product is enabled and visible @front end -->
                      <div class="col-md-2">
                        <div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/Product"
                          class="j2store-single-product multiple j2store-single-product-1 product-1 pcolumn-1  ">
                          <div class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a href="shop-products/the-innovators.html">
                                <img itemprop="image" alt="The Innovators" title="The Innovators"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="assets/images/shop/1.jpg" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a href="shop-products/the-innovators.html"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box">
                            <div class="inner-box">
                              <h2 itemprop="name" class="product-title">
                                <a href="" title="The Innovators">
                                  The Innovators </a>
                              </h2>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div class="sale-price">
                                  $24.99
                                </div>
                                <div class="product">
                                  <input type="text" name="product" value="" class="input-mini form-control " min="0"
                                    step="1" placeholder="Type Brand Here" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Make sure product is enabled and visible @front end -->
                      <div class="col-md-2">
                        <div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/Product"
                          class="j2store-single-product multiple j2store-single-product-1 product-1 pcolumn-1  ">
                          <div class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a href="shop-products/the-innovators.html">
                                <img itemprop="image" alt="The Innovators" title="The Innovators"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="assets/images/shop/1.jpg" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a href="shop-products/the-innovators.html"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box">
                            <div class="inner-box">
                              <h2 itemprop="name" class="product-title">
                                <a href="" title="The Innovators">
                                  The Innovators </a>
                              </h2>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div class="sale-price">
                                  $24.99
                                </div>
                                <div class="product">
                                  <input type="text" name="product" value="" class="input-mini form-control " min="0"
                                    step="1" placeholder="Type Brand Here" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Make sure product is enabled and visible @front end -->
                    <div class="j2store-products-row row-0 row">
                      <div class="col-md-2">
                        <div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/Product"
                          class="j2store-single-product multiple j2store-single-product-1 product-1 pcolumn-1  ">
                          <div class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a href="shop-products/the-innovators.html">
                                <img itemprop="image" alt="The Innovators" title="The Innovators"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="assets/images/shop/1.jpg" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a href="shop-products/the-innovators.html"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box">
                            <div class="inner-box">
                              <h2 itemprop="name" class="product-title">
                                <a href="" title="The Innovators">
                                  The Innovators </a>
                              </h2>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div class="sale-price">
                                  $24.99
                                </div>
                                <div class="product">
                                  <input type="text" name="product" value="" class="input-mini form-control " min="0"
                                    step="1" placeholder="Type Brand Here" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Make sure product is enabled and visible @front end -->
                      <div class="col-md-2">
                        <div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/Product"
                          class="j2store-single-product multiple j2store-single-product-1 product-1 pcolumn-1  ">
                          <div class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a href="shop-products/the-innovators.html">
                                <img itemprop="image" alt="The Innovators" title="The Innovators"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="assets/images/shop/1.jpg" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a href="shop-products/the-innovators.html"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box">
                            <div class="inner-box">
                              <h2 itemprop="name" class="product-title">
                                <a href="" title="The Innovators">
                                  The Innovators </a>
                              </h2>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div class="sale-price">
                                  $24.99
                                </div>
                                <div class="product">
                                  <input type="text" name="product" value="" class="input-mini form-control " min="0"
                                    step="1" placeholder="Type Brand Here" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Make sure product is enabled and visible @front end -->
                      <div class="col-md-2">
                        <div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/Product"
                          class="j2store-single-product multiple j2store-single-product-1 product-1 pcolumn-1  ">
                          <div class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a href="shop-products/the-innovators.html">
                                <img itemprop="image" alt="The Innovators" title="The Innovators"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="assets/images/shop/1.jpg" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a href="shop-products/the-innovators.html"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box">
                            <div class="inner-box">
                              <h2 itemprop="name" class="product-title">
                                <a href="" title="The Innovators">
                                  The Innovators </a>
                              </h2>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div class="sale-price">
                                  $24.99
                                </div>
                                <div class="product">
                                  <input type="text" name="product" value="" class="input-mini form-control " min="0"
                                    step="1" placeholder="Type Brand Here" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Make sure product is enabled and visible @front end -->
                      <div class="col-md-2">
                        <div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/Product"
                          class="j2store-single-product multiple j2store-single-product-1 product-1 pcolumn-1  ">
                          <div class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a href="shop-products/the-innovators.html">
                                <img itemprop="image" alt="The Innovators" title="The Innovators"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="assets/images/shop/1.jpg" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a href="shop-products/the-innovators.html"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box">
                            <div class="inner-box">
                              <h2 itemprop="name" class="product-title">
                                <a href="" title="The Innovators">
                                  The Innovators </a>
                              </h2>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div class="sale-price">
                                  $24.99
                                </div>
                                <div class="product">
                                  <input type="text" name="product" value="" class="input-mini form-control " min="0"
                                    step="1" placeholder="Type Brand Here" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Make sure product is enabled and visible @front end -->
                      <div class="col-md-2">
                        <div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/Product"
                          class="j2store-single-product multiple j2store-single-product-1 product-1 pcolumn-1  ">
                          <div class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a href="shop-products/the-innovators.html">
                                <img itemprop="image" alt="The Innovators" title="The Innovators"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="assets/images/shop/1.jpg" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a href="shop-products/the-innovators.html"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box">
                            <div class="inner-box">
                              <h2 itemprop="name" class="product-title">
                                <a href="" title="The Innovators">
                                  The Innovators </a>
                              </h2>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div class="sale-price">
                                  $24.99
                                </div>
                                <div class="product">
                                  <input type="text" name="product" value="" class="input-mini form-control " min="0"
                                    step="1" placeholder="Type Brand Here" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Make sure product is enabled and visible @front end -->
                      <div class="col-md-2">
                        <div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/Product"
                          class="j2store-single-product multiple j2store-single-product-1 product-1 pcolumn-1  ">
                          <div class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a href="shop-products/the-innovators.html">
                                <img itemprop="image" alt="The Innovators" title="The Innovators"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="assets/images/shop/1.jpg" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a href="shop-products/the-innovators.html"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box">
                            <div class="inner-box">
                              <h2 itemprop="name" class="product-title">
                                <a href="" title="The Innovators">
                                  The Innovators </a>
                              </h2>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div class="sale-price">
                                  $24.99
                                </div>
                                <div class="product">
                                  <input type="text" name="product" value="" class="input-mini form-control " min="0"
                                    step="1" placeholder="Type Brand Here" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Make sure product is enabled and visible @front end -->
                    <div class="j2store-products-row row-0 row">
                      <div class="col-md-2">
                        <div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/Product"
                          class="j2store-single-product multiple j2store-single-product-1 product-1 pcolumn-1  ">
                          <div class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a href="shop-products/the-innovators.html">
                                <img itemprop="image" alt="The Innovators" title="The Innovators"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="assets/images/shop/1.jpg" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a href="shop-products/the-innovators.html"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box">
                            <div class="inner-box">
                              <h2 itemprop="name" class="product-title">
                                <a href="" title="The Innovators">
                                  The Innovators </a>
                              </h2>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div class="sale-price">
                                  $24.99
                                </div>
                                <div class="product">
                                  <input type="text" name="product" value="" class="input-mini form-control " min="0"
                                    step="1" placeholder="Type Brand Here" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Make sure product is enabled and visible @front end -->
                      <div class="col-md-2">
                        <div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/Product"
                          class="j2store-single-product multiple j2store-single-product-1 product-1 pcolumn-1  ">
                          <div class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a href="shop-products/the-innovators.html">
                                <img itemprop="image" alt="The Innovators" title="The Innovators"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="assets/images/shop/1.jpg" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a href="shop-products/the-innovators.html"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box">
                            <div class="inner-box">
                              <h2 itemprop="name" class="product-title">
                                <a href="" title="The Innovators">
                                  The Innovators </a>
                              </h2>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div class="sale-price">
                                  $24.99
                                </div>
                                <div class="product">
                                  <input type="text" name="product" value="" class="input-mini form-control " min="0"
                                    step="1" placeholder="Type Brand Here" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Make sure product is enabled and visible @front end -->
                      <div class="col-md-2">
                        <div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/Product"
                          class="j2store-single-product multiple j2store-single-product-1 product-1 pcolumn-1  ">
                          <div class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a href="shop-products/the-innovators.html">
                                <img itemprop="image" alt="The Innovators" title="The Innovators"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="assets/images/shop/1.jpg" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a href="shop-products/the-innovators.html"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box">
                            <div class="inner-box">
                              <h2 itemprop="name" class="product-title">
                                <a href="" title="The Innovators">
                                  The Innovators </a>
                              </h2>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div class="sale-price">
                                  $24.99
                                </div>
                                <div class="product">
                                  <input type="text" name="product" value="" class="input-mini form-control " min="0"
                                    step="1" placeholder="Type Brand Here" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Make sure product is enabled and visible @front end -->
                      <div class="col-md-2">
                        <div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/Product"
                          class="j2store-single-product multiple j2store-single-product-1 product-1 pcolumn-1  ">
                          <div class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a href="shop-products/the-innovators.html">
                                <img itemprop="image" alt="The Innovators" title="The Innovators"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="assets/images/shop/1.jpg" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a href="shop-products/the-innovators.html"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box">
                            <div class="inner-box">
                              <h2 itemprop="name" class="product-title">
                                <a href="" title="The Innovators">
                                  The Innovators </a>
                              </h2>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div class="sale-price">
                                  $24.99
                                </div>
                                <div class="product">
                                  <input type="text" name="product" value="" class="input-mini form-control " min="0"
                                    step="1" placeholder="Type Brand Here" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Make sure product is enabled and visible @front end -->
                      <div class="col-md-2">
                        <div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/Product"
                          class="j2store-single-product multiple j2store-single-product-1 product-1 pcolumn-1  ">
                          <div class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a href="shop-products/the-innovators.html">
                                <img itemprop="image" alt="The Innovators" title="The Innovators"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="assets/images/shop/1.jpg" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a href="shop-products/the-innovators.html"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box">
                            <div class="inner-box">
                              <h2 itemprop="name" class="product-title">
                                <a href="" title="The Innovators">
                                  The Innovators </a>
                              </h2>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div class="sale-price">
                                  $24.99
                                </div>
                                <div class="product">
                                  <input type="text" name="product" value="" class="input-mini form-control " min="0"
                                    step="1" placeholder="Type Brand Here" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Make sure product is enabled and visible @front end -->
                      <div class="col-md-2">
                        <div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/Product"
                          class="j2store-single-product multiple j2store-single-product-1 product-1 pcolumn-1  ">
                          <div class="j2store-product-images">
                            <div class="j2store-thumbnail-image">
                              <a href="shop-products/the-innovators.html">
                                <img itemprop="image" alt="The Innovators" title="The Innovators"
                                  class="j2store-img-responsive j2store-product-thumb-image-1"
                                  src="assets/images/shop/1.jpg" />
                              </a>
                              <figcaption class="overlay">
                                <div class="box">
                                  <div class="content">
                                    <a href="shop-products/the-innovators.html"><i class="fa fa-plus"
                                        aria-hidden=""></i></a>
                                  </div>
                                </div>
                              </figcaption>
                            </div>
                          </div>
                          <div class="content-box">
                            <div class="inner-box">
                              <h2 itemprop="name" class="product-title">
                                <a href="" title="The Innovators">
                                  The Innovators </a>
                              </h2>
                              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"
                                class="product-price-container">
                                <div class="sale-price">
                                  $24.99
                                </div>
                                <div class="product">
                                  <input type="text" name="product" value="" class="input-mini form-control " min="0"
                                    step="1" placeholder="Type Brand Here" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <form id="j2store-pagination" name="j2storepagination"
                      action="http://demo.joomlabuff.com/realgarden/index.php/shop/shop-products?filter_catid="
                      method="post">
                      <input type="hidden" name="option" value="com_j2store" /> <input type="hidden" name="view"
                        value="products" /> <input type="hidden" name="task" id="task" value="browse" /> <input
                        type="hidden" name="boxchecked" value="0" /> <input type="hidden" name="filter_order"
                        value="" /> <input type="hidden" name="filter_order_Dir" value="" /> <input type="hidden"
                        name="filter_catid" value="" />
                      <input type="hidden" name="f18ac3a8962039877f96f1c75363fa69" value="1" />
                      <div class="pagination">
                        <ul class="pagination">
                          <li class="page-item active"><a class="page-link">1</a>
                          </li>
                          <li class="page-item"><a class="page-link " href="shop-products0765.html?start=9"
                              title="2">2</a></li>
                          <li class="page-item"><a class="page-link next" href="shop-products0765.html?start=9"
                              title="&raquo;">&raquo;</a></li>
                          <li class="page-item"><a class="page-link " href="shop-products0765.html?start=9"
                              title="End">End</a></li>
                        </ul>
                      </div>
                    </form>

                  </div>

                </div> <!-- end of row-fluid -->
              </div> <!-- end of product list -->
            </div>
          </div>
        </main>
        <!-- <aside id="sp-right" class="col-lg-4 ">
          <div class="sp-column ">
            <div class="sp-module ">
              <div class="sp-module-content">
                <div class="search">
                  <form
                    action="http://demo.joomlabuff.com/realgarden/index.php/shop/shop-products"
                    method="post">
                    <div class="input-group"><input name="searchword"
                        id="mod-search-searchword106" class="form-control"
                        type="search" placeholder="Search here..."><span
                        class="input-group-btn"><button class="sppb-btn"
                          onclick="this.form.searchword.focus();"><span
                            class="icon fa fa-search"></span></button></span>
                    </div> <input type="hidden" name="task" value="search">
                    <input type="hidden" name="option" value="com_search">
                    <input type="hidden" name="Itemid" value="135">
                  </form>
                </div>
              </div>
            </div>
            <div class="sp-module ">
              <h3 class="sp-module-title">Categories</h3>
              <div class="sp-module-content">
                <ul class="categories-module mod-list">
                  <li> <a href="../blog-default/9-gardening.html">
                      Gardening (0)
                    </a>

                  </li>
                  <li> <a href="../blog-default/10-ground-maintenance.html">
                      Ground Maintenance (0)
                    </a>

                  </li>
                  <li> <a href="../blog-default/11-outdoor-living.html">
                      Outdoor Living (0)
                    </a>

                  </li>
                  <li> <a href="../blog-default/12-tree-planting.html">
                      Tree Planting (0)
                    </a>

                  </li>
                  <li> <a href="../blog-default/13-residential-garden.html">
                      Residential Garden (0)
                    </a>

                  </li>
                </ul>
              </div>
            </div>
          </div>
        </aside> -->
      </div>
    </div>
  </div>
</section>