<section id="sp-main-body">
  <div class="row">
    <main id="sp-component" class="col-lg-12 main-body" role="main">
      <div class="sp-column ">
        <div id="sp-page-builder" class="sp-page-builder  page-2" style="margin-top: -35px;">
          <div class="page-content">
            <!-- dashboard-header -->
            <section id="section-id-1551490002720" class="sppb-section" style="padding-bottom: 0%;">
              <div class="sppb-row-container ml-0 mb-3">
                <div class="sppb-row">
                  <div class="sppb-col-md-12" id="column-wrap-id-1551490002719">
                    <div id="column-id-1551490002719" class="sppb-column">
                      <div *ngIf="success" class="alert alert-success alert-dissmissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span><strong>{{success}}</strong></span>

                      </div>
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551573988809" class="clearfix">
                          <!-- <h3 class="sppb-addon-title">User <span class="text-primary">Dashboard </span> -->
                            <small  class="current" style="text-transform: none;">You are currently on
                              <b>{{subscribers.subs.length}}</b> Food
                              Subscription.
                            &nbsp;  <i  title="Refresh" (click)="Refresh()" [ngClass]="refreshing ? 'fa fa-refresh fa-spin' : 'fa fa-refresh'" style="font-size:20px; cursor: pointer;"></i>
                            </small>
                          <!-- </h3> -->
                          <small *ngIf="subscribers.subs.length > 1"
                            class="text-primary sub-sel pull-right">
                            <label> Switch Subscription </label>
                            <select (change)="switchSubs($event)">
                              <option *ngFor="let sub of subscribers.subs" [value]="sub.id">
                                {{sub.amount | currency: '&#8358; '}}</option>
                            </select>
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- end-dashboard-header -->

            <!-- food-subscription -->
            <section id="section-id-1551490002720" class="sppb-section food-subscription" style="padding-top: 0%;">
              <div class="sppb-row-container col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
                <div class="sppb-row">
                  <div class="sppb-col-md-12" id="column-wrap-id-1551490002719">
                    <div id="column-id-1551490002719" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551573988809" class="clearfix">
                          <div class="sppb-addon sppb-addon-text-block  ">

                            <div class="sppb-addon-content">
                              <div class="text">
                                <div class="sppb-addon-content">
                                  <!-- <div class="shadow p-3 mb-5 bg-white rounded"> -->
                                    <div class="text">
                                      <div class="row">
                                        <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 shadow p-3 bg-white rounded dashboard">
                                          <div class="card bg-success dashboard text-white text-center p-3">
                                            <blockquote class=" mb-0">
                                              <span>Current Food Subscription</span>
                                              <h3 class="card-amount">{{subscribers.amount | currency: '&#8358; '}}
                                              </h3>
                                              <i class="fa fa-bar-chart text-warning" style="font-size: 50px;"></i>
                                              <footer class="blockquote-footer text-white">
                                                <i class="fa fa-bar-chart"></i>
                                                <small>
                                                  Farmfunds <cite title="Source Title">Africa</cite>
                                                </small>
                                              </footer>
                                            </blockquote>
                                          </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 shadow p-3 bg-white rounded dashboard">
                                          <div class="card dashboard bg-info text-white text-center p-3">
                                            <blockquote class=" mb-0">
                                              <span>Your ROI</span>
                                              <h3 class="card-amount">{{subscribers.roi | currency: '&#8358; '}}
                                              </h3>
                                              <i class="fa fa-line-chart text-warning" style="font-size: 50px;"></i>
                                              <footer class="blockquote-footer text-white">
                                                <i class="fa fa-line-chart"></i>
                                                <small>
                                                  Farmfunds <cite title="Source Title">Africa</cite>
                                                </small>
                                              </footer>
                                            </blockquote>
                                          </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 shadow p-3 bg-white rounded dashboard">
                                          <div class="card dashboard bg-warning text-white text-center p-3">
                                            <blockquote class=" mb-0">
                                              <span>Your ROC</span>
                                              <h3 class="card-amount">{{subscribers.roc | currency: '&#8358; '}}
                                              </h3>
                                              <i class="fa fa-rotate-left" style="font-size: 50px;"></i>
                                              <footer class="blockquote-footer text-white">
                                                <i class="fa fa-rotate-left"></i>
                                                <small>
                                                  Farmfunds <cite title="Source Title">Africa</cite>
                                                </small>
                                              </footer>
                                            </blockquote>
                                          </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 shadow p-3 bg-white rounded dashboard">
                                          <div class="card dashboard bg-light text-center p-3">
                                            <blockquote class=" mb-0">
                                              <span><i class="fas fa-sign-out-alt"></i>
                                                My Wallet </span>
                                              <h3 class="card-amount">{{myWallet | currency: '&#8358; '}}
                                              </h3>
                                              <a><i title="click to fund wallet" class="fa fa-credit-card text-success"  style="font-size: 50px; cursor: pointer;"></i></a>
                                              <footer class="blockquote-footer">
                                                <i class="fa fa-credit-card"></i>
                                                <small>
                                                  Farmfunds <cite title="Source Title">Africa</cite>
                                                </small>
                                              </footer>
                                            </blockquote>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  <!-- </div> -->

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- food-subdcription-table -->
              <!-- <div id="section-id-1551573988958" class="sppb-section  "> -->
                <div class="sppb-row-container mt-5 col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
                  <div class="shadow p-3 bg-white rounded dashboard tbl">
                    <div class="sppb-row">
                      <div class="sppb-col-md-12" id="column-wrap-id-1551573988957">
                        <div id="column-id-1551573988957" class="sppb-column">
                          <div class="sppb-column-addons">
                            <div id="sppb-addon-1551573988978" class="clearfix">
                              <div class="sppb-addon sppb-addon-text-block  ">

                                <div class="sppb-addon-content"></div>
                              </div>
                            </div>
                            <div class="e-panel card">
                              <div class="card-header">
                                <button type="button" class="btn btn-success t-btn float-right" id="findme"
                                (click)="openswal()">Subscribe</button>
                                <h4 class="sppb-addon-title">Food Bank <span class="text-primary">Subscriptions
                                    ({{subscribers.subs.length}})</span>
                                </h4>
                              </div>
                              <div class="card-body">
                                <div class="e-table">
                                  <div class="table-responsive table-lg">
                                    <table class="table table-bordered text-nowrap">
                                      <thead>
                                        <tr class="bg-success text-light">
                                          <th scope="col">S/N</th>
                                          <th scope="col">Name</th>
                                          <th scope="col" class="phone">Phone No.</th>
                                          <th scope="col">Unit</th>
                                          <th scope="col" class="amount">Amount</th>
                                          <th scope="col">Payment Type</th>
                                          <th scope="col">Status</th>
                                          <th scope="col" class="roi">ROI</th>
                                          <th scope="col" class="roc">ROC</th>
                                          <th scope="col">Start Date</th>
                                          <th scope="col">End Date</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let i of subscribers.subs; let index = index" style="width: 50%;">
                                          <th scope="row">{{index + 1}}</th>
                                          <td>{{i.name}}</td>
                                          <td class="phone">{{i.phoneNo}}</td>
                                          <td>{{i.unit}}</td>
                                          <td class="text-right" style="width: 140px;" class="amount">
                                            {{i.amount | currency: '&#8358; '}}
                                          </td>
                                          <td>{{i.paymentType}}</td>
                                          <td><span
                                            [ngClass]="{'badge badge-success badge-pill': i.status === 'Activated', 'badge badge-warning': i.status === 'Pending'}">{{i.status}}</span>
                                        </td>
                                          <td class="text-right" style="width: 140px;" class="roi">
                                            {{i.roi | currency: '&#8358; '}}
                                          </td>
                                          <td class="text-right" style="width: 140px;" class="roc">
                                            {{i.roc | currency: '&#8358; '}}
                                          </td>
                                          <td>{{i.startDate | date: "mediumDate"}}
                                          </td>
                                          <td>{{i.endDate | date: "mediumDate"}}
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>

                                </div>
                              </div>
                            </div>
                            <div id="sppb-addon-1551578090420" class="sppb-hidden-md sppb-hidden-lg clearfix">
                              <div class="sppb-empty-space  clearfix"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              <!-- </div> -->
              <br>
              <!-- item-other-table -->
              <!-- <div id="section-id-1551573988958" class="sppb-section  "> -->
                <div class="sppb-row-container mb-5 mt-5 col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
                  <!-- <button *ngIf="showDetails" type="button" class="btn btn-success t-btn" (click)="back()" style="margin-top: -110px;"><i
                      class="fa fa-arrow-left"></i>BACK</button> -->
                  <div class="shadow p-3 bg-white rounded dashboard tbl">
                    <div class="sppb-row">
                      <div class="sppb-col-md-12" id="column-wrap-id-1551573988957">
                        <div id="column-id-1551573988957" class="sppb-column">
                          <div class="sppb-column-addons">
                            <div id="sppb-addon-1551573988978" class="clearfix">
                              <div class="sppb-addon sppb-addon-text-block  ">

                                <div class="sppb-addon-content"></div>
                              </div>
                            </div>
                            <div class="e-panel card">
                              <div class="card-header">
                                <button type="button" title="Add Items" class="btn btn-success pull-right" (click)="AddItems()"><i
                                  class="fa fa-plus"></i> Add Items </button>
                                <h4 class="sppb-addon-title">Food Bank <span class="text-primary">Orders
                                    ({{purchases.length}})</span></h4>
                      <i *ngIf="showDetails" title="Go back" class="fa fa-arrow-left text-success mr-3 pull-right" style="cursor: pointer; margin-top: -18px;" (click)="back()">Back</i>
                              </div>
                              <div class="card-body">
                                <div class="e-table">
                                  <div class="table-responsive table-lg">
                                    <table *ngIf="!showDetails" class="table table-bordered text-nowrap">
                                      <thead>
                                        <tr class="bg-success text-light">
                                          <th scope="col">S/N</th>
                                          <th scope="col" class="name">Name</th>
                                          <th scope="col">Phone No</th>
                                          <th scope="col" class="type">Type</th>
                                          <th scope="col">Order Date</th>
                                          <th scope="col">Status</th>
                                          <th scope="col">Delivery Date</th>
                                          <th scope="col">Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let i of purchases let index = index">
                                          <th>{{index + 1}}</th>
                                          <td class="name">{{i.name}}</td>
                                          <td>{{i.phoneNo}}</td>
                                          <td class="type">{{i.type}}</td>
                                          <td>{{i.createdAt | date: "mediumDate"}}
                                          </td>
                                          <td><span
                                              [ngClass]="{'badge badge-success badge-pill': i.status === 'Delivered', 'badge badge-warning': i.status === 'Pending'}">{{i.status}}</span>
                                          </td>
                                          <td>{{i.deliveredDate | date: "mediumDate"}}
                                          <td>
                                            <button title="View Order detail" (click)="viewOrder(i.id)"
                                              class="btn btn-outline-success"><i class="fa fa-eye"></i> View Details
                                            </button>
                                          </td>

                                        </tr>
                                      </tbody>
                                    </table>
                                    <table *ngIf="showDetails" class="table table-bordered">
                                      <thead>
                                        <tr class="bg-success text-light">
                                          <th scope="col">S/N</th>
                                          <th scope="col">Product</th>
                                          <th scope="col">Price</th>
                                          <th scope="col">Quantity</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let detail of details let index = index">
                                          <th>{{index + 1}}</th>
                                          <td>{{detail.productName}}</td>
                                          <td class="text-right">
                                            {{detail.price | currency: '&#8358; '}}
                                          </td>
                                          <td>{{detail.unit}}</td>
                                        </tr>
                                      </tbody>
                                      <thead>
                                        <tr>
                                          <th class=""></th>
                                          <th class="">Total</th>
                                          <th class="text-right">{{total | currency: '&#8358; '}}</th>
                                          <th class=""></th>

                                        </tr>
                                      </thead>
                                    </table>
                                  </div>

                                </div>
                              </div>
                            </div>
                            <div id="sppb-addon-1551578090420" class="sppb-hidden-md sppb-hidden-lg clearfix">
                              <div class="sppb-empty-space  clearfix"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              <!-- </div> -->
            </section>
            <!-- end-food-subscription -->
          </div>
        </div>
      </div>
    </main>
  </div>
</section>

