.main-body {
  margin-left: 42px;
}

a:hover {
  color: #464646;
  cursor: pointer;
}

@media (max-width: 500px) {
  .main-body {
    margin-left: 0;
  }
  .current {
    font-size: 14px;
    display: block;
  }
  .sppb-addon-content {
    top: 10px;
  }
  .card {
    margin-bottom: 5px;
  }
}
@media (width: 768px) {
  .main-body {
    margin-left: 0;
  }
  .sub-sel {
    margin-right: 235px;
  }
  .col-md-3 {
    margin: 0%;
    padding: 0%;
    font-size: 13px;
  }
  .card {
    font-size: 13px;
    margin-left: 5px;
  }
  .card-amount {
    font-size: 20px;
  }
}
@media (width: 1024px) {
  .main-body {
    margin-left: 0;
  }
  .sub-sel {
    margin-right: 225px;
  }
  .col-md-3 {
    margin: 0%;
    padding: 0%;
    font-size: 13px;
  }
  .card {
    font-size: 13px;
    margin-left: 5px;
  }
  .card-amount {
    font-size: 20px;
  }
}
@media (width: 1366px) {
  .main-body {
    margin-left: 0;
  }
}
