<section id="sp-main-body">
  <div class="row">
    <main id="sp-component" class="col-lg-12 main-body" role="main">
      <div class="sp-column ">
        <div id="sp-page-builder" class="sp-page-builder  page-2">
          <div class="page-content">
            <!-- deposit -->
            <section id="section-id-1551490002720" class="sppb-section farm-subscription" style="padding-top: 0%;">
              <br><br>
              <!-- deposit-table -->
              <div class="sppb-row-container mb-5 mt-5 col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
                <div class="shadow p-3 bg-white rounded dashboard tbl">
                  <div class="sppb-row">
                    <div class="sppb-col-md-12" id="column-wrap-id-1551573988957">
                      <div id="column-id-1551573988957" class="sppb-column">
                        <div class="sppb-column-addons">
                          <div id="sppb-addon-1551573988978" class="clearfix">
                            <div class="sppb-addon sppb-addon-text-block  ">
                      
                              <div class="sppb-addon-content"></div>
                            </div>
                          </div>
                          <div class="e-panel card">
                            <div class="card-header">
                              <h4 class="sppb-addon-title actn">Deposit <span class="text-primary">Details
                                  ({{deposits?.length}})</span>
                              </h4>
                              <div class="" style="margin-top: -20px;">
                                <button type="button" class="btn btn-success float-right" (click)="Refresh()"><i
                                    title="Refresh" [ngClass]="refreshing ? 'fa fa-refresh fa-spin' : 'fa fa-refresh'"
                                    style="font-size:16px; cursor: pointer;"></i> REFRESH
                                </button>

                                <div class="float-right mr-3">
                                  <select (change)="dateRangeChanged($event)">
                                    <option value="today">Today</option>
                                    <option value="month">Month</option>
                                    <option value="year">Year</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="card-body">
                              <div class="e-table">
                                <div class="table-responsive table-lg">
                                  <table class="table table-bordered text-nowrap">
                                    <thead>
                                      <tr class="bg-success text-light">
                                        <th scope="col">S/N</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Date Deposited</th>
                                        <th scope="col">Deposit For</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let item of deposits; let index = index">
                                        <th scope="row">{{index + 1}}</th>
                                        <td class="text-right">{{item.amount | currency: '&#8358; '}}
                                        </td>
                                        <td>{{item.startDate | date: "mediumDate"}}
                                        </td>
                                        <td>{{item.package}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>

                              </div>
                            </div>
                          </div>
                          <div id="sppb-addon-1551578090420" class="sppb-hidden-md sppb-hidden-lg clearfix">
                            <div class="sppb-empty-space  clearfix"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- </div> -->
              <!-- end-deposit -->
            </section>
          </div>
        </div>
      </div>
    </main>
  </div>
</section>
