<div class="site helix-ultimate com-j2store view-products layout-default task-view itemid-135">
  <section id="sp-section-4">
    <div class="row">
      <div id="sp-title" class="col-lg-12 ">
        <div class="sp-column ">
          <div class="sp-page-title"
            style="background-image: url(../../../../../assets/images/background/inner-banner-bg.jpg);">
            <div class="container">
              <h2 class="sp-page-title-heading">Farmify City
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><br><br>
  <section id="section-id-1551234291418" class="sppb-section">
    <div class="sppb-row-container">
      <div class="sppb-row">
        <div class="sppb-col-md-12" id="column-wrap-id-1551234291419">
          <div id="column-id-1551234291419" class="sppb-column">
            <div class="sppb-column-addons">
              <div id="sppb-addon-1551234291420" class="clearfix">
                <div class="row">
                  <div id="sp-title" class="col-lg-12 ">
                    <div class="sp-column ">
                      <div class="container text-center">
                        <h2 class="sp-page-title-heading info">
                          <span>Farm for your home with</span><span class="text-primary"> Farmify City</span>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div><br><br>
              <div id="sppb-addon-1551319445183" class="clearfix">
                <div class="sppb-addon sppb-addon-text-block sppb-text-left">
                  <h2 class="sppb-addon-title">
                    Farmify
                    <span class="text-primary">City</span>
                  </h2>
                  <div class="sppb-addon-content"></div>
                </div>
              </div>
              <div id="section-id-1551311145816" class="sppb-section">
                <div class="sppb-container-inner">
                  <div class="sppb-row">
                    <div class="sppb-col-md-4 sppb-col-sm-6" id="column-wrap-id-1551311145817">
                      <div id="column-id-1551311145817" class="sppb-column">
                        <div class="sppb-column-addons">
                          <div id="sppb-addon-1551311145826" class="clearfix">
                            <div class="sppb-addon sppb-addon-raw-html">
                              <div class="sppb-addon-content">
                                <div class="content">
                                  <div class="clearfix top-area">
                                    <!-- <div class="icon_box">
                              <span class="icon-nature-1"></span>
                            </div> -->
                                    <div class="text">
                                      <a href="#">
                                        <h5>
                                          FARMFIY CITY
                                        </h5>
                                      </a>
                                      <p>
                                        Farm for your Home.
                                      </p>
                                    </div>
                                  </div>
                                  <div class="img-box">
                                    <img src="assets/images/farmify-city/farmify-courts.jpeg" alt="Farmify Courts"
                                      style="height: 234px;width: 350px;" />
                                    <div class="default-overlay">
                                      <div class="inner-box">
                                        <a href="#"><i class="icon-nature-2"></i></a>
                                      </div>
                                    </div>
                                  </div>

                                  <!-- <div class="link">
                            <a [routerLink]="['/about']" class="default_link">Read More<i
                                class="icon-right-arrow"></i></a>
                          </div> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p class="col-md-8">
                      Farmify Agro Innovations Ltd (Farmfunds Africa™)
                      is a duly registered AgriTech Firm, established to
                      empower African Farmers whilst enabling
                      individual Farmfunders earn profits on their farm
                      sponsorship. <br><br>
                      Farmify City is a modern housing
                      development scheme designed
                      for agro sponsors that are
                      interested in owning a brand
                      new house within the timeframe
                      of three (3) years guaranteed. <br><br>
                      <span class="text-primary">
                        We are proudly Africa’s fastest growing Agritech
                        Company.
                      </span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="assets/images/farmify-city/farmify-city-logo.jpeg" class="Farmify City" alt="Farmify City">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title text-primary">VISION</h5>
                          <p class="card-text">To lead and raise a new
                            breed of agro-preneurs
                            who will be the food bank
                            of the world.
                          </p>
                          <p class="card-text"><small class="text-primary">Farmfunds Africa</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="assets/images/farmify-city/farmify-city-logo.jpeg" class="Farmify City" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title text-primary">MISSION</h5>
                          <p class="card-text">Fueling Africa’s
                            agricultural
                            transformation
                            everyday. <br> <br></p>
                          <p class="card-text"><small class="text-primary">Farmfunds Africa</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  FARMIFY AGRO INNOVATIONS LTD.
                </div>
                <div class="card-body text-center">
                  <h2 class="card-title">3 CORE VALUES</h2>
                  <hr><br>
                  <div class="card-text row">
                    <div class="col-md-4">
                      <span class="card-text text-warning font-weight-bold">FINANCIAL FREEDOM</span>
                    </div>
                    <div class="col-md-4">
                  <span class="card-text text-primary font-weight-bold">FOOD FOR ALL</span>
                    </div>
                    <div class="col-md-4">
                  <span class="card-text text-danger font-weight-bold">HOME FOR ALL</span>
                    </div>
                  </div>
                </div>
              </div><br><br>
              <div id="section-id-1551311145816" class="sppb-section">
                <div class="sppb-container-inner">
                  <div class="sppb-row">
                    <div class="sppb-col-md-6 sppb-col-sm-6" id="column-wrap-id-1551311145817">
                      <div id="column-id-1551311145817" class="sppb-column">
                        <div class="sppb-column-addons">
                          <div id="sppb-addon-1551311145826" class="clearfix">
                            <div class="sppb-addon sppb-addon-raw-html">
                              <div class="sppb-addon-content">
                                <div class="content">
                                  <h4 class="text-primary">FARM FOR YOUR HOME WITH FARMIFY CITY</h4>
                                  <ol><br>
                                    <li>Your dream of becoming a home owner can be made real in three years!</li><br>
                                    <li>Our track record in agro investment is second to none!</li><br>
                                    <li>No sponsorship option in the world can beat this!</li><br>
                                  <img src="assets/images/farmify-city/house-1.jpeg" alt="" />
                                  </ol>
                                  <h4 class="text-primary">ONCE IN A LIFETIME DEAL!</h4><br>
                                  <p>The deal is definitely a no brainer! </p><br>
                                  <p>When you sponsor our farm by paying for the house option you desire, your return on
                                    sponsorship is a completed home after 3 years.</p><br>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sppb-col-md-6 sppb-col-sm-6" id="column-wrap-id-1551311145820">
                      <div id="column-id-1551311145820" class="sppb-column">
                        <div class="sppb-column-addons">
                          <div id="sppb-addon-1551311145835" class="clearfix">
                            <div class="sppb-addon sppb-addon-raw-html">
                              <div class="sppb-addon-content">
                                <div class="content">
                                  <h4 class="text-primary">FARM FOR YOUR HOME? HOW?</h4><br>
                                  <p>Sponsor our farm by paying for the home option you desire!</p><br>
                                  <p>Sit back and relax as your sponsorship yields you a brand new home in 3 years!</p><br>
                                  <p class="font-weight-bold">Our Farm Network consists of:</p>
                                    <ul style="list-style-type: circle;">
                                      <li class="ml-5">Pig Farm</li>
                                      <li class="ml-5">Goat Farm</li>
                                      <li class="ml-5">Mechanized
                                        Processing Farm</li>
                                      <li class="ml-5">Turkey Farm</li>
                                      <li class="ml-5">Fish Farm</li>
                                      <li class="ml-5">Chicken Farm</li>
                                      <li class="ml-5">Greenhouse Farm</li>
                                    </ul>
                                  <br>
                                  <div id="sppb-addon-1551312762441" class="clearfix">
                                    <div class="sppb-addon sppb-addon-button-group sppb-text-left">
                                      <div class="sppb-addon-content">
                                        <a href="assets/brochure/Farmify-Courts-Presentation.pdf" download
                                          id="btn-1551312762441"
                                          class="sppb-btn sppb-btn-primary sppb-btn-rounded sppb-btn-flat">Download
                                          Brochure</a>
                                      </div>
                                    </div>
                                  </div>
                                  <br>
                          <img src="assets/images/farmify-city/farmify-city-logo.jpeg" class="Farmify City" alt="Farmify City">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section-id-1551573988958" class="sppb-section  ">
    <div class="sppb-row-container">
      <div class="sppb-row">
        <div class="sppb-col-md-12" id="column-wrap-id-1551573988957">
          <div id="column-id-1551573988957" class="sppb-column">
            <div class="sppb-column-addons">
              <div id="sppb-addon-1551573988978" class="clearfix">
                <div class="sppb-addon sppb-addon-text-block  ">
                  <h2 class="sppb-addon-title"><span class="text-primary">Location</span> And Cost</h2>
                  <div class="sppb-addon-content"></div>
                </div>
              </div>
              <div id="sppb-addon-1551573988963" class="clearfix">
                <div class="sppb-addon sppb-addon-raw-html ">
                  <div class="sppb-addon-content">
                    <div class="single-item">
                      <!-- <div class="icon-box"><i
                                                class="icon-nature-1"></i></div> -->
                      <div class="row">
                        <div class="col-md-6 sppb-addon-content">
                          <p class="text-primary">The city is located near the sprawling Chois Gardens in <span class="font-weight-bold">Abijo GRA, Lekki</span>.</p><br>
                          <p class="text-primary">Presently, the value of a 1 to 4 bedroom Apartment in Abijo GRA goes within the
                            range of <span class="font-weight-bold">&#8358;18,000,000 to &#8358;56,000,000</span>, but with a
                            sponsorship of <span class="font-weight-bold">&#8358;15,000,000 to &#8358;45,000,000</span>, you are
                            eligible to claim the keys to your flat within three years.</p><br>
                          <div id="sppb-addon-1551312762441" class="clearfix">
                            <div class="sppb-addon sppb-addon-button-group sppb-text-left">
                              <div class="sppb-addon-content">
                                <a id="btn-1551312762441" [routerLink]="['/signup']"
                                  class="sppb-btn sppb-btn-primary sppb-btn-rounded sppb-btn-flat">Get
                                  Started</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 sppb-addon-content" style="margin-top: -24px;">
                          <h4 class="text-primary">BREAKDOWN OF HOMES</h4>
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Flats</th>
                                <th scope="col">Cost of Homes Option</th>
                                <th scope="col">Available Units</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>1 Bedroom Flat</td>
                                <td class="text-right">&#8358;15,000,000</td>
                                <td>16</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>2 Bedroom Flat</td>
                                <td class="text-right">&#8358;22,000,000</td>
                                <td>40</td>
                              </tr>

                              <tr>
                                <th scope="row">3</th>
                                <td>3 Bedroom Flat</td>
                                <td class="text-right">&#8358;29,000,000</td>
                                <td>30</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>4 Bedroom Flat Terrace Duplex</td>
                                <td class="text-right">&#8358;45,000,000</td>
                                <td>8</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="sppb-addon-1551578090420" class="sppb-hidden-md sppb-hidden-lg clearfix">
                <div class="sppb-empty-space  clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br><br>

  <section id="section-id-1551316406925" class="sppb-section">
    <div class="sppb-row-container">
      <div class="sppb-row">
        <div class="sppb-col-md-12" id="column-wrap-id-1551316406929">
          <div id="column-id-1551316406929" class="sppb-column">
            <div class="sppb-column-addons">
              <div id="sppb-addon-1551319445183" class="clearfix">
                <div class="sppb-addon sppb-addon-text-block sppb-text-left">
                  <h2 class="sppb-addon-title">
                    Sneek Peek into
                    <span class="text-primary">Farmify City</span>
                  </h2>
                  <div class="sppb-addon-content"></div>
                </div>
              </div>
              <div id="sppb-addon-1551316406931" class="clearfix">
                <div class="sppb-empty-space clearfix"></div>
              </div>
              <div id="section-id-1551319444936" class="sppb-section">
                <div class="sppb-container-inner">
                  <div class="sppb-row">
                    <div class="sppb-col-md-12" id="column-wrap-id-1551319444937">
                      <div id="column-id-1551319444937" class="sppb-column">
                        <div class="sppb-column-addons">
                          <div id="sppb-addon-1551319444945" class="clearfix">
                            <div class="sppb-addon sppb-addon-articles">
                              <div class="sppb-addon-content">
                                <div class="row">
                                  <div class="col-md-6">Take a sneak peek at the different categories and sponsorship units.</div>
                                  <div class="col-md-6">Make the choice that is suitable for you and your family right away.</div>
                                </div>
                                <div class="sppb-row">
                                  <div class="sppb-col-md-3">
                                    <div class="sppb-addon-article">
                                      <a class="sppb-article-img-wrap" [routerLink]="['/packages']"
                                        itemprop="url"><img class="sppb-img-responsive"
                                          src="assets/images/farmify-city/city-1bedroom.jpeg" alt=""
                                          itemprop="thumbnailUrl" /></a>
                                      <div class="sppb-article-info">
                                        <!-- <span style="cursor: pointer;" [routerLink]="['/packages']"
                                          class="sppb-meta-category">Read More</span> -->
                                        <div class="sppb-article-info-wrap">
                                            <h4>
                                              1 Bedroom Flat
                                            </h4>
                                          <!-- <div class="sppb-article-introtext">
                                            <p>
                                              Click on the Read More to get in depth of how this package
                                              works, including the unit available and the corresponding cost
                                            </p>
                                          </div> -->
                                          <!-- <div class="sppb-article-meta">
                                            <span class="sppb-meta-date" itemprop="datePublished">28 February
                                              2019</span>
                                            |
                                            <span class="sppb-meta-author" itemprop="name">Windstripe</span>
                                          </div> -->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sppb-col-md-3">
                                    <div class="sppb-addon-article">
                                      <a class="sppb-article-img-wrap" [routerLink]="['/packages']"
                                        itemprop="url"><img class="sppb-img-responsive"
                                        src="assets/images/farmify-city/city-2bedroom.jpeg" alt=""
                                          itemprop="thumbnailUrl" /></a>
                                      <div class="sppb-article-info">
                                        <!-- <span style="cursor: pointer;" [routerLink]="['/packages']"
                                          class="sppb-meta-category">Read More</span> -->
                                        <div class="sppb-article-info-wrap">
                                            <h4>
                                              2 Bedroom Flat
                                            </h4>
                                          <!-- <div class="sppb-article-introtext">
                                            <p>
                                              Click on the Read More to get in depth of how this package
                                              works, including the unit available and the corresponding cost
                                            </p>
                                          </div> -->
                                          <!-- <div class="sppb-article-meta">
                                            <span class="sppb-meta-date" itemprop="datePublished">28 February
                                              2019</span>
                                            |
                                            <span class="sppb-meta-author" itemprop="name">Windstripe</span>
                                          </div> -->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sppb-col-md-3">
                                    <div class="sppb-addon-article">
                                      <a class="sppb-article-img-wrap" [routerLink]="['/packages']"
                                        itemprop="url"><img class="sppb-img-responsive"
                                        src="assets/images/farmify-city/city-3bedroom.jpeg" alt=""
                                          itemprop="thumbnailUrl" /></a>
                                      <div class="sppb-article-info">
                                        <!-- <span style="cursor: pointer;" [routerLink]="['/packages']"
                                          class="sppb-meta-category">Read More</span> -->
                                        <div class="sppb-article-info-wrap">
                                            <h4>
                                             3 Bedroom Flat
                                            </h4>
                                          <!-- <div class="sppb-article-introtext">
                                            <p>
                                              Click on the Read More to get in depth of how this package
                                              works, including the unit available and the corresponding cost
                                            </p>
                                          </div> -->
                                          <!-- <div class="sppb-article-meta">
                                            <span class="sppb-meta-date" itemprop="datePublished">28 February
                                              2019</span>
                                            |
                                            <span class="sppb-meta-author" itemprop="name">Windstripe</span>
                                          </div> -->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sppb-col-md-3">
                                    <div class="sppb-addon-article">
                                      <a class="sppb-article-img-wrap" [routerLink]="['/packages']"
                                        itemprop="url"><img class="sppb-img-responsive"
                                        src="assets/images/farmify-city/city-4bedroom.jpeg" alt=""
                                          itemprop="thumbnailUrl" /></a>
                                      <div class="sppb-article-info">
                                        <!-- <span style="cursor: pointer;" [routerLink]="['/packages']"
                                          class="sppb-meta-category">Read More</span> -->
                                        <div class="sppb-article-info-wrap">
                                            <h4>
                                              4 Bedroom Flat Terrace Duplex
                                            </h4>
                                          <!-- <div class="sppb-article-introtext">
                                            <p>
                                              Click on the Read More to get in depth of how this package
                                              works, including the unit available and the corresponding cost
                                            </p>
                                          </div> -->
                                          <!-- <div class="sppb-article-meta">
                                            <span class="sppb-meta-date" itemprop="datePublished">28 February
                                              2019</span>
                                            |
                                            <span class="sppb-meta-author" itemprop="name">Windstripe</span>
                                          </div> -->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="sppb-addon-1551489024304" class="sppb-hidden-md sppb-hidden-lg clearfix">
                            <div class="sppb-empty-space clearfix"></div>
                          </div>
                          <div id="sppb-addon-1551234291420" class="clearfix">
                            <div class="row">
                              <div id="sp-title" class="col-lg-12 ">
                                <div class="sp-column ">
                                  <div class="container text-center">
                                    <h2 class="sp-page-title-heading info">
                                      <span>What will be given to you</span><span class="text-primary"> After payment is made?</span>
                                    </h2>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div><br><br>
                          <div class="row">
                            <div class="col-md-6">
                              <p>An Official Legal Contract</p><br>
                              <p>Receipt of Payment</p><br>
                              <p>Photocopy of Land Papers acquired by Farmify Agro Innovations Ltd.</p><br>
                              <p>Updates on project construction and development every 6 months</p><br>
                              <p>After 3 years, you get the keys to your brand new home.</p><br>
                            </div>
                            <div class="col-md-6">
                              <div class="card bg-light mb-3">
                                <div class="card-header">Referral Bonus</div>
                                <div class="card-body">
                                  <!-- <h5 class="card-title">Referral Bonus</h5> -->
                                  <div class="card-text">
                                      <div class="col-md-6"><br>
                                        <h1 class="text-primary">10% Flat Rate</h1>
                                      </div>
                                      <div class="col-md-6">
                                        <span class="font-weight-bold text-primary">Awesome Catch:</span><br><br>
                                        <span class="font-weight-bold" style="font-size: 18px;">
                                          “Only existing Farmfunders/Partners are eligible.”
                                        </span>
                                      </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div><br><br>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
