<aside class="app-sidebar">
  <div class="app-sidebar__user">
    <div class="dropdown">
      <a class="nav-link pl-2 pr-2 leading-none d-flex" data-toggle="dropdown" href="#">
        <img alt="image" src="{{ photo ? photo : 'assets/images/avat.png' }}" class="avatar-md rounded-circle" />
        <span class="ml-2 d-lg-block">
          <span class="text-white app-sidebar__user-name mt-5">{{ user?.firstName }} {{ user?.lastName }}</span><br />
          <span class="text-light app-sidebar__user-name text-sm">
            {{ user?.email }}</span>
        </span>
      </a>
    </div>
  </div>
  <ul class="side-menu">
    <li class="slide">
      <a class="side-menu__item" data-toggle="slide" href=""><i class="side-menu__icon fa fa-desktop"></i><span
          class="side-menu__label">Dashboards</span><i class="angle fa fa-angle-right"></i></a>
      <ul class="slide-menu">
        <li>
          <a id="children-link" class="side-menu__item" [routerLink]="['/app/foodbank-dashboard']">
            <i class="side-menu__icon fa fa-bank ml-3"></i><span class="side-menu__label">Food bank</span></a>
        </li>
        <li>
          <a id="children-link" class="side-menu__item" [routerLink]="['/app/investment-dashboard']">
            <i class="side-menu__icon fa fa-bar-chart ml-3"></i><span class="side-menu__label">Farm
              investment</span></a>
        </li>
      </ul>
    </li>

    <li>
      <a id="children-link" class="side-menu__item" id="nfs" (click)="newFoodSubs()"><i class="side-menu__icon fa fa-money"></i><span
          class="side-menu__label">New Food Subs <i class="badge badge-warning">New</i></span></a>
    </li>

    <li>
      <a id="children-link" class="side-menu__item" [routerLink]="['/app/packages']"><i class="side-menu__icon fa fa-leaf"></i><span
          class="side-menu__label">New Farm</span></a>
    </li>

    <li>
      <a id="children-link" class="side-menu__item" [routerLink]="['/app/farmify-shopping']"><i
          class="side-menu__icon fa fa-shopping-basket"></i><span class="side-menu__label">Food Bank Shopping
        </span></a>
    </li>

    <li class="slide">
      <a class="side-menu__item" data-toggle="slide" href=""><i class="side-menu__icon fa fa-line-chart"></i><span
          class="side-menu__label">Financial History</span><i class="angle fa fa-angle-right"></i></a>
      <ul class="slide-menu">
        <li>
          <a id="children-link" class="side-menu__item" [routerLink]="['/app/deposit']"><i
              class="side-menu__icon fa fa-plus-circle ml-3"></i><span class="side-menu__label">Deposits</span></a>
        </li>
        <li>
          <a id="children-link" class="side-menu__item" [routerLink]="['/app/withdrawal']"><i
              class="side-menu__icon fa fa-minus-circle ml-3"></i><span class="side-menu__label">Withdrawals</span></a>
        </li>
      </ul>
    </li>

    <li class="slide help">
      <a class="side-menu__item" data-toggle="slide" href=""><i
          class="side-menu__icon fa fa-question-circle-o"></i><span class="side-menu__label">Help</span><i
          class="angle fa fa-angle-right"></i></a>
      <ul class="slide-menu">
        <li>
          <a id="children-link" class="side-menu__item" [routerLink]="['']" data-toggle="modal" data-target="#carelines" style="cursor: pointer"><i
              class="side-menu__icon fa fa-tty ml-3"></i><span class="side-menu__label">Get
              Support</span></a>
        </li>
        <li>
          <a id="children-link" class="side-menu__item" [routerLink]="['']" data-toggle="modal" data-target="#feedback" style="cursor: pointer"><i
              class="side-menu__icon fa fa-comment ml-3"></i><span class="side-menu__label">Send
              Feedback</span></a>
        </li>
      </ul>
    </li>
    <li>
      <a class="side-menu__item" [routerLink]="['/login']"><i class="side-menu__icon fa fa-sign-out"></i><span
          class="side-menu__label">Log Out</span></a>
    </li>
  </ul>
</aside>

<!-- Modal Care lines -->
<div class="modal fade" id="carelines" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-center text-primary" id="exampleModalLabel" style="color: green;">Care Lines
        </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <small class="name">Sarah Samuel:<br>
              <span class="number text-primary"><i class="fa fa-phone"></i> 0801-743-2876</span>
            </small><br>
            <hr>
            <small class="name">Joe Alfred:<br>
              <span class="number text-primary"><i class="fa fa-phone"></i> 0805-387-2345</span>
            </small><br>
            <hr>
            <small class="name">Olawale Ajayi:<br>
              <span class="number text-primary"><i class="fa fa-phone"></i> 0903-456-7895</span>
            </small>
          </div>
          <div class="col-md-6">
            <small class="name">Sarah Samuel:<br>
              <span class="number text-primary"><i class="fa fa-phone"></i> 0801-743-2876</span>
            </small><br>
            <hr>
            <small class="name">Joe Alfred:<br>
              <span class="number text-primary"><i class="fa fa-phone"></i> 0805-387-2345</span>
            </small><br>
            <hr>
            <small class="name">Olawale Ajayi:<br>
              <span class="number text-primary"><i class="fa fa-phone"></i> 0903-456-7895</span>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end-modal -->
<!-- Modal Feedback -->
<div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-center" id="exampleModalLabel" style="color: green;">Customer Feedback</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #feedback="ngForm">
          <div class="form-row">
            <div class="col-md-12">
              <div class="form-group">
                <strong for="feedbackType">Feedback Type</strong>
                <Select name="feedbackType" [(ngModel)]="feedbackData.feedbackType"
                  (change)="onChangeFeedback($event.target.value)" class="inputbox form-control">
                  <option selected disabled> Choose feedback type </option>
                  <option value="Comments"> Comments </option>
                  <option value="Bugs Reports"> Bug Reports </option>
                  <option value="Questions"> Questions </option>
                </Select>
              </div>

              <div class="form-group">
                <strong for="describe">Describe Feedback Type</strong>
                <textarea name="description" [(ngModel)]="feedbackData.description" class="inputbox form-control"
                  placeholder="Description here..."></textarea>
              </div>

            </div>
            <div class="mr-5" style="margin-left: 30%">
              <hr>
              <button [disabled]="submitted" (click)="submitFeedback()" class="btn btn-primary mr-1">
                {{ submitted ? "Submitting..." : "Submit Feedback" }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->
