.side-menu__item {
    font-weight: bolder;
}

#nfs {
    color: rgba(255,255,255,0.6);
    cursor: pointer;
}

#nfs:hover {
    color: white;
}
@media (min-width: 768px) {
  .help {
    display: none;
  }
}
