<div class="site helix-ultimate com-j2store view-carts itemid-137 ">
  <section id="sp-main-body">
    <div class="container">
      <div class="container-inner"><br>
      <a [routerLink]="['/app/farmify-shopping']" class="back"><i class="fa fa-arrow-left"> Back to list</i></a>
        <div class="row">
          <main id="sp-component" class="col-lg-12 " role="main">
            <div class="sp-column ">
              <div id="system-message-container">
              </div>
              <div id="akeeba-renderjoomla">
                <div class="j2store">
                  <div class="j2store-cart">
                    <div class="col-md-12"></div>
                    <div class="row">
                      <div class="col-md-12">
                        <form action="/realgarden/index.php/shop/shopping-cart" method="post" name="j2store-cart-form"
                          id="j2store-cart-form" enctype="multipart/form-data">

                          <input type="hidden" name="option" value="com_j2store">
                          <input type="hidden" name="view" value="carts">
                          <input type="hidden" id="j2store-cart-task" name="task" value="update">

                          <table class="j2store-cart-table table table-bordered">
                            <thead>
                              <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price &#x20A6;</th>
                                <th>Action</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr>
                                <td>
                                  <span class="cart-thumb-image">
                                    <img alt="The Innovators" src="assets/images/shop/1.jpg">
                                  </span>
                                  <span class="cart-product-name">
                                    The Innovators </span>
                                  <br>
                                  <br>
                                </td>

                                <td>
                                  <div class="product"><input type="number" name="quantities[43]" value="1"
                                      class="input-mini " min="0" step="1"></div>
                                </td>

                                <td>
                                  <div class="product"><input type="text" name="price" value="1" class="input-mini "
                                      min="0" step="1">
                                  </div>
                                  <div class="sale-price">
                                    $24.99
                                  </div>
                                </td>

                                <td>
                                  <a class="btn btn-small btn-danger btn-xs text-light">
                                    <i class="fa fa-trash-o"></i>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="j2store-cart-buttons">
                            <div class="buttons-left">
                              <span class="cart-continue-shopping-button">
                                <a [routerLink]="['/app/farmify-shopping']">
                                  <input class="btn btn-primary" type="button" value="Continue Shopping">
                                </a>
                              </span>
                              <!-- <span class="cart-update-button">
                                    <input class="btn btn-warning ml-2" type="submit" value="Update">
                                  </span> -->
                            </div>
                          </div>
                          <div class="form-group note" style="margin-left: 51.5%;">
                            <label for="address" class="text-primary font-weight-bold">Shipping Address</label>
                            <input id="address" name="comment" placeholder="Enter Address in full"
                              style="width: 100%;">
                          </div>
                          <br>
                          <div class="note" style="margin-left: 51.5%;">
                            <strong class="text-warning">Note to Farmify Market</strong>
                            <textarea id="comment" name="comment" placeholder="Type a comment here"
                              style="width: 100%;"></textarea>
                          </div>
                          <br>
                        </form>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="cart-estimator-discount-block">
                          <div id="j2store-cart-modules">
                          </div>
                        </div>

                      </div>
                      <div class="col-md-6">
                        <h3>Cart totals</h3>
                        <table class="cart-footer table table-bordered">
                          <tbody>
                            <tr valign="top">
                              <th scope="row">
                                Total </th>
                              <td>$29.00</td>
                            </tr>
                          </tbody>
                        </table>

                        <div class="buttons-right">
                          <span class="cart-checkout-button">
                            <a class="btn btn-large btn-success" [routerLink]="['/profile']">Save Items</a>
                          </span>

                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </section>
</div>