<div class="site helix-ultimate com-j2store view-carts itemid-137 ">
  <section id="sp-main-body">
    <div class="container">
      <div class="container-inner"><br>
      <a [routerLink]="['/app/farmify-shopping']" class="back"><i class="fa fa-arrow-left"> Back to list</i></a>
        <div class="row">
          <main id="sp-component" class="col-lg-12 " role="main">
            <div style="display: flex; justify-content: space-between;">
              <h4>YOUR BASKET ({{cart.purchaseDetails.length}} item{{cart.purchaseDetails.length > 1 ? 's' : ''}}) </h4>
              <h4 *ngIf="cart.purchaseDetails.length > 0" style="cursor: pointer;" (click)="clearBasket()" class="text-danger">Clear basket</h4>
            </div>

            <div style="margin-top: 10px;" class="sp-column">
              <div id="akeeba-renderjoomla">
                <div class="j2store">
                  <div class="j2store-cart">
                    <div class="col-md-12"></div>
                    <div class="row">
                      <div class="col-md-12">
                        <form name="j2store-cart-form"
                          id="j2store-cart-form">
                          <table class="table-responsive j2store-cart-table table table-bordered">
                            <thead>
                              <tr class="bg-success text-light">
                                <th>S/N</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price &#x20A6;</th>
                                <th>Action</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr *ngFor="let item of cart.purchaseDetails; let i = index">
                                <td>{{i + 1}}</td>
                                <td>
                                  <span class="cart-thumb-image">
                                    <img alt="{{item.productImage}}" src="{{apiUrl}}/{{item.productImage}}">
                                  </span>
                                  <span class="cart-product-name">
                                    {{item.productName}} </span>
                                  <br>
                                  <br>
                                </td>

                                <td>
                                  {{item.unit}}
                                  <!-- <div class="product">
                                    <input type="number" name="unit" class="input-mini form-control" [(ngModel)]="item.unit">
                                  </div> -->
                                </td>

                                <td>
                                  <div class="sale-price">
                                    {{item.price | currency: '&#8358; '}}
                                  </div>
                                </td>

                                <td>
                                  <a (click)="deleteItem(item, i)" title="delete" class="btn btn-small btn-danger btn-xs text-light">
                                    <i class="fa fa-trash-o"></i>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="j2store-cart-buttons">
                            <div class="buttons-left">
                              <span class="cart-continue-shopping-button">
                                <a [routerLink]="['/app/farmify-shopping']">
                                  <input class="btn btn-primary" type="button" value="Continue Shopping">
                                </a>
                              </span>
                              <!-- <span class="cart-update-button">
                                    <input class="btn btn-warning ml-2" type="submit" value="Update">
                                  </span> -->
                            </div>
                          </div>
                          <div class="form-group note" style="margin-left: 51.5%;">
                            <label for="address" class="text-primary font-weight-bold"><span class="text-danger">*</span>Delivery Address</label>
                            <input id="address" [(ngModel)]="cart.address" name="address" placeholder="Enter Address in full"
                              style="width: 100%;">
                          </div>
                          <br>
                          <div class="note" style="margin-left: 51.5%;">
                            <strong class="text-warning">Note to Farmify Market</strong>
                            <textarea id="note" [(ngModel)]="cart.note" name="note" placeholder="Add prepping and shopping instructions here"
                              style="width: 100%;"></textarea>
                          </div>
                          <br>
                        </form>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="cart-estimator-discount-block">
                          <div id="j2store-cart-modules">
                          </div>
                        </div>

                      </div>
                      <div class="col-md-6">
                        <h3>Basket total</h3>
                        <table class="cart-footer table table-bordered">
                          <tbody>
                            <tr valign="top">
                              <th scope="row">
                                Total </th>
                              <td>{{orderTotalAmount | currency: '&#8358; '}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <div>
                        <button [disabled]="isBusy || this.cart.purchaseDetails.length === 0" (click)="saveItems()"
                            class="btn btn-primary mr-1">{{isBusy ? 'Saving...' : 'SAVE ITEMS'}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </section>
</div>
