<div class="site helix-ultimate com-j2store view-products layout-default task-view itemid-135">
  <section id="sp-section-4">
    <div class="row">
      <div id="sp-title" class="col-lg-12 ">
        <div class="sp-column ">
          <div class="sp-page-title"
            style="background-image: url(../../../../../assets/images/background/inner-banner-bg.jpg);">
            <div class="container">
              <h2 class="sp-page-title-heading">Food Bank
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><br><br>
  <section id="section-id-1551234291418" class="sppb-section">
    <div class="sppb-row-container">
      <div class="sppb-row">
        <div class="sppb-col-md-12" id="column-wrap-id-1551234291419">
          <div id="column-id-1551234291419" class="sppb-column">
            <div class="sppb-column-addons">
              <div id="sppb-addon-1551234291420" class="clearfix">
                <div class="row">
                  <div id="sp-title" class="col-lg-12 ">
                    <div class="sp-column ">
                      <div class="container text-center">
                        <h2 class="sp-page-title-heading info">
                          <span>You can eat your cake and have it with <span class="text-primary">Farmfunds
                              Africa</span></span>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div><br><br>
              <div id="sppb-addon-1551319445183" class="clearfix">
                <div class="sppb-addon sppb-addon-text-block sppb-text-left">
                  <h2 class="sppb-addon-title">
                    Farmify
                    <span class="text-primary">Food Bank</span>
                  </h2>
                  <div class="sppb-addon-content"></div>
                </div>
              </div>
              <div id="sppb-addon-1551234291421" class="clearfix">
                <div class="sppb-empty-space clearfix"></div>
              </div>
              <div id="section-id-1551311145816" class="sppb-section">
                <div class="sppb-container-inner">
                  <div class="sppb-row">
                    <div class="sppb-col-md-6 sppb-col-sm-6" id="column-wrap-id-1551311145817">
                      <div id="column-id-1551311145817" class="sppb-column">
                        <div class="sppb-column-addons">
                          <div id="sppb-addon-1551311145826" class="clearfix">
                            <div class="sppb-addon sppb-addon-raw-html">
                              <div class="sppb-addon-content">
                                <div class="content">
                                  <p>Sponsor our Greenhouse Vegetable Farm for just &#8358;100,000 per unit and get 60%
                                    ROI
                                    back within the space of 1 year</p><br>
                                  <p>The 60% will be broken down into 12 parts which means you will be paid 5% of your
                                    ROI monthly in form of groceries, foodstuffs and household items.</p><br>
                                  <p>After a whole one year of free grocery shopping for your home, you get a whopping
                                    70% of your capital back!</p><br>
                                  <p>The remaining 30% of your capital will be use as your service charge throughout the
                                    year which includes the delivery to your doorstep.</p><br>
                                  <p>In other words, within a year you spent just 30% of your investment on grocery
                                    shopping and household items.</p><br>
                                  <p><span class="text-primary">For example; </span>You normally spend &#8358;50,000 a
                                    month on groceries and household items. <br>
                                    Given that 1 unit of our greenhouse farm costs &#8358;100,000, in order for you to
                                    meet up with the amount of money you normally spend on your food,
                                    you can buy more units e.g. &#8358;1,000,000 worth of units, which is 10 units, can
                                    give you a shopping allowance of &#8358;50,000 monthly.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sppb-col-md-6 sppb-col-sm-6" id="column-wrap-id-1551311145820">
                      <div id="column-id-1551311145820" class="sppb-column">
                        <div class="sppb-column-addons">
                          <div id="sppb-addon-1551311145835" class="clearfix">
                            <div class="sppb-addon sppb-addon-raw-html">
                              <div class="sppb-addon-content">
                                <div class="content">
                                  <p>&#8358;50,000 X 12 Months = &#8358;600,000 worth of free food in a year.</p><br>
                                  <p>70% 0f &#8358;1,000,000 = &#8358;700,000 will still be paid back from your capital
                                    at the end of the year.</p><br>
                                  <p>30% of &#8358;1,000,000 = &#8358;300,000 will be charged for logistics and other
                                    services.</p>
                                  <img src="assets/images/farmify-slide.jpeg" alt="Slide background" />
                                  <br><br>
                                    <div id="sppb-addon-1551312762441" class="clearfix">
                                      <div class="sppb-addon sppb-addon-button-group sppb-text-left">
                                        <div class="sppb-addon-content">
                                          <a href="assets/brochure/Farmify-Market-Food-Bank-Presentation.ppt" download id="btn-1551312762441"
                                            class="sppb-btn sppb-btn-primary sppb-btn-rounded sppb-btn-flat">Download
                                            Brochure</a>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section-id-1551573988958" class="sppb-section  ">
    <div class="sppb-row-container">
      <div class="sppb-row">
        <div class="sppb-col-md-12" id="column-wrap-id-1551573988957">
          <div id="column-id-1551573988957" class="sppb-column">
            <div class="sppb-column-addons">
              <div id="sppb-addon-1551573988978" class="clearfix">
                <div class="sppb-addon sppb-addon-text-block  ">
                  <h2 class="sppb-addon-title"><span class="text-primary">How</span> It Works</h2>
                  <div class="sppb-addon-content"></div>
                </div>
              </div>
              <div id="sppb-addon-1551573988963" class="clearfix">
                <div class="sppb-addon sppb-addon-raw-html ">
                  <div class="sppb-addon-content">
                    <div class="single-item">
                      <!-- <div class="icon-box"><i
                                                class="icon-nature-1"></i></div> -->
                      <div class="row">
                        <div class="col-md-6 sppb-addon-content">
                          <p class="text-primary">You can adjust your shopping list every month.</p><br>
                          <p class="text-primary">You can require us to deliver to you once or twice in a month.</p><br>
                          <p class="text-primary">You can also skip a month or two and move your 5% to the next month.
                          </p><br>
                          <p class="text-primary">If you do not update your list a week before delivery, there is a high
                            probability
                            that your old list will be
                            automatically be delivered to you.</p><br>
                          <p class="text-primary">Be assured that you will get more than what you ordered for, because
                            it will be
                            delivered to you in wholesale quantity.</p>
                          <br><br>
                          <div id="sppb-addon-1551312762441" class="clearfix">
                            <div class="sppb-addon sppb-addon-button-group sppb-text-left">
                              <div class="sppb-addon-content">
                                <a id="btn-1551312762441" [routerLink]="['/signup']"
                                  class="sppb-btn sppb-btn-primary sppb-btn-rounded sppb-btn-flat">Get
                                  Started</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <img src="assets/images/food-bank-1.jpeg" alt="Slide background" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="sppb-addon-1551578090420" class="sppb-hidden-md sppb-hidden-lg clearfix">
                <div class="sppb-empty-space  clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br><br>
  <section id="sp-section-4">
    <div class="row">
      <div id="sp-title" class="col-lg-12 ">
        <div class="sp-column ">
          <div class="container text-center">
            <h2 class="sp-page-title-heading info">Get Information About Our
              <span class="text-primary">Food Bank</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sp-main-body">
    <div class="row">
      <main id="sp-component" class="col-lg-12 " role="main">
        <div class="sp-column ">
          <div id="system-message-container">
          </div>
          <div id="sp-page-builder" class="sp-page-builder  page-4">
            <div class="page-content">
              <section id="section-id-1551740902941" class="sppb-section  ">
                <div class="sppb-row-container">
                  <div class="sppb-row">
                    <div class="sppb-col-md-12" id="column-wrap-id-1551740902940">
                      <div id="column-id-1551740902940" class="sppb-column">
                        <div class="sppb-column-addons">
                          <div id="sppb-addon-1551740902944" class="clearfix">
                            <div class="sppb-addon sppb-addon-accordion ">
                              <div class="sppb-addon-content">
                                <div class="sppb-panel-group">
                                  <div class="sppb-panel sppb-panel-default">
                                    <div class="sppb-panel-heading active ">
                                      <span class="sppb-panel-title">What happens if I don't want my foodstuff for the
                                        current month?</span>
                                      <span class="sppb-toggle-direction"><i class="fa fa-chevron-right"></i></span>
                                    </div>
                                    <div class="sppb-panel-collapse">
                                      <div class="sppb-panel-body">
                                        <div id="sppb-addon-1551740902969" class="clearfix">
                                          <div class="sppb-addon sppb-addon-text-block  ">
                                            <div class="sppb-addon-content">
                                              <div class="text">
                                                <p>Delivery of your food and household items can be extended till the
                                                  next month(s). For example; we can move your 5% from the month you
                                                  skipped to the next month, and deliver 10% to cover up for the
                                                  previous month.
                                                </p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sppb-panel sppb-panel-default">
                                    <div class="sppb-panel-heading "><span class="sppb-panel-title">Must I purchase only
                                        Farmify Agro products?</span>
                                      <span class="sppb-toggle-direction"><i class="fa fa-chevron-right"></i></span>
                                    </div>
                                    <div class="sppb-panel-collapse" style="display: none;">
                                      <div class="sppb-panel-body">
                                        <div id="sppb-addon-1551740964294" class="clearfix">
                                          <div class="sppb-addon sppb-addon-text-block  ">
                                            <div class="sppb-addon-content">
                                              <div class="text">
                                                <p>Your purchasing power is not limited to Farmify Products alone. You
                                                  can purchase any foodstuff, groceries, provisions, toiletries etc.
                                                  from that can be gotten from the market or supermarket for a more
                                                  reasonable price at your convenience.
                                                </p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sppb-panel sppb-panel-default">
                                    <div class="sppb-panel-heading "><span class="sppb-panel-title">Will I be paying for
                                        delivery at any point in time?</span><span class="sppb-toggle-direction"><i
                                          class="fa fa-chevron-right"></i></span>
                                    </div>
                                    <div class="sppb-panel-collapse" style="display: none;">
                                      <div class="sppb-panel-body">
                                        <div id="sppb-addon-1551740964469" class="clearfix">
                                          <div class="sppb-addon sppb-addon-text-block  ">
                                            <div class="sppb-addon-content">
                                              <div class="text">
                                                <p>No, the delivery is free throughout the year.
                                                </p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sppb-panel sppb-panel-default">
                                    <div class="sppb-panel-heading "><span class="sppb-panel-title">Which states in
                                        Nigeria does the Farmify Market Food Bank service cover?</span><span
                                        class="sppb-toggle-direction"><i class="fa fa-chevron-right"></i></span>
                                    </div>
                                    <div class="sppb-panel-collapse" style="display: none;">
                                      <div class="sppb-panel-body">
                                        <div id="sppb-addon-1551740964658" class="clearfix">
                                          <div class="sppb-addon sppb-addon-text-block  ">
                                            <div class="sppb-addon-content">
                                              <div class="text">
                                                <p>For now, we cover only Lagos and its environs.
                                                </p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sppb-panel sppb-panel-default">
                                    <div class="sppb-panel-heading "><span class="sppb-panel-title">How do I place an
                                        order?</span><span class="sppb-toggle-direction"><i
                                          class="fa fa-chevron-right"></i></span>
                                    </div>
                                    <div class="sppb-panel-collapse" style="display: none;">
                                      <div class="sppb-panel-body">
                                        <div id="sppb-addon-1551740964916" class="clearfix">
                                          <div class="sppb-addon sppb-addon-text-block  ">
                                            <div class="sppb-addon-content">
                                              <div class="text">
                                                <p>Send your list with price and description via your user back end and
                                                  the email provided to you on our website.
                                                </p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sppb-panel sppb-panel-default">
                                    <div class="sppb-panel-heading "><span class="sppb-panel-title">How will I know my
                                        delivery date?</span><span class="sppb-toggle-direction"><i
                                          class="fa fa-chevron-right"></i></span>
                                    </div>
                                    <div class="sppb-panel-collapse" style="display: none;">
                                      <div class="sppb-panel-body">
                                        <div id="sppb-addon-1551741008406" class="clearfix">
                                          <div class="sppb-addon sppb-addon-text-block  ">
                                            <div class="sppb-addon-content">
                                              <div class="text">
                                                <p>Your delivery date will be communicated to you and will be maintained
                                                  for the rest of the year.
                                                </p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sppb-panel sppb-panel-default">
                                    <div class="sppb-panel-heading "><span class="sppb-panel-title">How do I make my
                                        partnership payment?</span><span class="sppb-toggle-direction"><i
                                          class="fa fa-chevron-right"></i></span>
                                    </div>
                                    <div class="sppb-panel-collapse" style="display: none;">
                                      <div class="sppb-panel-body">
                                        <div id="sppb-addon-1551741008406" class="clearfix">
                                          <div class="sppb-addon sppb-addon-text-block  ">
                                            <div class="sppb-addon-content">
                                              <div class="text">
                                                <p>You’re to pay via Bank transfer or Bank deposit. Your proof of
                                                  payment must be sent to our WhatsApp line: 08097365000 or to the email
                                                  address: sales@farmfundsafrica.com.
                                                </p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sppb-panel sppb-panel-default">
                                    <div class="sppb-panel-heading "><span class="sppb-panel-title">What if there is a
                                        change of address for delivery?</span><span class="sppb-toggle-direction"><i
                                          class="fa fa-chevron-right"></i></span>
                                    </div>
                                    <div class="sppb-panel-collapse" style="display: none;">
                                      <div class="sppb-panel-body">
                                        <div id="sppb-addon-1551741008406" class="clearfix">
                                          <div class="sppb-addon sppb-addon-text-block  ">
                                            <div class="sppb-addon-content">
                                              <div class="text">
                                                <p>You need to notify us a month before delivery.
                                                </p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sppb-panel sppb-panel-default">
                                    <div class="sppb-panel-heading "><span class="sppb-panel-title">What if I don’t have
                                        anyone at home to receive the package?</span><span
                                        class="sppb-toggle-direction"><i class="fa fa-chevron-right"></i></span>
                                    </div>
                                    <div class="sppb-panel-collapse" style="display: none;">
                                      <div class="sppb-panel-body">
                                        <div id="sppb-addon-1551741008406" class="clearfix">
                                          <div class="sppb-addon sppb-addon-text-block  ">
                                            <div class="sppb-addon-content">
                                              <div class="text">
                                                <p>The package will be returned and the customer will have to pick it up
                                                  or will be charged for another delivery.
                                                </p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sppb-panel sppb-panel-default">
                                    <div class="sppb-panel-heading "><span class="sppb-panel-title">Will I be charged if
                                        I notify Farmify Agro ahead of time that no one will be available to receive the
                                        package on the set delivery date?</span><span class="sppb-toggle-direction"><i
                                          class="fa fa-chevron-right"></i></span>
                                    </div>
                                    <div class="sppb-panel-collapse" style="display: none;">
                                      <div class="sppb-panel-body">
                                        <div id="sppb-addon-1551741008406" class="clearfix">
                                          <div class="sppb-addon sppb-addon-text-block  ">
                                            <div class="sppb-addon-content">
                                              <div class="text">
                                                <p>No, you won’t be charged as long as you notify us on time. You can
                                                  also move your delivery date to the next day or week without extra
                                                  charges.
                                                </p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sppb-panel sppb-panel-default">
                                    <div class="sppb-panel-heading "><span class="sppb-panel-title">How does the “Food
                                        Bank” partnership work?
                                      </span><span class="sppb-toggle-direction"><i
                                          class="fa fa-chevron-right"></i></span>
                                    </div>
                                    <div class="sppb-panel-collapse" style="display: none;">
                                      <div class="sppb-panel-body">
                                        <div id="sppb-addon-1551741008406" class="clearfix">
                                          <div class="sppb-addon sppb-addon-text-block  ">
                                            <div class="sppb-addon-content">
                                              <div class="text">
                                                <p>Sponsor our Greenhouse Vegetable Farm for just N100,000 per unit and
                                                  get 60% ROI back within the space of 1 year. The 60% will be broken
                                                  down into 12 parts which means you will be paid 5% of your ROI monthly
                                                  in form of groceries, foodstuff and household items. After a whole
                                                  year of free grocery shopping for your home, you get a whopping 70% of
                                                  your capital back!
                                                </p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <br><br>
            </div>
          </div>
        </div>
      </main>
    </div>
  </section>
</div>