<div class="site helix-ultimate com-j2store view-products layout-default task-view itemid-135">
  <section  id="sp-section-4">
    <div class="row">
      <div id="sp-title" class="col-lg-12 ">
        <div class="sp-column ">
          <div class="sp-page-title"
            style="background-image: url(../../../../../assets/images/background/inner-banner-bg.jpg);">
            <div class="container">
              <h2 class="sp-page-title-heading">Food Subscription
                <p>
                  Subscribe to our food plan and never run out of food again.
                </p>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sp-main-body">
    <div class="container">
      <h2  class="sp-page-title-heading">Food Subscription
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, magni fugiat saepe, totam quae id cum ipsam, aspernatur perferendis iure cupiditate molestiae tempore blanditiis vero culpa? Iure quo repellat non!
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi provident consequatur molestias similique quaerat quos adipisci error ipsa ea nemo exercitationem hic, ut consectetur maiores tenetur! Ducimus minima quam tempora.
          By clicking on buy, you are saying you want us to keep supplying you the food for said the duration.
        </p>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-3">
            <input id="unit" type="number" placeholder="Units">
          </div>
          <div class="col-md-3">
            <button   type="button" class="btn btn-primary">Subscribe</button>
          </div>
          <div class="col-md-3"></div>
        </div>
      </h2>
      <img src="assets/images/farmify-slide.jpeg" alt="Slide background" />
    </div>
  </section>
</div>
