<section id="sp-top">
  <div class="row">
    <div id="sp-top1" class="col-lg-12">
      <div class="sp-column">
        <div class="sp-module">
          <div class="sp-module-content">
            <div class="mod-sppagebuilder sp-page-builder" data-module_id="104">
              <div class="page-content">
                <div id="section-id-1551225173562" class="sppb-section">
                  <div class="sppb-container-inner">
                    <div class="sppb-row sppb-no-gutter">
                      <div class="sppb-col-md-7" id="column-wrap-id-1551225173561">
                        <div id="column-id-1551225173561" class="sppb-column">
                          <div class="sppb-column-addons">
                            <div id="sppb-addon-1551225197119" class="clearfix">
                              <div class="sppb-addon sppb-addon-raw-html">
                                <div class="sppb-addon-content">
                                  <ul class="list_inline" style="margin-left: -6px;">
                                    <li>
                                      <i class="icon-winner-trophy-for-the-best"></i>Africa's Fastest Growing Agritech
                                      Company
                                    </li>
                                    &nbsp;
                                    <li>
                                      <i class="icon-stamp"></i>Farmify Agro
                                      Innovations Ltd: RC 1627509
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="sppb-col-md-1" id="column-wrap-id-1551225197116">
                        <div id="column-id-1551225197116" class="sppb-column">
                          <div class="sppb-column-addons"></div>
                        </div>
                      </div>
                      <div class="sppb-col-md-4" id="column-wrap-id-1551226657169">
                        <div id="column-id-1551226657169" class="sppb-column">
                          <div class="sppb-column-addons">
                            <div id="sppb-addon-1551225808098" class="clearfix">
                              <div class="sppb-addon sppb-addon-raw-html">
                                <div class="sppb-addon-content">
                                  <div class="right-column float_right">
                                    <ul class="social-icon">
                                      <li>
                                        <a href="http://www.facebook.com/farmfundsafrica"><i
                                            class="fa fa-facebook"></i></a>
                                      </li>
                                      <li>
                                        <a href="https://www.twitter.com/farmfundsafrica"><i
                                            class="fa fa-twitter"></i></a>
                                      </li>
                                      <li>
                                        <a href="https://www.instagram.com/farmfundsafrica"><i
                                            class="fa fa-instagram"></i></a>
                                      </li>
                                      <!-- <li><a href="#"><i
                                                                                        class="fa fa-google-plus"></i></a>
                                                                            </li> -->
                                      <!-- <li><a href="#"><i
                                                                                        class="fa fa-pinterest"></i></a>
                                                                            </li> -->
                                      <!-- <li><a href="#"><i
                                                                                        class="fa fa-youtube"></i></a>
                                                                            </li> -->
                                    </ul>
                                    <div id="polyglotLanguageSwitcher" class="">
                                      <a id="en" class="current">LAGOS, NIGERIA.</a>
                                    </div>

                                    <div class="btn-group pull-right">
                                      <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" style="font-size: 23px;">
                                        <img src="assets/images/profile-images.png" alt="" class="text-center" style="
                                            width: 30px;
                                            height: 30px;
                                            border-radius: 50%;
                                          " />
                                        <!-- <i class="fa fa-user"></i> -->
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-right">
                                        <!-- <img src="assets/images/profile-images.png" alt="" style="width: 70px; height: 70px; border-radius: 50%;"> -->
                                        <!-- <span class="user-name">ZACK OHIANI AMINU</span> -->
                                        <button class="dropdown-item" type="button">
                                          <img src="assets/images/profile-images.png" alt="" style="
                                              margin-left: 50px;
                                              width: 70px;
                                              height: 70px;
                                              border-radius: 50%;
                                            " />
                                          <br />
                                          <span class="user-name">{{
                                            currentUser.fullName
                                          }}</span>
                                        </button>
                                        <button class="dropdown-item text-success" type="button">
                                          <a [routerLink]="['/user-profile']">Edit Profile</a>
                                        </button>
                                        <button class="dropdown-item text-dark" type="button">
                                          <a href="current-farm" >Current Farm</a>
                                        </button>
                                        <button class="dropdown-item text-dark" type="button"[href]="#foodshop" >
                                        Food Subscription
                                        </button>
                                        <div class="dropdown-divider"></div>
                                        <button class="dropdown-item" type="button">
                                          <i class="icon icon-exit"></i>
                                          <a class="text-danger" (click)="logout()">Log Out</a>
                                        </button>
                                        <!-- <button class="dropdown-item" type="button">Something else here</button> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sp-section-4">
  <div class="row">
    <div id="sp-title" class="col-lg-12">
      <div class="sp-column">
        <div class="sp-page-title" style="
            background-image: url(assets/images/background/inner-banner-bg.jpg);
          ">
          <div class="container">
            <h2 class="sp-page-title-heading">Profile Insights</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sp-main-body">
  <div class="row">
    <main id="sp-component" class="col-lg-12" role="main">
      <div class="sp-column">
        <div id="system-message-container"></div>

        <div id="sp-page-builder" class="sp-page-builder page-2">
          <div class="page-content">
            <section id="section-id-1551490002720" class="sppb-section">
              <div class="sppb-row-container">
                <div class="sppb-row">
                  <div class="sppb-col-md-12" id="column-wrap-id-1551490002719">
                    <div id="column-id-1551490002719" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551573988809" class="clearfix">
                          <div class="sppb-addon sppb-addon-text-block">
                            <h1 class="sppb-addon-title">
                              User <span class="text-primary">Dashboard </span>
                              <small style="text-transform: none;">You are currently on
                                <b>{{ dashboardData?.count }}</b> Farm
                                Investments.</small>
                              <span [innerHTML]="emoji"></span>
                            </h1>
                            <div class="sppb-addon-content">
                              <div class="text">
                                <div class="row">
                                  <div class="col-md-3">
                                    <div class="card bg-success text-white text-center p-3">
                                      <div class="row">
                                        <div class="col-md-4">
                                          <i class="fa fa-check-circle-o" style="font-size: 100px;"></i>
                                        </div>
                                        <div class="col-md-8">
                                          <blockquote class="mb-0">
                                            <span>Total Farm Investment</span>
                                            <h2>
                                              {{
                                                dashboardData?.totalInv
                                                  | currency: "&#8358; "
                                              }}
                                            </h2>
                                            <br />
                                            <footer class="blockquote-footer text-white">
                                              <small>
                                                Farmfunds
                                                <cite title="Source Title">Africa</cite>
                                              </small>
                                            </footer>
                                          </blockquote>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-3">
                                    <div class="card bg-info text-white text-center p-3">
                                      <div class="row">
                                        <div class="col-md-4">
                                          <i class="fa fa-arrow-up" style="font-size: 100px;"></i>
                                        </div>
                                        <div class="col-md-8">
                                          <blockquote class="mb-0">
                                            <span>Total ROI</span>
                                            <h2>
                                              {{
                                                dashboardData?.totalRoi
                                                  | currency: "&#8358; "
                                              }}
                                            </h2>
                                            <br />
                                            <footer class="blockquote-footer text-white">
                                              <small>
                                                Farmfunds
                                                <cite title="Source Title">Africa</cite>
                                              </small>
                                            </footer>
                                          </blockquote>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-3">
                                    <div class="card bg-warning text-white text-center p-3">
                                      <div class="row">
                                        <div class="col-md-4">
                                          <i class="fa fa-level-up" style="font-size: 100px;"></i>
                                        </div>
                                        <div class="col-md-8">
                                          <blockquote class="mb-0">
                                            <span>Total Gain</span>
                                            <h2>
                                              {{
                                                dashboardData?.totalGain
                                                  | currency: "&#8358; "
                                              }}
                                            </h2>
                                            <br />
                                            <footer class="blockquote-footer text-white">
                                              <small>
                                                Farmfunds
                                                <cite title="Source Title">Africa</cite>
                                              </small>
                                            </footer>
                                          </blockquote>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-3">
                                    <div class="card bg-light text-center p-3">
                                      <div class="row">
                                        <div class="col-md-4">
                                          <i class="fa fa-google-wallet" style="font-size: 100px;"></i>
                                        </div>
                                        <div class="col-md-8">
                                          <blockquote class="mb-0">
                                            <span>
                                              My Wallet
                                            </span>
                                            <h2>300,000</h2>
                                            <button style="cursor: pointer;" class="badge badge-success">
                                              <a (click)="deposit()">Fund</a>
                                            </button>
                                            <footer class="blockquote-footer">
                                              <small>
                                                Farmfunds
                                                <cite title="Source Title">Africa</cite>
                                              </small>
                                            </footer>
                                          </blockquote>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section id="section-id-1551573988958" class="sppb-section">
              <div class="sppb-row-container">
                <div class="sppb-row">
                  <div class="sppb-col-md-12" id="column-wrap-id-1551573988957">
                    <div id="column-id-1551573988957" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551573988978" class="clearfix">
                          <div class="sppb-addon sppb-addon-text-block">
                            <h1 class="sppb-addon-title">
                              Current
                              <span class="text-primary">Farm ({{ dashboardData?.count }})</span>
                            </h1>
                            <div class="input-group pull-right">
                              <a (click)="openModal('newfarm')">
                                <input class="p-button" style="cursor: pointer;" type="submit" value="New Farm" /></a>
                            </div>
                            <div class="sppb-addon-content"></div>
                          </div>
                        </div>
                        <div id="sppb-addon-1551573988963" class="clearfix">
                          <div class="sppb-addon sppb-addon-raw-html">
                            <div class="sppb-addon-content">
                              <div class="single-item">
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th scope="col">S/N</th>
                                      <th scope="col">Package</th>
                                      <th scope="col">Unit</th>
                                      <th scope="col">Amount</th>
                                      <th scope="col">ROI</th>
                                      <th scope="col">Start Date</th>
                                      <th scope="col">End Date</th>
                                      <th scope="col">Status</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of dashboardData?.rows">
                                      <th scope="row">{{ index }}</th>
                                      <td>{{ item.package }}</td>
                                      <td>{{ item.unit }}</td>
                                      <td>
                                        {{ item.amount | currency: "&#8358; " }}
                                      </td>
                                      <td>
                                        {{ item.roi | currency: "&#8358; " }}
                                      </td>
                                      <td>
                                        {{
                                          item.startDate | date: "mediumDate"
                                        }}
                                      </td>
                                      <td>
                                        {{ item.endDate | date: "mediumDate" }}
                                      </td>
                                      <td>
                                        <span [ngClass]="{
                                            'badge badge-success':
                                              item.status === 'active',
                                            'badge badge-warning':
                                              item.status === 'pending'
                                          }">{{ item.status }}</span>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="sppb-addon-1551578090420" class="sppb-hidden-md sppb-hidden-lg clearfix">
                          <div class="sppb-empty-space clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section id="section-id-1551573988958" class="sppb-section">
              <div class="sppb-row-container">
                <div class="sppb-row">
                  <div class="sppb-col-md-12" id="column-wrap-id-1551573988957">
                    <div id="column-id-1551573988957" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551573988978" class="clearfix">
                          <div class="sppb-addon sppb-addon-text-block">
                            <h1 class="sppb-addon-title">
                              Foods
                              <span class="text-primary">Purchase ({{ purchases?.count }})</span>
                            </h1>
                            <div class="input-group">
                              <a (click)="openModal('purchase')">
                                <input class="p-button" style="cursor: pointer;" type="submit" value="Shop Food" /></a>

                              &nbsp; &nbsp;
                              <a (click)="openModal('subscribe')">
                                <input class="p-button" style="cursor: pointer;" type="submit"
                                  value="Subscribe to a food" /></a>
                            </div>
                            <!-- <div class="input-group pull-right">
                                                                <a (click)="openModal('subscribe')"> <input
                                                                        class="p-button" style="cursor: pointer;"
                                                                        type="submit" value="Subscribe to a food"></a>
                                                            </div> -->

                            <div class="sppb-addon-content"></div>
                          </div>
                        </div>
                        <div id="sppb-addon-1551573988963" class="clearfix">
                          <div class="sppb-addon sppb-addon-raw-html">
                            <div class="sppb-addon-content">
                              <div class="single-item">
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th scope="col">S/N</th>
                                      <th scope="col">Product</th>
                                      <th scope="col">Amount</th>
                                      <th scope="col">Type</th>
                                      <th scope="col">Purchase Date</th>
                                      <th scope="col">Status</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let i of purchases?.rows">
                                      <th scope="row">{{ index }}</th>
                                      <td>{{ i.product }}</td>
                                      <td>{{ i.amount }}</td>
                                      <td>{{ i.type }}</td>
                                      <td>{{ i.createdAt }}</td>
                                      <td>
                                        <span [ngClass]="{
                                            'badge badge-success':
                                              item.status === 'active',
                                            'badge badge-warning':
                                              item.status === 'pending'
                                          }">{{ item.status }}</span>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="sppb-addon-1551578090420" class="sppb-hidden-md sppb-hidden-lg clearfix">
                          <div class="sppb-empty-space clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section id="section-id-1551490002720" class="sppb-section">
              <div class="sppb-row-container">
                <div class="sppb-row">
                  <div class="sppb-col-md-12" id="column-wrap-id-1551490002719">
                    <div id="column-id-1551490002719" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551573988809" class="clearfix">
                          <div class="sppb-addon sppb-addon-text-block">
                            <h1 class="sppb-addon-title">
                              Profile <span class="text-primary">Details</span>
                            </h1>
                            <div class="sppb-addon-content">
                              <div class="text">
                                <div id="billing-address">
                                  <div class="checkout-content" style="display: block;">
                                    <div id="akeeba-renderjoomla">
                                      <div class="j2store">
                                        <form name="editform">
                                          <div class="form-row">
                                            <div class="col-md-6">
                                              <h2>Edit Profile</h2>
                                              <br />

                                              <div class="form-group">
                                                <label for="firstName">First name</label>
                                                <input class="inputbox form-control" id="firstName" [(ngModel)]="
                                                    userData.firstName
                                                  " type="text" name="firstName" />
                                              </div>

                                              <br />
                                              <div class="form-group">
                                                <label for="lastName">Last name</label>
                                                <input class="inputbox form-control" id="lastName" [(ngModel)]="
                                                    userData.lastName
                                                  " type="text" name="lastName" />
                                              </div>

                                              <br />
                                              <div class="form-group">
                                                <label for="middleName">Middle name</label>
                                                <input class="inputbox form-control" id="middleName" [(ngModel)]="
                                                    userData.middleName
                                                  " type="text" name="middleName" />
                                              </div>

                                              <br />
                                              <div class="form-group">
                                                <label for="email">Email</label>
                                                <input class="inputbox form-control" [(ngModel)]="userData.email"
                                                  id="email" type="text" name="email" />
                                              </div>

                                              <br />
                                              <div class="form-group">
                                                <label for="phone">Phone no.</label>
                                                <input class="inputbox form-control" id="phone"
                                                  [(ngModel)]="userData.phoneNo" type="text" name="phone" />
                                                <br />
                                              </div>
                                            </div>

                                            <div class="col-md-6">
                                              <h2>Bank Details</h2>
                                              <br />
                                              <div class="form-group">
                                                <label for="bankName">Bank Name</label>
                                                <input type="text" id="bankName" name="bankName" [(ngModel)]="
                                                    userData.bankName
                                                  " />
                                              </div>

                                              <br />
                                              <div class="form-group">
                                                <div class="form-group">
                                                  <label for="acctNo">Account Number</label>
                                                  <input type="text" id="acctNo" [(ngModel)]="
                                                      userData.acctNo
                                                    " name="acctNo" />
                                                </div>
                                              </div>
                                            </div>

                                            <br />
                                            <div class="mr-5" style="margin-left: 40%;">
                                              <button [disabled]="isBusy" (click)="updateProfile()"
                                                class="btn btn-primary mr-1">
                                                {{
                                                  isBusy
                                                    ? "Updating..."
                                                    : "UPDATE"
                                                }}
                                              </button>
                                            </div>
                                          </div>
                                        </form>
                                      </div>
                                      <!-- end of j2store -->
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>
  </div>
</section>

<!-- modal begin -->
<span hidden id="newfarm" data-toggle="modal" data-target="#staticBackdrop"></span>
<span hidden id="purchase" data-toggle="modal" data-target="#staticBackdrop"></span>
<span hidden id="subscribe" data-toggle="modal" data-target="#staticBackdrop"></span>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <div style="margin-top: -40px; padding-right: 10px;" class="pull-right">
          <button class="btn btn-danger" data-dismiss="modal">
            <span class="fa fa-remove"></span> Close
          </button>
        </div>

        <app-packages *ngIf="pck"></app-packages>
        <app-products-list *ngIf="pl"></app-products-list>
        <app-products-subscription *ngIf="sub"></app-products-subscription>
      </div>
    </div>
  </div>
  <!-- end modal -->
</div>
