<section id="sp-section-4">
    <div class="row">
        <div id="sp-title" class="col-lg-12 ">
            <div class="sp-column ">
                <div class="sp-page-title" style="background-image: url(assets/images/background/inner-banner-bg.jpg);">
                    <div class="container">
                        <h2 class="sp-page-title-heading">Profile Insights</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sp-main-body">
    <div class="row">
        <main id="sp-component" class="col-lg-12 " role="main">
            <div class="sp-column ">
                <div id="system-message-container">
                </div>

                <div id="sp-page-builder" class="sp-page-builder  page-2">
                    <div class="page-content">
                        <section id="section-id-1551490002720" class="sppb-section  ">
                            <div class="sppb-row-container">
                                <div class="sppb-row">
                                    <div class="sppb-col-md-12" id="column-wrap-id-1551490002719">
                                        <div id="column-id-1551490002719" class="sppb-column">
                                            <div class="sppb-column-addons">
                                                <div id="sppb-addon-1551573988809" class="clearfix">
                                                    <div class="sppb-addon sppb-addon-text-block  ">
                                                        <h1 class="sppb-addon-title">User <span
                                                                class="text-primary">Dashboard </span>
                                                                <small style="text-transform: none;">You are currently on <b>{{dashboardData.count}}</b> Farm Investments.</small>
                                                                <span *ngIf="dashboardData.count > 0" [innerHTML]="emoji"></span>
                                                            </h1>
                                                        <div class="sppb-addon-content">
                                                            <div class="text">
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <div
                                                                        class="card bg-success text-white text-center p-3">
                                                                        <blockquote class=" mb-0">
                                                                            <span>Total Farm Investment</span>
                                                                            <h2>{{dashboardData.totalInv | currency: '&#8358; '}}</h2><br>
                                                                            <footer
                                                                                class="blockquote-footer text-white">
                                                                                <small>
                                                                                    Farmfunds <cite
                                                                                        title="Source Title">Africa</cite>
                                                                                </small>
                                                                            </footer>
                                                                        </blockquote>
                                                                    </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div
                                                                        class="card bg-info text-white text-center p-3">
                                                                        <blockquote class=" mb-0">
                                                                            <span>Total ROI</span>
                                                                            <h2>{{dashboardData.totalRoi | currency: '&#8358; '}}</h2><br>
                                                                            <footer
                                                                                class="blockquote-footer text-white">
                                                                                <small>
                                                                                    Farmfunds <cite
                                                                                        title="Source Title">Africa</cite>
                                                                                </small>
                                                                            </footer>
                                                                        </blockquote>
                                                                    </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div
                                                                        class="card bg-warning text-white text-center p-3">
                                                                        <blockquote class=" mb-0">
                                                                            <span>Total Gain</span>
                                                                            <h2>{{dashboardData.totalGain | currency: '&#8358; '}}</h2><br>
                                                                            <footer
                                                                                class="blockquote-footer text-white">
                                                                                <small>
                                                                                    Farmfunds <cite
                                                                                        title="Source Title">Africa</cite>
                                                                                </small>
                                                                            </footer>
                                                                        </blockquote>
                                                                    </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div
                                                                        class="card bg-light text-center p-3">
                                                                        <blockquote class=" mb-0">
                                                                            <span><i class="fas fa-sign-out-alt"></i> My Wallet </span>
                                                                            <h2>{{myWallet | currency: '&#8358; '}}</h2>
                                                                            <button style="cursor: pointer;" class="badge badge-success"><a (click)="openModal('smallmodal')">Fund</a></button>
                                                                            <footer
                                                                                class="blockquote-footer">
                                                                                <small>
                                                                                    Farmfunds <cite
                                                                                        title="Source Title">Africa</cite>
                                                                                </small>
                                                                            </footer>
                                                                        </blockquote>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- <section id="section-id-1551573988958" class="sppb-section  ">
                            <div class="sppb-row-container">
                                <div class="sppb-row">
                                    <div class="sppb-col-md-12" id="column-wrap-id-1551573988957">
                                        <div id="column-id-1551573988957" class="sppb-column">
                                            <div class="sppb-column-addons">
                                                <div id="sppb-addon-1551573988978" class="clearfix">
                                                    <div class="sppb-addon sppb-addon-text-block  ">
                                                        <h1 class="sppb-addon-title">Current <span
                                                                class="text-primary">Farm ({{dashboardData.count}})</span></h1>
                                                        <div class="input-group pull-right">
                                                            <a (click)="openModal('newfarm')"> <input class="p-button"
                                                                    style="cursor: pointer;" type="submit"
                                                                    value="New Farm"></a>
                                                        </div>
                                                        <div class="sppb-addon-content"></div>
                                                    </div>
                                                </div>
                                                <div id="sppb-addon-1551573988963" class="clearfix">
                                                    <div class="sppb-addon sppb-addon-raw-html ">
                                                        <div class="sppb-addon-content">
                                                            <div class="single-item">
                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">S/N</th>
                                                                            <th scope="col">Package</th>
                                                                            <th scope="col">Unit</th>
                                                                            <th scope="col">Amount</th>
                                                                            <th scope="col">ROI</th>
                                                                            <th scope="col">Start Date</th>
                                                                            <th scope="col">End Date</th>
                                                                            <th scope="col">Status</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr *ngFor="let item of dashboardData.rows">
                                                                            <th scope="row">{{index}}</th>
                                                                            <td>{{item.package}}</td>
                                                                            <td>{{item.unit}}</td>
                                                                            <td>{{item.amount | currency: '&#8358; '}}</td>
                                                                            <td>{{item.roi | currency: '&#8358; '}}</td>
                                                                            <td>{{item.startDate | date: "mediumDate"}}</td>
                                                                            <td>{{item.endDate | date: "mediumDate"}}</td>
                                                                            <td><span
                                                                                  [ngClass]="{'badge badge-success': item.status === 'active', 'badge badge-warning': item.status === 'pending'}">{{item.status}}</span>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="sppb-addon-1551578090420"
                                                    class="sppb-hidden-md sppb-hidden-lg clearfix">
                                                    <div class="sppb-empty-space  clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section> -->
                        <section id="section-id-1551573988958" class="sppb-section  ">
                            <div class="sppb-row-container">
                                <div class="sppb-row">
                                    <div class="sppb-col-md-12" id="column-wrap-id-1551573988957">
                                        <div id="column-id-1551573988957" class="sppb-column">
                                            <div class="sppb-column-addons">
                                                <div id="sppb-addon-1551573988978" class="clearfix">
                                                    <div class="sppb-addon sppb-addon-text-block  ">
                                                        <h1 class="sppb-addon-title">Foods <span
                                                                class="text-primary">Purchase ({{purchases.count}})</span></h1>
                                                            <div class="input-group pull-right">
                                                                <a (click)="openModal('purchase')"> <input
                                                                        class="p-button" style="cursor: pointer;"
                                                                        type="submit" value="Shop Food"></a>
                                                                        &nbsp;
                                                                        &nbsp;
                                                                        <a (click)="openswal()"> <input
                                                                            class="p-button" style="cursor: pointer;"
                                                                            type="submit" value="Subscribe to a food"></a>
                                                            </div>
                                                        <div class="sppb-addon-content"></div>
                                                    </div>
                                                </div>
                                                <div id="sppb-addon-1551573988963" class="clearfix">
                                                    <div class="sppb-addon sppb-addon-raw-html ">
                                                        <div class="sppb-addon-content">
                                                            <div class="single-item">
                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">S/N</th>
                                                                            <th scope="col">Product</th>
                                                                            <th scope="col">Amount</th>
                                                                            <th scope="col">Type</th>
                                                                            <th scope="col">Purchase Date</th>
                                                                            <th scope="col">Status</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr *ngFor="let i of purchases.rows">
                                                                            <th scope="row">{{index}}</th>
                                                                            <td>{{i.product}}</td>
                                                                            <td>{{i.amount}}</td>
                                                                            <td>{{i.type}}</td>
                                                                            <td>{{i.createdAt}}</td>
                                                                            <td><span
                                                                                [ngClass]="{'badge badge-success': i.status === 'Active', 'badge badge-warning': i.status === 'Pending'}">{{i.status}}</span>
                                                                          </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="sppb-addon-1551578090420"
                                                    class="sppb-hidden-md sppb-hidden-lg clearfix">
                                                    <div class="sppb-empty-space  clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section id="section-id-1551490002720" class="sppb-section  ">
                            <div class="sppb-row-container">
                                <div class="sppb-row">
                                    <div class="sppb-col-md-12" id="column-wrap-id-1551490002719">
                                        <div id="column-id-1551490002719" class="sppb-column">
                                            <div class="sppb-column-addons">
                                                <div id="sppb-addon-1551573988809" class="clearfix">
                                                    <div class="sppb-addon sppb-addon-text-block  ">
                                                        <h1 class="sppb-addon-title">Profile <span
                                                                class="text-primary">Details</span></h1>
                                                        <div class="sppb-addon-content">
                                                            <div class="text">
                                                                <div id="billing-address">
                                                                    <div class="checkout-content" style="display: block;">
                                                                      <div id="akeeba-renderjoomla">
                                                                        <div class="j2store">
                                                                          <form #editForm="ngForm" id="editForm">
                                                                            <div class="form-row">
                                                                              <div class="col-md-6">
                                                                                <h2>Edit Profile</h2><br>
                                                
                                                                                <div class="form-group">
                                                                                  <label for="firstName">First name</label>
                                                                                  <input class="inputbox form-control" id="firstName" [(ngModel)]="userData.firstName" type="text" name="firstName">
                                                                                </div>
                                                
                                                                                <br>
                                                                                <div class="form-group">
                                                                                  <label for="lastName">Last name</label>
                                                                                  <input class="inputbox form-control" id="lastName" [(ngModel)]="userData.lastName" type="text" name="lastName">
                                                                                </div>

                                                                                <br>
                                                                                <div class="form-group">
                                                                                  <label for="middleName">Middle name</label>
                                                                                  <input class="inputbox form-control" id="middleName" [(ngModel)]="userData.middleName" type="text" name="middleName" >
                                                                                </div>
                                                
                                                                                <br>
                                                                                <div class="form-group">
                                                                                  <label for="email">Email</label>
                                                                                  <input class="inputbox form-control" [(ngModel)]="userData.email" id="email" type="text" name="email">
                                                                                </div>
                                                
                                                                                <br>
                                                                                <div class="form-group">
                                                                                  <label for="phone">Phone no.</label>
                                                                                  <input class="inputbox form-control" id="phone" [(ngModel)]="userData.phoneNo" type="text" name="phone">
                                                                                  <br>
                                                                                </div>
                                                                              </div>
                                                
                                                                              <div class="col-md-6">
                                                                                <h2>Bank Details</h2><br>
                                                                                <div class="form-group">
                                                                                  <label for="bankName">Bank Name</label>
                                                                                  <input type="text" id="bankName" name="bankName" [(ngModel)]="userData.bankName">
                                                                                </div>
                                                                               
                                                                                <br>
                                                                                <div class="form-group">
                                                                                    <div class="form-group">
                                                                                        <label for="acctNo">Account Number</label>
                                                                                        <input type="text" id="acctNo" [(ngModel)]="userData.acctNo" name="acctNo" >
                                                                                      </div>
                                                                                </div>
                                                                              </div>
                                                                              
                                                                              <br>
                                                                                  <div class="mr-5" style="margin-left: 40%;">
                                                                                    <button [disabled]="isBusy" (click)="updateProfile()" class="btn btn-primary mr-1">{{isBusy ? 'Updating...' : 'UPDATE'}}</button>
                                                                                  </div>
                                                                            </div>
                                                                          </form>
                                                
                                                                        </div> <!-- end of j2store -->
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>


<!-- modal begin -->
<span hidden id="newfarm" data-toggle="modal" data-target="#staticBackdrop"></span>
<span hidden id="purchase" data-toggle="modal" data-target="#staticBackdrop"></span>
<span hidden id="subscribe" data-toggle="modal" data-target="#staticBackdrop"></span>
<span hidden id="smallmodal" data-toggle="modal" data-target="#staticBackdrop"></span>



  <div class="modal fade" id="staticBackdrop" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
    <div id="util" class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
          <button id="cl" hidden data-dismiss="modal"></button>
        <div class="modal-body">
        
            <app-packages [shouldShow]="false" *ngIf="pck"></app-packages>
            <app-products-list [shouldShow]="false" *ngIf="pl"></app-products-list>
            <app-products-subscription [shouldShow]="false" *ngIf="sub"></app-products-subscription>

            <div *ngIf="!pck && !pl && !sub">
                <label>Topup Amount</label>
                <input [(ngModel)]="amt" placeholder="Enter amount to topup" required type="text" class="form-control">
            </div>

      </div>
      <div *ngIf="!pck && !pl && !sub" class="modal-footer">
        <button type="button" (click)="deposit(amt)" [disabled]="!amt" data-dismiss="modal" class="btn btn-primary">SUBMIT</button>
      </div>
    </div>
  </div>
<!-- end modal -->
