<section id="sp-top">
  <div class="row">
    <div id="sp-top1" class="col-lg-12 ">
      <div class="sp-column ">
        <div class="sp-module ">
          <div class="sp-module-content">
            <div class="mod-sppagebuilder  sp-page-builder" data-module_id="104">
              <div class="page-content">
                <div id="section-id-1551225173562" class="sppb-section  ">
                  <div class="sppb-container-inner">
                    <div class="sppb-row sppb-no-gutter">
                      <div class="sppb-col-md-7" id="column-wrap-id-1551225173561">
                        <div id="column-id-1551225173561" class="sppb-column">
                          <div class="sppb-column-addons">
                            <div id="sppb-addon-1551225197119" class="clearfix">
                              <div class="sppb-addon sppb-addon-raw-html ">
                                <div class="sppb-addon-content">
                                  <ul class="list_inline">
                                    <li></li><img src="assets/images/logo-2.jpg" alt="">&nbsp;&nbsp;
                                    <li><i class="icon-winner-trophy-for-the-best"></i>Africa's Fastest Growing Agritech
                                      Company</li>&nbsp;
                                    <li><i class="icon-stamp"></i>Farmify Agro Innovations Ltd: RC 1627509</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="sppb-col-md-1" id="column-wrap-id-1551225197116">
                        <div id="column-id-1551225197116" class="sppb-column">
                          <div class="sppb-column-addons"></div>
                        </div>
                      </div>
                      <div class="sppb-col-md-4" id="column-wrap-id-1551226657169">
                        <div id="column-id-1551226657169" class="sppb-column">
                          <div class="sppb-column-addons">
                            <div id="sppb-addon-1551225808098" class="clearfix">
                              <div class="sppb-addon sppb-addon-raw-html ">
                                <div class="sppb-addon-content">
                                  <div class="right-column float_right">

                                    <ul class="social-icon">
                                      <li><a href="http://www.facebook.com/farmfundsafrica"><i
                                            class="fa fa-facebook"></i></a>
                                      </li>
                                      <li><a href="https://www.twitter.com/farmfundsafrica"><i
                                            class="fa fa-twitter"></i></a>
                                      </li>
                                      <li><a href="https://www.instagram.com/farmfundsafrica"><i
                                            class="fa fa-instagram"></i></a>
                                      </li>
                                      <!-- <li><a href="#"><i
                                                                                      class="fa fa-google-plus"></i></a>
                                                                          </li> -->
                                      <!-- <li><a href="#"><i
                                                                                      class="fa fa-pinterest"></i></a>
                                                                          </li> -->
                                      <!-- <li><a href="#"><i
                                                                                      class="fa fa-youtube"></i></a>
                                                                          </li> -->
                                    </ul>
                                    <div id="polyglotLanguageSwitcher" class="">

                                      <a id="en" class="current">LAGOS, NIGERIA.</a>
                                    </div>



                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section id="sp-section-4">
  <div class="row">
    <div id="sp-title" class="col-lg-12 ">
      <div class="sp-column ">
        <div class="sp-page-title" style="background-image: url(/assets/images/background/inner-banner-bg.jpg);">
          <div class="container">
            <h2 class="sp-page-title-heading">Sign Up</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section id="sp-main-body">
  <div class="row">
    <div id="sp-title" class="col-lg-12 ">
      <div class="sp-column ">
        <div class="container text-center">
          <h2 class="sp-page-title-heading info">Kickstart Your Journey To Earning Profits As A Digital Farmer. <br>
            <small class="text-primary">Subscribe To Any Of Our Profitable Farm Cycles.</small>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container info">
    <div class="container-inner">
      <div class="row">
        <main id="sp-component" class="col-lg-12 " role="main">
          <div class="sp-column ">
            <div id="system-message-container">
            </div>
            <div id="akeeba-renderjoomla">
              <div id="j2store-checkout" class="j2store checkout">
                <div id="j2store-checkout-content">
                  <!-- <h1>Sign Up</h1> -->

                  <div id="billing-address">
                    <div class="checkout-content" style="display: block;">
                      <div id="akeeba-renderjoomla">
                        <div class="j2store">
                          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="form-row">
                              <div class="col-md-6">
                                <h2>Information</h2> <br> <br>

                                <div class="form-group"
                                  [ngClass]="{'has-error': registerForm.get('firstName').errors && registerForm.get('firstName').touched}">
                                  <span class="j2store_field_required text-danger">*</span>
                                  <label for="firstName">First name</label>
                                  <input class="inputbox form-control" id="firstName" type="text" name="firstName"
                                    placeholder="Enter first name" value="" required formControlName="firstName">
                                  <div
                                    *ngIf="registerForm.controls['firstName'].hasError('required') && registerForm.get('firstName').touched"
                                    class="errormsg text-danger">First Name is required</div>
                                </div>

                                <br>
                                <div class="form-group"
                                  [ngClass]="{'has-error': registerForm.get('lastName').errors && registerForm.get('lastName').touched}">
                                  <span class="j2store_field_required text-danger">*</span>
                                  <label for="lastName">Last name</label>
                                  <input class="inputbox form-control" id="lastName" type="text" name="lastName"
                                    placeholder="Enter last name" value="" formControlName="lastName">
                                  <div
                                    *ngIf="registerForm.controls['lastName'].hasError('required') && registerForm.get('lastName').touched"
                                    class="errormsg text-danger">First Name is required</div>

                                </div>

                                <br>
                                <div class="form-group">
                                  <label for="middleName">Middle name</label>
                                  <input class="inputbox form-control" id="middleName" type="text" name="middleName"
                                    placeholder="Enter middle name" value="" formControlName="middleName">

                                </div>

                                <br>
                                <div class="form-group"
                                  [ngClass]="{'has-error': registerForm.get('email').errors && registerForm.get('email').touched}">
                                  <span class="j2store_field_required text-danger">*</span>
                                  <label for="email">Email</label>
                                  <input class="inputbox form-control" id="email" type="text" name="email"
                                    placeholder="Enter email" value="" formControlName="email">
                                  <div
                                    *ngIf="registerForm.controls['email'].hasError('required') && registerForm.get('email').touched"
                                    class="errormsg text-danger">Email is required</div>
                                  <div
                                    *ngIf="registerForm.controls['email'].hasError('email') && registerForm.get('email').touched"
                                    class="errormsg text-danger">Email is not valid</div>
                                </div>

                                <br>
                                <div class="form-group"
                                  [ngClass]="{'has-error': registerForm.get('phoneNo').errors && registerForm.get('phoneNo').touched}">
                                  <span class="j2store_field_required text-danger">*</span><label for="phone">Phone
                                    No.</label>
                                  <input class="inputbox form-control" id="phoneNo" type="text" name="phoneNo"
                                    placeholder="Enter phone No." value="" formControlName="phoneNo">
                                  <div
                                    *ngIf="registerForm.controls['phoneNo'].hasError('required') && registerForm.get('phoneNo').touched"
                                    class="errormsg text-danger"> Phone No is required</div>
                                  <div
                                    *ngIf="registerForm.controls['phoneNo'].hasError('pattern') && registerForm.get('phoneNo').touched"
                                    class="errormsg text-danger"> Invalid phone No</div>

                                  <br>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <h2>Other Information</h2> <br> <br>
                                <div class="form-group"
                                  [ngClass]="{'has-error': registerForm.get('bankName').errors && registerForm.get('bankName').touched}">
                                  <span class="j2store_field_required text-danger">*</span>
                                  <label for="bankName">Bank name</label>
                                  <input class="inputbox form-control" id="bankName" type="text" name="bankName"
                                    placeholder="Enter bank name" value="" formControlName="bankName">
                                  <div
                                    *ngIf="registerForm.controls['bankName'].hasError('required') && registerForm.get('bankName').touched"
                                    class="errormsg text-danger">Bank Name is required</div>

                                </div>

                                <br>
                                <div class="form-group"
                                  [ngClass]="{'has-error': registerForm.get('acctNo').errors && registerForm.get('acctNo').touched}">
                                  <span class="j2store_field_required text-danger">*</span>
                                  <label for="acctNo">Account number</label>
                                  <input class="inputbox form-control" id="acctNo" type="text" name="acctNo"
                                    placeholder="Enter account number" value="" formControlName="acctNo">
                                  <div
                                    *ngIf="registerForm.controls['acctNo'].hasError('required') && registerForm.get('acctNo').touched"
                                    class="errormsg text-danger"> Acct No is required</div>
                                  <div
                                    *ngIf="registerForm.controls['acctNo'].hasError('pattern') && registerForm.get('acctNo').touched"
                                    class="errormsg text-danger"> Invalid account Number</div>
                                  <div
                                    *ngIf="registerForm.controls['acctNo'].hasError('minlength') && registerForm.get('acctNo').touched"
                                    class="errormsg text-danger"> Acct No must be min 10 character long</div>

                                </div>

                                <br>
                                <div class="form-group"
                                  [ngClass]="{'has-error': registerForm.get('password').errors && registerForm.get('password').touched}">
                                  <span class="j2store_field_required text-danger">*</span>
                                  <label for="password">Password</label>
                                  <div class="input-group">
                                    <input [type]="showPassword ? 'text' : 'password'" name="password" placeholder="Enter password"
                                      aria-label="Recipient's username" aria-describedby="button-addon2" value=""
                                      class="form-control large-field" formControlName="password">
                                    <div class="input-group-append">
                                      <button class="btn btn-primary" type="button" id="button-addon2">
                                        <!-- <i class="fa fa-eye-slash"></i> -->
                                        <i class="fa fa-eye" (click)="togglePassword()"></i>
                                      </button>
                                    </div>
                                  </div>
                                  <div
                                    *ngIf="registerForm.controls['password'].hasError('required') && registerForm.get('password').touched"
                                    class="errormsg text-danger"> Password is required</div>
                                  <div
                                    *ngIf="registerForm.controls['password'].hasError('minlength') && registerForm.get('password').touched"
                                    class=" errormsg text-danger"> Password must be atleast 8 character long</div>
                                </div>

                                <br>
                                <div class="form-group" [ngClass]="{'has-error': registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched
                              || registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')}">
                                  <span class="j2store_field_required text-danger">*</span><label for="confirm">Confirm
                                    password</label>
                                  <div class="input-group">
                                    <input [type]="showConfirm ? 'text' : 'password'" name="confirm" placeholder="Confirm password"
                                      aria-label="Recipient's username" aria-describedby="button-addon2" value=""
                                      class="form-control large-field" formControlName="confirmPassword">
                                    <div class="input-group-append">
                                      <button class="btn btn-primary" type="button" id="button-addon2">
                                        <!-- <i class="fa fa-eye-slash"></i> -->
                                        <i class="fa fa-eye" (click)="toggleConfirm()"></i>
                                      </button>
                                    </div>
                                  </div>
                                  <div
                                    *ngIf="registerForm.controls['confirmPassword'].hasError('required') && registerForm.get('confirmPassword').touched"
                                    class="errormsg text-danger">
                                    Confirm Password is required
                                  </div>
                                  <div
                                    *ngIf="registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')"
                                    class="errormsg text-danger">
                                    Confirm Password must match Password
                                  </div>
                                </div>

                                <br>
                                <div class="form-group form-check"
                                  [ngClass]="{'has-error': registerForm.get('acceptTerms').errors && registerForm.get('acceptTerms').touched}">
                                  <div class="col-md- shipping-make-same" style="clear: both; padding-top: 15px;">
                                    <input type="checkbox" id="acceptTerms" name="acceptTerms" value=""
                                      formControlName="acceptTerms" class="form-check-input">&nbsp;
                                    <label for="acceptTerms"> Accept our <a [routerLink]="['/terms']">
                                        <span class="text-primary">TERMS AND CONDITIONS</span></a></label>
                                    <div
                                      *ngIf="registerForm.controls['acceptTerms'].hasError('required') && registerForm.get('acceptTerms').touched"
                                      class="text-danger">Accept Ts &
                                      Cs is required</div>
                                  </div>
                                </div>
                              </div>

                              <div class="button">
                                <button [disabled]="registerForm.invalid || isBusy" type="submit"
                                  class="btn btn-primary mr-1">{{isBusy ? 'Creating account...' : 'CREATE ACCOUNT'}}</button>
                                <button class="btn btn-secondary" type="reset" (click)="onReset()">CANCEL</button>
                                <p>Already have an account <a [routerLink]="['/login']"><span
                                      class="text-primary">LOGIN</span></a></p>
                              </div>
                            </div>
                          </form>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</section>