<section id="sp-section-4">
  <div class="row">
    <div id="sp-title" class="col-lg-12 ">
      <div class="sp-column ">
        <div class="sp-page-title" style="background-image: url(/assets/images/background/inner-banner-bg.jpg);">
          <div class="container">
            <h2 class="sp-page-title-heading">Sign Up</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sp-main-body">
  <div class="row">
    <div id="sp-title" class="col-lg-12 ">
      <div class="sp-column ">
        <div class="container text-center">
          <h2 class="sp-page-title-heading info">Kickstart Your Journey To Earning Profits As A Digital Farmer. <br>
            <small class="text-primary">Subscribe To Any Of Our Profitable Farm Cycles.</small>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container info">
    <div class="container-inner">
      <div class="row">
        <main id="sp-component" class="col-lg-12 " role="main">
          <div class="sp-column ">
            <div id="system-message-container">
            </div>
            <div id="akeeba-renderjoomla">
              <div id="j2store-checkout" class="j2store checkout">
                <div id="j2store-checkout-content">
                  <!-- <h1>Sign Up</h1> -->

                  <div id="billing-address">
                    <div class="checkout-content" style="display: block;">
                      <div id="akeeba-renderjoomla">
                        <div class="j2store">
                          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="form-row">
                              <div class="col-md-6">
                                <h2>Information</h2> <br> <br>

                                <div class="form-group">
                                  <span class="j2store_field_required text-danger">*</span>
                                  <label for="firstName">First name</label>
                                  <input class="inputbox form-control" id="firstName" type="text" name="firstName"
                                    placeholder="Enter first name" value="" formControlName="firstName"
                                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                  </div>
                                </div>

                                <br>
                                <div class="form-group">
                                  <span class="j2store_field_required text-danger">*</span>
                                  <label for="lastName">Last name</label>
                                  <input class="inputbox form-control" id="lastName" type="text" name="lastName"
                                    placeholder="Enter last name" value="" formControlName="lastName"
                                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                  </div>
                                </div>

                                <br>
                                <div class="form-group">
                                  <span class="j2store_field_required text-danger">*</span>
                                  <label for="otherName">Other name</label>
                                  <input class="inputbox form-control" id="otherName" type="text" name="otherName"
                                    placeholder="Enter other name" value="" formControlName="otherName"
                                    [ngClass]="{ 'is-invalid': submitted && f.otherName.errors }">
                                  <div *ngIf="submitted && f.otherName.errors" class="invalid-feedback">
                                    <div *ngIf="f.otherName.errors.required">Other Name is required</div>
                                  </div>
                                </div>

                                <br>
                                <div class="form-group">
                                  <span class="j2store_field_required text-danger">*</span>
                                  <label for="email">Email</label>
                                  <input class="inputbox form-control" id="email" type="text" name="email" placeholder="Enter email"
                                    value="" formControlName="email"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                  </div>
                                </div>

                                <br>
                                <div class="form-group">
                                  <span class="j2store_field_required text-danger">*</span><label for="phone">Phone
                                    no.</label>
                                  <input class="inputbox form-control" id="phone" type="text" name="phone"
                                    placeholder="Enter phone no." value="" formControlName="phone"
                                    [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                                  <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                    <div *ngIf="f.phone.errors.required">Phone No. is required</div>
                                  </div>
                                  <br>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <h2>Other Information</h2> <br> <br>
                                <div class="form-group">
                                  <span class="j2store_field_required text-danger">*</span>
                                  <label for="bankName">Bank name</label>
                                  <input class="inputbox form-control" id="bankName" type="text" name="bankName"
                                    placeholder="Enter bank name" value="" formControlName="bankName"
                                    [ngClass]="{ 'is-invalid': submitted && f.bankName.errors }">
                                  <div *ngIf="submitted && f.bankName.errors" class="invalid-feedback">
                                    <div *ngIf="f.bankName.errors.required">Bank Name is required</div>
                                  </div>
                                </div>
  
                                <br>
                                <div class="form-group">
                                  <span class="j2store_field_required text-danger">*</span>
                                  <label for="accountNo">Account number</label>
                                  <input class="inputbox form-control" id="accountNo" type="text" name="accountNo"
                                    placeholder="Enter account number" value="" formControlName="accountNo"
                                    [ngClass]="{ 'is-invalid': submitted && f.accountNo.errors }">
                                  <div *ngIf="submitted && f.accountNo.errors" class="invalid-feedback">
                                    <div *ngIf="f.accountNo.errors.required">Account Number is required</div>
                                  </div>
                                </div>
                              
                                <br>
                                <div class="form-group">
                                  <span class="j2store_field_required text-danger">*</span>
                                  <label for="password">New password</label>
                                  <input type="password" name="password" placeholder="Enter password" value=""
                                    class="form-control large-field" formControlName="password"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                                    </div>
                                  </div>
                                </div>

                                <br>
                                <div class="form-group">
                                  <span class="j2store_field_required text-danger">*</span><label for="confirm">Confirm
                                    password</label>
                                  <input type="password" name="confirm" placeholder="Confirm password" value=""
                                    class="form-control large-field" formControlName="confirmPassword"
                                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                  </div>
                                </div>

                                <br>
                                <div class="form-group form-check">
                                  <div class="col-md- shipping-make-same" style="clear: both; padding-top: 15px;">
                                    <input type="checkbox" id="acceptTerms" name="acceptTerms" value=""
                                      formControlName="acceptTerms" class="form-check-input"
                                      [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }">&nbsp;
                                    <label for="acceptTerms"> Accept our <a [routerLink]="['/terms']">
                                        <span class="text-primary">TERMS AND CONDITIONS</span></a></label>
                                    <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts &
                                      Cs is required</div>
                                  </div>
                                </div>
                              </div>

                                <div class="left" style="margin-left: 40%;">
                                  <button class="btn btn-primary mr-1">CREATE ACCOUNT</button>
                                  <button class="btn btn-secondary" type="reset" (click)="onReset()">CANCEL</button>
                                  <p>Already have an account <a [routerLink]="['/login']"><span
                                        class="text-primary">LOGIN</span></a></p>
                                </div>
                            </div>
                          </form>

                        </div> <!-- end of j2store -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</section>
