<section id="sp-section-4">
  <div class="row">
    <div id="sp-title" class="col-lg-12 ">
      <div class="sp-column ">
        <div class="container text-center">
          <h2><br>
            <small class="text-primary">Kindly provide your account email below to recover your password.
            </small></h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sp-main-body">
  <div class="container info">
    <div class="container-inner">
      <div class="row">
        <main id="sp-component" class="col-lg-12 " role="main">
          <div>
            <div class="sp-column ">
              <div id="system-message-container">
              </div>
              <div id="akeeba-renderjoomla">
                <div id="j2store-checkout" class="j2store checkout">
                  <div id="j2store-checkout-content">
                    <!-- <h1>Login</h1> -->

                    <div id="checkout">
                      <!-- <div class="checkout-heading">Checkout Options</div> -->
                      <div class="checkout-content" style="display: block;">
                        <div id="akeeba-renderjoomla">
                          <div class="row">
                            <div id="carousel" class="col-md-6 carousel slide" data-ride="carousel">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="assets/images/chicken.JPG" class="d-block w-100" alt="Image Slide">
                                </div>
                                <div class="carousel-item">
                                  <img src="assets/images/fish.JPG" class="d-block w-100" alt="Image Slide">
                                </div>
                                <div class="carousel-item">
                                  <img src="assets/images/goat.JPG" class="d-block w-100" alt="Image Slide">
                                </div>
                                <div class="carousel-item">
                                  <img src="assets/images/pig.JPG" class="d-block w-100" alt="Image Slide">
                                </div>
                                <div class="carousel-item">
                                  <img src="assets/images/turkey.JPG" class="d-block w-100" alt="Image Slide">
                                </div>
                                <div class="carousel-item">
                                  <img src="assets/images/big-farm.jpeg" class="d-block w-100" alt="Image Slide">
                                </div>
                              </div>
                            </div>
                            <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
                              <div class="">
                                <div class=""></div>
                                <div id="" class="col-md-12">
                                  <h2>Password Recovery</h2>
                                  <br> <br>
                                  <div class="form-group"
                                    [ngClass]="{'has-error': recoverForm.get('email').errors && recoverForm.get('email').touched}">
                                    <span class="j2store_field_required text-danger">*</span>
                                    <label for="email">Recover Email</label>
                                    <input class="inputbox form-control" id="email" type="text" name="email"
                                      placeholder="Enter email" value="" formControlName="email">
                                    <div
                                      *ngIf="recoverForm.controls['email'].hasError('required') && recoverForm.get('email').touched"
                                      class="errormsg text-danger">Email is required</div>
                                    <div
                                      *ngIf="recoverForm.controls['email'].hasError('email') && recoverForm.get('email').touched"
                                      class="errormsg text-danger">Email is not valid</div>
                                  </div>
                                  <br><br>
                                  <div class="left" style="margin-left: 40%;">
                                      <button [disabled]="recoverForm.invalid || isBusy" type="submit"
                                            class="btn btn-primary mr-1">{{isBusy ? 'Authenticating...' : 'RECOVER'}}</button>
                                      <p>No account? <a [routerLink]="['/signup']"><span class="text-primary">SIGN
                                            UP</span></a> now</p>
                                    </div>
                                  <br>
                                </div>
                                <div class=""></div>
                              </div>
                            </form>
                          </div>
                          <input type="hidden" name="option" value="com_j2store">
                          <input type="hidden" name="view" value="checkout">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</section>
