<section id="sp-section-4">
  <div class="row">
    <div id="sp-title" class="col-lg-12 ">
      <div class="sp-column ">
        <div class="container text-center">
           <h2><br>
          <small class="text-primary">Kindly provide your account email below to recover your password.
          </small></h2>
        </div>
    </div>
    </div>
  </div>
</section>
<section id="sp-main-body">
  <div class="container info">
    <div class="container-inner">
      <div class="row">
        <main id="sp-component" class="col-lg-12 " role="main">
          <div>
          <div class="sp-column ">
            <div id="system-message-container">
            </div>
            <div id="akeeba-renderjoomla">
              <div id="j2store-checkout" class="j2store checkout">
                <div id="j2store-checkout-content">
                  <!-- <h1>Login</h1> -->

                  <div id="checkout">
                    <!-- <div class="checkout-heading">Checkout Options</div> -->
                    <div class="checkout-content" style="display: block;">
                      <div id="akeeba-renderjoomla">
                        <div class="row">
                          <div id="carousel" class="col-md-6 carousel slide" data-ride="carousel">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="assets/images/spsimpleportfolio/modern-garden/1_600x600.jpg" class="d-block w-100" alt="Image Slide">
                                </div>
                                <div class="carousel-item">
                                  <img src="assets/images/spsimpleportfolio/modern-garden-2/2_600x600.jpg" class="d-block w-100" alt="Image Slide">
                                </div>
                                <div class="carousel-item">
                                  <img src="assets/images/spsimpleportfolio/modern-garden-3/3_600x600.jpg" class="d-block w-100" alt="Image Slide">
                                </div>
                              </div>
                            </div>
                          <div id="login" class="col-md-6">
                            <h2>Password Recovery</h2>
                            <br> <br>
                            <span class="j2store_field_required text-danger"></span><label
                              for="username">Recovery email</label><input class="inputbox" id="username" type="text"
                              name="email" placeholder="Enter recovery email" value=""><br>
                              <!-- <div class="col-md- shipping-make-same" style="clear: both; padding-top: 15px;">
                                <a [routerLink]="['/ ']"><span style="color:green">RESET PASSWORD</span></a>
                              </div> -->
                              <br><br>
                              <div class="buttons">
                                <div class="left">
                                  <input type="button" value="Reset" id="button-register" class="button btn btn-primary">
                                  <p>No account? <a [routerLink]="['/signup']" ><span class="text-primary">SIGN UP</span></a> now</p>
                                </div>
                              </div>
                            <br>
                          </div>
                        </div>
                        <input type="hidden" name="option" value="com_j2store">
                        <input type="hidden" name="view" value="checkout">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</section>
