<section id="sp-section-4">
  <div class="row">
    <div id="sp-title" class="col-lg-12 ">
      <div class="sp-column ">
        <div class="container text-center">
          <h2><br>
            <small class="text-primary">Kindly provide your account email below to recover your password.
            </small></h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sp-main-body">
  <div class="container info">
    <div class="container-inner">
      <div class="row">
        <main id="sp-component" class="col-lg-12 " role="main">
          <div>
            <div class="sp-column ">
              <div id="system-message-container">
              </div>
              <div id="akeeba-renderjoomla">
                <div id="j2store-checkout" class="j2store checkout">
                  <div id="j2store-checkout-content">
                    <!-- <h1>Login</h1> -->

                    <div id="checkout">
                      <!-- <div class="checkout-heading">Checkout Options</div> -->
                      <div class="checkout-content" style="display: block;">
                        <div id="akeeba-renderjoomla">
                          <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
                            <div class="form-row">
                              <div class="col-md-3"></div>
                              <div class="col-md-6" style="margin-top: 15%;">
                                <h2>Password Recovery</h2>
                                <br> <br>
                                <div class="form-group">
                                  <label for="username" class="control-label">Recovery email</label>
                                  <input class="inputbox form-control" id="email" type="text" name="email"
                                    placeholder="Enter recovery email" value="" formControlName="email"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Username is required</div>
                                    <div *ngIf="f.email.errors.email">Username must be a valid email address</div>
                                  </div>
                                </div>
                                <div class="" style="margin-left: 220px;">
                                  <button class="button btn btn-primary">Recover</button>
                                  <p>No account? <a [routerLink]="['/signup']"><span class="text-primary">SIGN
                                        UP</span></a> now</p>
                                </div>
                              </div>
                              <div class="col-md-3"></div>
                            </div>
                          </form>
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </main>
    </div>
  </div>
  </div>
</section>