<section id="sp-section-4">
  <div class="row">
      <div id="sp-title" class="col-lg-12 ">
          <div class="sp-column ">
              <div class="sp-page-title"
                  style="background-image: url(assets/images/background/inner-banner-bg.jpg);">
                  <div class="container">
                      <h2 class="sp-page-title-heading">How it Works</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section id="section-id-1551234291418" class="sppb-section">
  <div class="sppb-row-container">
    <div class="sppb-row">
      <div class="sppb-col-md-12" id="column-wrap-id-1551234291419">
        <div id="column-id-1551234291419" class="sppb-column">
          <div class="sppb-column-addons">
            <div id="sppb-addon-1551234291420" class="clearfix">
              <div class="row">
                <div id="sp-title" class="col-lg-12 ">
                  <div class="sp-column ">
                      <div class="container text-center">
                        <h2 class="sp-page-title-heading info">
                        <span class="text-primary">Learn about the process behind our excellent initiative.</span>
                      </h2>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="sppb-addon-1551234291421" class="clearfix">
              <div class="sppb-empty-space clearfix"></div>
            </div>
            <div id="section-id-1551311145816" class="sppb-section">
              <div class="sppb-container-inner">
                <div class="sppb-row">
                  <div class="sppb-col-md-4 sppb-col-sm-6" id="column-wrap-id-1551311145817">
                    <div id="column-id-1551311145817" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551311145826" class="clearfix">
                          <div class="sppb-addon sppb-addon-raw-html">
                            <div class="sppb-addon-content">
                              <div class="content">
                                <div class="clearfix top-area">
                                  <div class="icon_box">
                                    <span class="icon-nature-1"></span>
                                  </div>
                                  <div class="text">
                                    <a href="#">
                                      <h4>
                                        SIGN UP AS A NEW FARM FUNDER
                                      </h4>
                                    </a>
                                    <p>
                                      Invest wisely.
                                    </p>
                                  </div>
                                </div>
                                <div class="img-box">
                                  <img src="assets/images/bg2.png" alt="" />
                                  <div class="default-overlay">
                                    <div class="inner-box">
                                      <a href="#"><i class="icon-nature-2"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <p>
                                  Click on the signup form and fill in your details to signup as a partner. You will be required to verify your email as part of this process, this step takes less than 2 minutes.
                                </p>
                                <!-- <div class="link">
                                  <a [routerLink]="['/about']" class="default_link">Read More<i
                                      class="icon-right-arrow"></i></a>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sppb-col-md-4 sppb-col-sm-6" id="column-wrap-id-1551311145820">
                    <div id="column-id-1551311145820" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551311145835" class="clearfix">
                          <div class="sppb-addon sppb-addon-raw-html">
                            <div class="sppb-addon-content">
                              <div class="content">
                                <div class="clearfix top-area">
                                  <div class="icon_box">
                                    <span class="icon-fence"></span>
                                  </div>
                                  <div class="text">
                                    <a href="#">
                                      <h4>
                                        DECIDE WHICH OF OUR FARMS YOU’D LIKE TO FUND
                                      </h4>
                                    </a>
                                    <p>
                                    Determine your profit limit.
                                    </p>
                                  </div>
                                </div>
                                <div class="img-box">
                                  <img src="assets/images/bg1.jpg" alt="" />
                                  <div class="default-overlay">
                                    <div class="inner-box">
                                      <a [routerLink]="['/about']"><i class="icon-nature-2"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <p>
                                  Choose the number of units you want to pay for and proceed to payment. Payment is simple and easy (debit card, online transfer or bank deposit). This will automatically reflect on your user dashboard.
                                </p>
                                <!-- <div class="link">
                                  <a [routerLink]="['/login']" class="default_link">Read More<i
                                      class="icon-right-arrow"></i></a>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sppb-col-md-4" id="column-wrap-id-1551311145821">
                    <div id="column-id-1551311145821" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551311145844" class="clearfix">
                          <div class="sppb-addon sppb-addon-raw-html">
                            <div class="sppb-addon-content">
                              <div class="clearfix top-area">
                                <div class="icon_box">
                                  <span class="icon-wall"></span>
                                </div>
                                <div class="text">
                                  <a href="#">
                                    <h4>
                                      Stone &amp; Hardsacping
                                    </h4>
                                  </a>
                                  <p>
                                    Great explorer of truth
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="sppb-addon-1551311145863" class="clearfix">
                          <div class="sppb-addon sppb-addon-raw-html">
                            <div class="sppb-addon-content">
                              <div class="clearfix top-area">
                                <div class="icon_box">
                                  <span class="icon-nature-4"></span>
                                </div>
                                <div class="text">
                                  <a href="#">
                                    <h4>
                                      Snow &amp; Ice Removal
                                    </h4>
                                  </a>
                                  <p>
                                    Great explorer of truth
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="sppb-addon-1551311145858" class="clearfix">
                          <div class="sppb-addon sppb-addon-raw-html">
                            <div class="sppb-addon-content">
                              <div class="clearfix top-area">
                                <div class="icon_box">
                                  <span class="icon-signs"></span>
                                </div>
                                <div class="text">
                                  <a href="#">
                                    <h4>
                                      Irrigation &amp; Drainage
                                    </h4>
                                  </a>
                                  <p>
                                    Great explorer of truth
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="sppb-addon-1551311145853" class="clearfix">
                          <div class="sppb-addon sppb-addon-raw-html">
                            <div class="sppb-addon-content">
                              <div class="clearfix top-area">
                                <div class="icon_box">
                                  <span class="icon-nature-3"></span>
                                </div>
                                <div class="text">
                                  <a href="#">
                                    <h4>
                                      Spring &amp; Fall Cleanup
                                    </h4>
                                  </a>
                                  <p>
                                    Great explorer of truth
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
