<section id="sp-section-4">
  <div class="row">
      <div id="sp-title" class="col-lg-12 ">
          <div class="sp-column ">
              <div class="sp-page-title"
                  style="background-image: url(assets/images/background/inner-banner-bg.jpg);">
                  <div class="container">
                      <h2 class="sp-page-title-heading">Investment Guidelines</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section id="section-id-1551234291418" class="sppb-section">
  <div class="sppb-row-container">
    <div class="sppb-row">
      <div class="sppb-col-md-12" id="column-wrap-id-1551234291419">
        <div id="column-id-1551234291419" class="sppb-column">
          <div class="sppb-column-addons">
            <div id="sppb-addon-1551234291420" class="clearfix">
              <div class="row">
                <div id="sp-title" class="col-lg-12 ">
                  <div class="sp-column ">
                      <div class="container text-center">
                        <h2 class="sp-page-title-heading info">
                        <span class="text-primary">Learn about the process behind our excellent initiative.</span>
                      </h2>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="sppb-addon-1551234291421" class="clearfix">
              <div class="sppb-empty-space clearfix"></div>
            </div>
            <div id="section-id-1551311145816" class="sppb-section">
              <div class="sppb-container-inner">
                <div class="sppb-row">
                  <div class="sppb-col-md-4 sppb-col-sm-6" id="column-wrap-id-1551311145817">
                    <div id="column-id-1551311145817" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551311145826" class="clearfix">
                          <div class="sppb-addon sppb-addon-raw-html">
                            <div class="sppb-addon-content">
                              <div class="content">
                                <div class="clearfix top-area">
                                  <!-- <div class="icon_box">
                                    <span class="icon-nature-1"></span>
                                  </div> -->
                                  <div class="text">
                                    <a href="#">
                                      <h5>
                                        FARMFUNDING
                                      </h5>
                                    </a>
                                    <p>
                                      Invest wisely.
                                    </p>
                                  </div>
                                </div>
                                <div class="img-box">
                                  <img src="assets/images/about/about-4.jpeg" alt="" />
                                  <div class="default-overlay">
                                    <div class="inner-box">
                                      <a href="#"><i class="icon-nature-2"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <p>
                                  This step takes less than 2 minutes. Click on the signup form and fill in your details to sign up as a partner. You will be required to verify your email as part of this process.  Decide which of our farms you’d like to fund by choosing the number of units you want to pay for and then you progress to payment. Payment is straightforward and simple (debit card, online transfer or bank deposit). This will automatically reflect on your user dashboard. Once your payment is successfully completed, we process an Invoice and a Farmfunder Certificate in your name. These documents will be sent to you via email within 72 hours.
                                </p>
                                <!-- <div class="link">
                                  <a [routerLink]="['/about']" class="default_link">Read More<i
                                      class="icon-right-arrow"></i></a>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sppb-col-md-4 sppb-col-sm-6" id="column-wrap-id-1551311145820">
                    <div id="column-id-1551311145820" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551311145835" class="clearfix">
                          <div class="sppb-addon sppb-addon-raw-html">
                            <div class="sppb-addon-content">
                              <div class="content">
                                <div class="clearfix top-area">
                                  <!-- <div class="icon_box">
                                    <span class="icon-nature-1"></span>
                                  </div> -->
                                  <div class="text">
                                    <a href="#">
                                      <h5>
                                        FARMIFY MARKET
                                      </h5>
                                    </a>
                                    <p>
                                    Get the most fresh groceries
                                    </p>
                                  </div>
                                </div>
                                <div class="img-box">
                                  <img src="assets/images/about/shopping-7.jpeg" alt="" style="height: 234px;width: 350px;" />
                                  <div class="default-overlay">
                                    <div class="inner-box">
                                      <a [routerLink]="['/about']"><i class="icon-nature-2"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <p>
                                  You can order for your fresh groceries and foodstuff by shopping with Farmify Market. All you need to do is send in your shopping list via SMS or Whatsapp on <span class="text-primary">09062389773</span> or <span class="text-primary">09062389772</span>, stating the price and quantity of the items you want to purchase from the market. Either of them will attend to you. Kindly note that the minimum amount of order costs N10,000. All
                                  orders attract a 10% service charge. Orders above N30,000 will be delivered free of charge within Lagos Nigeria. NOTE THAT THIS SERVICE APPLIES TO LAGOS RESIDENTS ONLY.
                                </p>
                                <!-- <div class="link">
                                  <a [routerLink]="['/login']" class="default_link">Read More<i
                                      class="icon-right-arrow"></i></a>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sppb-col-md-4 sppb-col-sm-6" id="column-wrap-id-1551311145820">
                    <div id="column-id-1551311145820" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551311145835" class="clearfix">
                          <div class="sppb-addon sppb-addon-raw-html">
                            <div class="sppb-addon-content">
                              <div class="content">
                                <div class="clearfix top-area">
                                  <!-- <div class="icon_box">
                                    <span class="icon-nature-1"></span>
                                  </div> -->
                                  <div class="text">
                                    <a href="#">
                                      <h5>
                                        FOOD PURCHASE & SUBSCRIPTION
                                      </h5>
                                    </a>
                                    <p>
                                    Become a certified Farmfunder
                                    </p>
                                  </div>
                                </div>
                                <div class="img-box">
                                  <img src="assets/images/about/shop-8.jpeg" alt=""
                                    style="width: 350px;height: 230px;" />
                                  <div class="default-overlay">
                                    <div class="inner-box">
                                      <a [routerLink]="['/about']"><i class="icon-nature-2"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <p>
                                  Purchase/subscribe for our farm fresh produce like rice, whole chicken, chicken parts, gizzard and eggs. We also sell packs of Castle bottled water as well as the large Evamor Dispenser Water bottles for both purchase and refill.
                                </p>
                                <!-- <div class="link">
                                  <a [routerLink]="['/login']" class="default_link">Read More<i
                                      class="icon-right-arrow"></i></a>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section-id-1551234291418" class="sppb-section">
  <div class="sppb-row-container">
    <div class="sppb-row">
      <div class="sppb-col-md-12" id="column-wrap-id-1551234291419">
        <div id="column-id-1551234291419" class="sppb-column">
          <div class="sppb-column-addons">
            <div id="sppb-addon-1551234291420" class="clearfix">
              <div class="row">
                <div id="sp-title" class="col-lg-12 ">
                  <div class="sp-column ">
                      <div class="container text-center">
                        <h2 class="sp-page-title-heading info">
                        <span class="text-primary">Steps Guideline</span>
                      </h2>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div id="sppb-addon-1551234291421" class="clearfix">
              <div class="sppb-empty-space clearfix"></div>
            </div> -->
            <div id="section-id-1551311145816" class="sppb-section">
              <div class="sppb-container-inner">
                <div class="sppb-row">
                  <div class="sppb-col-md-12 sppb-col-sm-12" id="column-wrap-id-1551311145817">
                    <div id="column-id-1551311145817" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551311145826" class="clearfix">
                          <div class="sppb-addon sppb-addon-raw-html">
                            <div class="sppb-addon-content">
                              <div class="content">
                                <div class="">
                                  <div class="row no-gutters">
                                    <div class="col-md-4">
                                      <img src="assets/images/sign-up.PNG " class="card-img" alt="..." style="border: 2px solid gray;">
                                    </div>
                                    <div class="col-md-8">
                                      <div class="card-body">
                                        <div class="text">
                                          <a href="#">
                                            <h5>
                                              STEP 1:
                                            </h5>
                                          </a>
                                          <p>
                                            SIGN UP AS A NEW FARMFUNDER
                                          </p>
                                        </div><br><br><br>
                                        <p class="card-text">This first step takes less than 2 minutes. Click on the signup form and fill in your details to sign up as an investor. You will be required to verify your email as part of this process. Kindly fill in the exact name on your Bank Account and fill in your Account Details on your dashboard.</p>
                                        <p class="card-text" style="color: green;">Farmfunds Africa</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sppb-col-md-12 sppb-col-sm-12" id="column-wrap-id-1551311145817">
                    <div id="column-id-1551311145817" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551311145826" class="clearfix">
                          <div class="sppb-addon sppb-addon-raw-html">
                            <div class="sppb-addon-content">
                              <div class="content">
                                <div class="">
                                  <div class="row no-gutters">
                                    <div class="col-md-4">
                                      <img src="assets/images/packages.PNG " class="card-img" alt="..." style="border:  2px solid gray;">
                                    </div>
                                    <div class="col-md-8">
                                      <div class="card-body">
                                        <div class="text">
                                          <a href="#">
                                            <h5>
                                              STEP 2:
                                            </h5>
                                          </a>
                                          <p>
                                            DECIDE WHICH OF OUR FARMS YOU’D LIKE TO FUND
                                          </p>
                                        </div><br><br><br>
                                        <p class="card-text">Choose the number of farm units you want to pay for and proceed to payment. Payment is simple and straightforward (debit card, online transfer or bank deposit). This will automatically reflect on your user dashboard.</p>
                                        <p class="card-text" style="color: green;">Farmfunds Africa</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sppb-col-md-12 sppb-col-sm-12" id="column-wrap-id-1551311145817">
                    <div id="column-id-1551311145817" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551311145826" class="clearfix">
                          <div class="sppb-addon sppb-addon-raw-html">
                            <div class="sppb-addon-content">
                              <div class="content">
                                <div class="">
                                  <div class="row no-gutters">
                                    <div class="col-md-4">
                                      <img src="assets/images/about/cert.jpeg " class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                      <div class="card-body">
                                        <div class="text">
                                          <a href="#">
                                            <h5>
                                              STEP 3:
                                            </h5>
                                          </a>
                                          <p>
                                            RECEIVE YOUR FARMFUNDER INVOICE & CERTIFICATE
                                          </p>
                                        </div><br><br><br>
                                        <p class="card-text">Once your payment is successfully completed, an Invoice and a Farmfunder Certificate will be sent to you via email within 72 hours.</p>
                                        <p class="card-text" style="color: green;">Farmfunds Africa</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
