<section id="sp-section-4">
  <div class="row">
      <div id="sp-title" class="col-lg-12 ">
          <div class="sp-column ">
              <div class="sp-page-title"
                  style="background-image: url(assets/images/background/inner-banner-bg.jpg);">
                  <div class="container">
                      <h2 class="sp-page-title-heading">Investment Guidelines</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section id="section-id-1551234291418" class="sppb-section">
  <div class="sppb-row-container">
    <div class="sppb-row">
      <div class="sppb-col-md-12" id="column-wrap-id-1551234291419">
        <div id="column-id-1551234291419" class="sppb-column">
          <div class="sppb-column-addons">
            <div id="sppb-addon-1551234291420" class="clearfix">
              <div class="row">
                <div id="sp-title" class="col-lg-12 ">
                  <div class="sp-column ">
                      <div class="container text-center">
                        <h2 class="sp-page-title-heading info">
                        <span class="text-primary">Learn about the process behind our excellent initiative.</span>
                      </h2>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section-id-1551234291418" class="sppb-section">
  <div class="sppb-row-container">
    <div class="sppb-row">
      <div class="sppb-col-md-12" id="column-wrap-id-1551234291419">
        <div id="column-id-1551234291419" class="sppb-column">
          <div class="sppb-column-addons">
            <div id="sppb-addon-1551234291420" class="clearfix">
              <div class="row">
                <div id="sp-title" class="col-lg-12 ">
                  <div class="sp-column ">
                      <div class="container text-center">
                        <h2 class="sp-page-title-heading info">
                        <span class="text-primary">Steps Guideline</span>
                      </h2>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div id="sppb-addon-1551234291421" class="clearfix">
              <div class="sppb-empty-space clearfix"></div>
            </div> -->
            <div id="section-id-1551311145816" class="sppb-section">
              <div class="sppb-container-inner">
                <div class="sppb-row">
                  <div class="sppb-col-md-12 sppb-col-sm-12" id="column-wrap-id-1551311145817">
                    <div id="column-id-1551311145817" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551311145826" class="clearfix">
                          <div class="sppb-addon sppb-addon-raw-html">
                            <div class="sppb-addon-content">
                              <div class="content">
                                <div class="">
                                  <div class="row no-gutters">
                                    <div class="col-md-4">
                                      <img src="assets/images/sign-up.PNG " class="card-img" alt="..." style="border: 2px solid gray;">
                                    </div>
                                    <div class="col-md-8">
                                      <div class="card-body">
                                        <div class="text">
                                          <a href="#">
                                            <h5>
                                              STEP 1:
                                            </h5>
                                          </a>
                                          <p>
                                            SIGN UP AS A NEW FARMFUNDER
                                          </p>
                                        </div><br><br><br>
                                        <p class="card-text">This first step takes less than 2 minutes. Click on the signup form and fill in your details to sign up as an investor. You will be required to verify your email as part of this process. Kindly fill in the exact name on your Bank Account and fill in your Account Details on your dashboard.</p>
                                        <p class="card-text" style="color: green;">Farmfunds Africa</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sppb-col-md-12 sppb-col-sm-12" id="column-wrap-id-1551311145817">
                    <div id="column-id-1551311145817" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551311145826" class="clearfix">
                          <div class="sppb-addon sppb-addon-raw-html">
                            <div class="sppb-addon-content">
                              <div class="content">
                                <div class="">
                                  <div class="row no-gutters">
                                    <div class="col-md-4">
                                      <img src="assets/images/packages.PNG " class="card-img" alt="..." style="border:  2px solid gray;">
                                    </div>
                                    <div class="col-md-8">
                                      <div class="card-body">
                                        <div class="text">
                                          <a href="#">
                                            <h5>
                                              STEP 2:
                                            </h5>
                                          </a>
                                          <p>
                                            DECIDE WHICH OF OUR FARMS YOU’D LIKE TO FUND
                                          </p>
                                        </div><br><br><br>
                                        <p class="card-text">Choose the number of farm units you want to pay for and proceed to payment. Payment is simple and straightforward (debit card, online transfer or bank deposit). This will automatically reflect on your user dashboard.</p>
                                        <p class="card-text" style="color: green;">Farmfunds Africa</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sppb-col-md-12 sppb-col-sm-12" id="column-wrap-id-1551311145817">
                    <div id="column-id-1551311145817" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551311145826" class="clearfix">
                          <div class="sppb-addon sppb-addon-raw-html">
                            <div class="sppb-addon-content">
                              <div class="content">
                                <div class="">
                                  <div class="row no-gutters">
                                    <div class="col-md-4">
                                      <img src="assets/images/about/cert.jpeg " class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                      <div class="card-body">
                                        <div class="text">
                                          <a href="#">
                                            <h5>
                                              STEP 3:
                                            </h5>
                                          </a>
                                          <p>
                                            RECEIVE YOUR FARMFUNDER INVOICE & CERTIFICATE
                                          </p>
                                        </div><br><br><br>
                                        <p class="card-text">Once your payment is successfully completed, an Invoice and a Farmfunder Certificate will be sent to you via email within 72 hours.</p>
                                        <p class="card-text" style="color: green;">Farmfunds Africa</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
