<section id="sp-section-4">
  <div class="row">
    <div id="sp-title" class="col-lg-12 ">
      <div class="sp-column ">
        <div class="sp-page-title" style="background-image: url(assets/images/background/inner-banner-bg.jpg);">
          <div class="container">
            <h2 class="sp-page-title-heading">Frequently Asked Questions</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sp-section-4">
  <div class="row">
    <div id="sp-title" class="col-lg-12 ">
      <div class="sp-column ">
          <div class="container text-center">
            <h2 class="sp-page-title-heading info">Get Information About Our
            <span class="text-primary">Process</span>
          </h2>
          </div>
      </div>
    </div>
  </div>
</section>
<section id="sp-main-body">
  <div class="row">
    <main id="sp-component" class="col-lg-12 " role="main">
      <div class="sp-column ">
        <div id="system-message-container">
        </div>

        <div id="sp-page-builder" class="sp-page-builder  page-4">


          <div class="page-content">
            <section id="section-id-1551740902941" class="sppb-section  ">
              <div class="sppb-row-container">
                <div class="sppb-row">
                  <div class="sppb-col-md-12" id="column-wrap-id-1551740902940">
                    <div id="column-id-1551740902940" class="sppb-column">
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1551740902944" class="clearfix">
                          <div class="sppb-addon sppb-addon-accordion ">
                            <div class="sppb-addon-content">
                              <div class="sppb-panel-group">
                                <div class="sppb-panel sppb-panel-default">
                                  <div class="sppb-panel-heading active ">
                                    <span class="sppb-panel-title">What is Farmfunds Africa?</span>
                                    <span class="sppb-toggle-direction"><i class="fa fa-chevron-right"></i></span>
                                  </div>
                                  <div class="sppb-panel-collapse">
                                    <div class="sppb-panel-body">
                                      <div id="sppb-addon-1551740902969" class="clearfix">
                                        <div class="sppb-addon sppb-addon-text-block  ">
                                          <div class="sppb-addon-content">
                                            <div class="text">
                                              <p>Farmfunds Africa (Farmify Agro Innovations Ltd: RC 1627509) is an
                                                agritech Company focused at empowering African Farmers whilst enabling
                                                individual investors earn profits on their investment capital which
                                                ultimately helps in strengthening global food security. We pride as
                                                Africa’s fastest growing Agritech Company.
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="sppb-panel sppb-panel-default">
                                  <div class="sppb-panel-heading "><span class="sppb-panel-title">Where is your office
                                      located?</span>
                                    <span class="sppb-toggle-direction"><i class="fa fa-chevron-right"></i></span>
                                  </div>
                                  <div class="sppb-panel-collapse" style="display: none;">
                                    <div class="sppb-panel-body">
                                      <div id="sppb-addon-1551740964294" class="clearfix">
                                        <div class="sppb-addon sppb-addon-text-block  ">
                                          <div class="sppb-addon-content">
                                            <div class="text">
                                              <p>Our head office is located at 12a, Sanyaolu street. Off Kudirat Abiola
                                                way, Oregun. Ikeja, Lagos.
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="sppb-panel sppb-panel-default">
                                  <div class="sppb-panel-heading "><span class="sppb-panel-title">How does it
                                      work?</span><span class="sppb-toggle-direction"><i
                                        class="fa fa-chevron-right"></i></span>
                                  </div>
                                  <div class="sppb-panel-collapse" style="display: none;">
                                    <div class="sppb-panel-body">
                                      <div id="sppb-addon-1551740964469" class="clearfix">
                                        <div class="sppb-addon sppb-addon-text-block  ">
                                          <div class="sppb-addon-content">
                                            <div class="text">
                                              <p>We handle the entire agric value chain "from start to finish" while you
                                                sit back and enjoy returns after harvest.
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="sppb-panel sppb-panel-default">
                                  <div class="sppb-panel-heading "><span class="sppb-panel-title">How much is a farm
                                      unit?</span><span class="sppb-toggle-direction"><i
                                        class="fa fa-chevron-right"></i></span>
                                  </div>
                                  <div class="sppb-panel-collapse" style="display: none;">
                                    <div class="sppb-panel-body">
                                      <div id="sppb-addon-1551740964658" class="clearfix">
                                        <div class="sppb-addon sppb-addon-text-block  ">
                                          <div class="sppb-addon-content">
                                            <div class="text">
                                              <p>A unit of Farm varies. It ranges from N40,000 – N1,000,000. You can
                                                decide the number of units you want to subscribe to.
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="sppb-panel sppb-panel-default">
                                  <div class="sppb-panel-heading "><span class="sppb-panel-title">How do I make
                                      payment?</span><span class="sppb-toggle-direction"><i
                                        class="fa fa-chevron-right"></i></span>
                                  </div>
                                  <div class="sppb-panel-collapse" style="display: none;">
                                    <div class="sppb-panel-body">
                                      <div id="sppb-addon-1551740964916" class="clearfix">
                                        <div class="sppb-addon sppb-addon-text-block  ">
                                          <div class="sppb-addon-content">
                                            <div class="text">
                                              <p>Payment can be made via the following channels: <br>

                                                a: Debit Card <br>
                                                b: Bank Transfer/Bank Deposit. <br>
                                                c: POS payment at our office.
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="sppb-panel sppb-panel-default">
                                  <div class="sppb-panel-heading "><span class="sppb-panel-title">Where are your
                                      farms?</span><span class="sppb-toggle-direction"><i
                                        class="fa fa-chevron-right"></i></span>
                                  </div>
                                  <div class="sppb-panel-collapse" style="display: none;">
                                    <div class="sppb-panel-body">
                                      <div id="sppb-addon-1551741008406" class="clearfix">
                                        <div class="sppb-addon sppb-addon-text-block  ">
                                          <div class="sppb-addon-content">
                                            <div class="text">
                                              <p>We are currently working with farmers across different regions of the
                                                country whilst we are currently setting up one of the largest farm city
                                                in West Africa.
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="sppb-panel sppb-panel-default">
                                  <div class="sppb-panel-heading "><span class="sppb-panel-title">How many
                                      offices/branches does Farmfunds Africa have?</span><span
                                      class="sppb-toggle-direction"><i class="fa fa-chevron-right"></i></span>
                                  </div>
                                  <div class="sppb-panel-collapse" style="display: none;">
                                    <div class="sppb-panel-body">
                                      <div id="sppb-addon-1551741008406" class="clearfix">
                                        <div class="sppb-addon sppb-addon-text-block  ">
                                          <div class="sppb-addon-content">
                                            <div class="text">
                                              <p>Presently our head office is in Lagos. However, we are a 100% digital
                                                compliant brand. Thus, we are just a click away. You can reach us via
                                                our social media platforms <br>
                                                Facebook: @farmfundsafrica <br>
                                                Instagram: @farmfundsafrica <br>
                                                Twitter: @farmfunds <br>
                                                WhatsApp: +2348097365000
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="sppb-panel sppb-panel-default">
                                  <div class="sppb-panel-heading "><span class="sppb-panel-title">Can I visit your
                                      farm?</span><span class="sppb-toggle-direction"><i
                                        class="fa fa-chevron-right"></i></span>
                                  </div>
                                  <div class="sppb-panel-collapse" style="display: none;">
                                    <div class="sppb-panel-body">
                                      <div id="sppb-addon-1551741008406" class="clearfix">
                                        <div class="sppb-addon sppb-addon-text-block  ">
                                          <div class="sppb-addon-content">
                                            <div class="text">
                                              <p>Yes. Once a quarter, we hold a #VillageMeeting which is geared at
                                                connecting our farmfunders with farmers to build healthier
                                                relationships, and more importantly, enable our farmfunders see how
                                                their partnership is affecting real people and effecting economic
                                                growth. We also use that opportunity to take an helicopter farm tour for
                                                Farmfunders who subscribes to 20units and above.
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="sppb-panel sppb-panel-default">
                                  <div class="sppb-panel-heading "><span class="sppb-panel-title">What is the duration
                                      of farm?</span><span class="sppb-toggle-direction"><i
                                        class="fa fa-chevron-right"></i></span>
                                  </div>
                                  <div class="sppb-panel-collapse" style="display: none;">
                                    <div class="sppb-panel-body">
                                      <div id="sppb-addon-1551741008406" class="clearfix">
                                        <div class="sppb-addon sppb-addon-text-block  ">
                                          <div class="sppb-addon-content">
                                            <div class="text">
                                              <p>All our available farms have their farm cycles which ranges between 100
                                                days to 270 days (9 months). Your selected farm determines your
                                                partnership maturity.
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="sppb-panel sppb-panel-default">
                                  <div class="sppb-panel-heading "><span class="sppb-panel-title">Can I withdraw funds
                                      before maturity?</span><span class="sppb-toggle-direction"><i
                                        class="fa fa-chevron-right"></i></span>
                                  </div>
                                  <div class="sppb-panel-collapse" style="display: none;">
                                    <div class="sppb-panel-body">
                                      <div id="sppb-addon-1551741008406" class="clearfix">
                                        <div class="sppb-addon sppb-addon-text-block  ">
                                          <div class="sppb-addon-content">
                                            <div class="text">
                                              <p>No You cannot. However, in extreme cases (death) , your next of kin
                                                will be paid your full partnership funds and returns at the end of farm
                                                cycle.
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="sppb-panel sppb-panel-default">
                                  <div class="sppb-panel-heading "><span class="sppb-panel-title">At farm maturity, how
                                      do I get my funds back?</span><span class="sppb-toggle-direction"><i
                                        class="fa fa-chevron-right"></i></span>
                                  </div>
                                  <div class="sppb-panel-collapse" style="display: none;">
                                    <div class="sppb-panel-body">
                                      <div id="sppb-addon-1551741008406" class="clearfix">
                                        <div class="sppb-addon sppb-addon-text-block  ">
                                          <div class="sppb-addon-content">
                                            <div class="text">
                                              <p>At maturity, your partnership funds plus its accrued profit is paid
                                                back to your local bank account. At this point you can either choose to
                                                resubscribe or walk away happily.
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="sppb-panel sppb-panel-default">
                                  <div class="sppb-panel-heading "><span class="sppb-panel-title">How secured is my
                                      partnership fund?</span><span class="sppb-toggle-direction"><i
                                        class="fa fa-chevron-right"></i></span>
                                  </div>
                                  <div class="sppb-panel-collapse" style="display: none;">
                                    <div class="sppb-panel-body">
                                      <div id="sppb-addon-1551741008406" class="clearfix">
                                        <div class="sppb-addon sppb-addon-text-block  ">
                                          <div class="sppb-addon-content">
                                            <div class="text">
                                              <p>All our farms and farmers have a comprehensive insurance cover to
                                                mitigate all risks. Your partnership with us is secured. We have a
                                                relationship with Leadway Assurance Plc and NAIC (Nigerian Agricultural
                                                Insurance Cooperation)
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>
  </div>
</section>
