<section id="sp-main-body">
  <div class="container">
    <br>
  <a [routerLink]="['/app/farmify-shopping']"><i class="fa fa-arrow-left back"> Back to list</i></a>
    <div class="container-inner">
      <div class="row">
        <main id="sp-component" class="col-lg-12" role="main">
          <div class="sp-column">
            <div id="system-message-container"></div>
            <div id="akeeba-renderjoomla">
              <div class="j2store-single-product simple detail bs3">
                <div itemscope itemtype="https://schema.org/Product" class="product-1 simple-product">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="j2store-mainimage">
                        <span class="nozoom" id="j2store-item-main-image-1">
                          <img src="{{product.imageUrl}}" alt="{{product.productName}}">
                        </span>
                      </div>
                    </div>

                    <div class="col-sm-6 text-primary" style="margin-top: 130px;">
                      <h1 itemprop="name" class="product-title">
                        {{product.productName}}
                      </h1>

                      <div class="price-sku-brand-container row">
                        <div 
                          class="product-price-container">
                          <div class="sale-price">
                            {{product.price | currency: '&#8358; '}}
                          </div>
                        </div>

                        <div class="product-sdesc-top">
                          <p>
                            {{product.description}}
                          </p><br>
                        </div>

                        <div class="product-sku">
                          <div class="row">
                            <div class="col-sm-12">
                              <ul class="nav nav-tabs" id="j2store-product-detail-tab">
                                <li class="product">
                                  <input type="text" name="qty" class="input-mini form-control " min="0"
                                    placeholder="Enter qty Here" />
                                </li>

                                <li class="active">
                                  <a data-toggle="tab">Add to Cart</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</section>