<section id="sp-logo-section">
    <div class="container">
        <div class="container-inner">
            <div class="row">
                <div id="sp-logo" class="col-lg-3 ">
                    <div class="sp-column ">
                        <div class="logo"><a href=""><img
                                    class="logo-image d-none d-lg-inline-block" src="assets/images/logo/farm-funds-logo2.png"
                                    alt="Real Garden"><img class="logo-image-phone d-inline-block d-lg-none"
                                    src="assets/images/logo/farm-funds-logo2.png" alt="Farm Funds Africa"></a></div>
                    </div>
                </div>
                <div id="sp-top2" class="col-lg-9 ">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <div class="sp-module-content">
                                <div class="mod-sppagebuilder  sp-page-builder" data-module_id="105">
                                    <div class="page-content">
                                        <div id="section-id-1551227013107"
                                            class="sppb-section  pull-right sppb-section-content-center">
                                            <div class="sppb-container-inner">
                                                <div class="sppb-row sppb-no-gutter sppb-align-center">
                                                    <div class="sppb-col-md-4 sppb-col-sm-4"
                                                        id="column-wrap-id-1551227013106">
                                                        <div id="column-id-1551227013106"
                                                            class="sppb-column">
                                                            <div class="sppb-column-addons">
                                                                <div id="sppb-addon-1551227013112"
                                                                    class="clearfix">
                                                                    <div
                                                                        class="sppb-addon sppb-addon-raw-html ">
                                                                        <div class="sppb-addon-content">
                                                                            <div
                                                                                class="upper-column info-box">
                                                                                <div class="icon-box"><span
                                                                                        class="icon-telephone"></span>
                                                                                </div>
                                                                                <ul>
                                                                                    <li><strong>Call us
                                                                                            now</strong>
                                                                                    </li>
                                                                                    <li><a href="#">+234-906-238-9757</a>
                                                                                        <a href="#">+234-906-238-9766</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sppb-col-md-4 sppb-col-sm-4"
                                                        id="column-wrap-id-1551227013108">
                                                        <div id="column-id-1551227013108"
                                                            class="sppb-column">
                                                            <div class="sppb-column-addons">
                                                                <div id="sppb-addon-1551227013115"
                                                                    class="clearfix">
                                                                    <div
                                                                        class="sppb-addon sppb-addon-raw-html ">
                                                                        <div class="sppb-addon-content">
                                                                            <div
                                                                                class="upper-column info-box">
                                                                                <div class="icon-box"><span
                                                                                        class="icon-letter"></span>
                                                                                </div>
                                                                                <ul>
                                                                                    <li><strong>Email
                                                                                            at</strong></li>
                                                                                    <li>info@farmfundsafrica.com
                                                                                      <br><br>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="display: flex; justify-content: space-between; margin-left: 50px;">
                                                        <button [routerLink]="['/login']" class="btn btn-primary">Sign In</button>
                                                        <button [routerLink]="['/signup']" style="margin-left: 10px;"
                                                         class="btn btn-warning">Get Started</button>
                                                    </div>
                                                    
                                                    <!-- <div class="sppb-col-md-4 sppb-col-sm-4"
                                                        id="column-wrap-id-1551227013109">
                                                        <div id="column-id-1551227013109"
                                                            class="sppb-column">
                                                            <div class="sppb-column-addons">
                                                                <div id="sppb-addon-1551227013120"
                                                                    class="clearfix">
                                                                    <div
                                                                        class="sppb-addon sppb-addon-module ">
                                                                        <div class="sppb-addon-content">
                                                                            <div class="search">
                                                                                <form>
                                                                                    <div class="input-group">
                                                                                        <a [routerLink]="['/signup']"> <input  class="p-button" style="cursor: pointer;" type="submit" value="Get Started"></a>

                                                                                    </div>
                                                                                    <br>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
