<section id="sp-logo-section">
    <div class="container">
        <div class="container-inner">
            <div class="row">
                <div id="sp-logo" class="col-lg-3 ">
                    <div class="sp-column ">
                        <div class="logo"><a href=""><img
                                    class="logo-image d-none d-lg-inline-block" src="assets/images/logo/farm-funds-logo2.png"
                                    alt="Real Garden"><img class="logo-image-phone d-inline-block d-lg-none"
                                    src="assets/images/logo/farm-funds-logo2.png" alt="Farm Funds Africa"></a></div>
                    </div>
                </div>
                <div id="sp-top2" class="col-lg-9 ">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <div class="sp-module-content">
                                <div class="mod-sppagebuilder  sp-page-builder" data-module_id="105">
                                    <div class="page-content">
                                        <div id="section-id-1551227013107"
                                            class="sppb-section  pull-right sppb-section-content-center">
                                            <div class="sppb-container-inner">
                                                <div class="sppb-row sppb-no-gutter sppb-align-center">
                                                    <div class="sppb-col-md-4 sppb-col-sm-4"
                                                        id="column-wrap-id-1551227013106">
                                                        <div id="column-id-1551227013106"
                                                            class="sppb-column">
                                                            <div class="sppb-column-addons">
                                                                <div id="sppb-addon-1551227013112"
                                                                    class="clearfix">
                                                                    <div
                                                                        class="sppb-addon sppb-addon-raw-html ">
                                                                        <div class="sppb-addon-content">
                                                                            <div
                                                                                class="upper-column info-box">
                                                                                <div class="icon-box"><span
                                                                                        class="icon-telephone"></span>
                                                                                </div>
                                                                                <ul>
                                                                                    <li><strong>Call us
                                                                                            now</strong>
                                                                                    </li>
                                                                                    <li><a href="#">+234-906-238-9757</a>
                                                                                        <a href="#">+234-906-238-9657</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sppb-col-md-4 sppb-col-sm-4"
                                                        id="column-wrap-id-1551227013108">
                                                        <div id="column-id-1551227013108"
                                                            class="sppb-column">
                                                            <div class="sppb-column-addons">
                                                                <div id="sppb-addon-1551227013115"
                                                                    class="clearfix">
                                                                    <div
                                                                        class="sppb-addon sppb-addon-raw-html ">
                                                                        <div class="sppb-addon-content">
                                                                            <div
                                                                                class="upper-column info-box">
                                                                                <div class="icon-box"><span
                                                                                        class="icon-letter"></span>
                                                                                </div>
                                                                                <ul>
                                                                                    <li><strong>Email
                                                                                            at</strong></li>
                                                                                    <li>Info@farmfundsafrica.com
                                                                                      <br><br>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sppb-col-md-4 sppb-col-sm-4"
                                                        id="column-wrap-id-1551227013109">
                                                        <div id="column-id-1551227013109"
                                                            class="sppb-column">
                                                            <div class="sppb-column-addons">
                                                                <div id="sppb-addon-1551227013120"
                                                                    class="clearfix">
                                                                    <div
                                                                        class="sppb-addon sppb-addon-module ">
                                                                        <div class="sppb-addon-content">
                                                                            <div class="search">
                                                                                <form
                                                                                    action="http://demo.joomlabuff.com/realgarden/index.php"
                                                                                    method="post">
                                                                                    <div
                                                                                        class="input-group">
                                                                                        <input
                                                                                            name="searchword"
                                                                                            id="mod-search-searchword106"
                                                                                            class="form-control"
                                                                                            type="search"
                                                                                            placeholder="Search here..."><span
                                                                                            class="input-group-btn"><button
                                                                                                class="sppb-btn"
                                                                                                onclick="this.form.searchword.focus();"><span
                                                                                                    class="icon fa fa-search"></span></button></span>
                                                                                    </div> <input
                                                                                        type="hidden"
                                                                                        name="task"
                                                                                        value="search">
                                                                                    <input type="hidden"
                                                                                        name="option"
                                                                                        value="com_search">
                                                                                    <input type="hidden"
                                                                                        name="Itemid"
                                                                                        value="101">
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
