<section id="sp-section-4">
    <div class="row">
        <div id="sp-title" class="col-lg-12 ">
            <div class="sp-column "></div>
        </div>
    </div>
</section>
<section id="sp-main-body">
    <div class="container">
        <div class="container-inner">
            <div class="row">
                <main id="sp-component" class="col-lg-8 " role="main">
                    <div class="sp-column ">
                        <div id="system-message-container">
                        </div>
                        <div id="akeeba-renderjoomla">
                            <div class="j2store-single-product simple detail bs3 ">
                                <div itemscope itemtype="https://schema.org/Product"
                                    class="product-1 simple-product">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="j2store-mainimage">
                                                <span class='nozoom' id='j2store-item-main-image-1'>
                                                    <img itemprop="image" title="The Innovators"
                                                        alt="The Innovators"
                                                        class="j2store-product-main-image j2store-img-responsive"
                                                        src="assets/images/shop/10.jpg" width="100" />
                                                </span>

                                                <script type="text/javascript">
                                                    var main_image = "assets/images/shop/10.jpg";
                                                    j2store.jQuery(document).ready(function () {
                                                        var enable_zoom = 0;
                                                        if (enable_zoom) {
                                                            j2store.jQuery('#j2store-item-main-image-1').zoom();
                                                        }
                                                    });
                                                </script>

                                            </div>




                                        </div>

                                        <div class="col-sm-6">

                                            <h1 itemprop="name" class="product-title">
                                                The Innovators </h1>


                                            <div class="price-sku-brand-container row">


                                                <div itemprop="offers" itemscope
                                                    itemtype="https://schema.org/Offer"
                                                    class="product-price-container">

                                                    <div class="sale-price">
                                                        $34.99
                                                    </div>


                                                    <meta itemprop="price" content="34.99000" />
                                                    <meta itemprop="priceCurrency" content="USD" />
                                                    <link itemprop="availability"
                                                        href="https://schema.org/InStock" />
                                                </div>



                                                <div class="product-sdesc-top">
                                                    <p>Working from home meant we couldsnack and coffee our
                                                        breaks change our desks or view, good, drink on the
                                                        job, even spend the weather started getting roughday
                                                        in pajamas consequences.</p>
                                                </div>

                                                <div class="product-sku">
                                                    <span class="sku-text">SKU :</span>
                                                    <span itemprop="sku" class="sku"> The_Innovators </span>
                                                </div>


                                            </div>

                                            <form
                                                action="http://demo.joomlabuff.com/realgarden/index.php/shop/shopping-cart/addItem"
                                                method="post" class="j2store-addtocart-form"
                                                id="j2store-addtocart-form-1"
                                                name="j2store-addtocart-form-1" data-product_id="1"
                                                data-product_type="simple" enctype="multipart/form-data">


                                                <div class="cart-action-complete" style="display:none;">
                                                    <p class="text-success">
                                                        Item added to cart. <a href="assets/shopping-cart.html"
                                                            class="j2store-checkout-link">
                                                            Checkout </a>
                                                    </p>
                                                </div>

                                                <div id="add-to-cart-1" class="j2store-add-to-cart">

                                                    <div class="product-qty"><input type="number"
                                                            name="product_qty" value="1"
                                                            class="input-mini form-control " min="0"
                                                            step="1" /></div>
                                                    <input type="hidden" id="j2store_product_id"
                                                        name="product_id" value="1" />

                                                    <input data-cart-action-always="Adding..."
                                                        data-cart-action-done="Add to cart"
                                                        data-cart-action-timeout="1000" value="Add to cart"
                                                        type="submit"
                                                        class="j2store-cart-button sppb-btn" />

                                                </div>


                                                <input type="hidden" name="option" value="com_j2store" />
                                                <input type="hidden" name="view" value="carts" />
                                                <input type="hidden" name="task" value="addItem" />
                                                <input type="hidden" name="ajax" value="0" />
                                                <input type="hidden" name="f18ac3a8962039877f96f1c75363fa69"
                                                    value="1" /> <input type="hidden" name="return"
                                                    value="aHR0cDovL2RlbW8uam9vbWxhYnVmZi5jb20vcmVhbGdhcmRlbi9pbmRleC5waHAvc2hvcC9zaG9wLXByb2R1Y3RzL3RoZS1pbm5vdmF0b3Jz" />
                                                <div class="j2store-notifications"></div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <ul class="nav nav-tabs" id="j2store-product-detail-tab">
                                                <li class="active"><a href="#description"
                                                        data-toggle="tab">Description</a>

                                                <li class="">
                                                    <a href="#specs" data-toggle="tab">Specifications</a>
                                                </li>
                                            </ul>

                                            <div class="tab-content">
                                                <div itemprop="description" class="tab-pane active"
                                                    id="description">

                                                    <div class="product-sdesc">
                                                        <p>Working from home meant we couldsnack and coffee
                                                            our breaks change our desks or view, good, drink
                                                            on the job, even spend the weather started
                                                            getting roughday in pajamas consequences.</p>
                                                    </div>


                                                    <div class="product-ldesc">

                                                        <div class="desc-content-box">
                                                            <p>Bedroom lamps reflects the design philosophy
                                                                of form following function prevalent in
                                                                modernism. These designs represent the
                                                                ideals of cutting excess, practicality and
                                                                an absence of decoration. These forms of
                                                                lamps are visually light and follow
                                                                minimalist principles of design which are
                                                                influenced by architectural concepts like
                                                                the cantilever. Modern lamps fits best in
                                                                open floor plans with clean lines that
                                                                thrive in the absence of clutter. A one stop
                                                                shop for home decor and furniture, Interior
                                                                sells a home product every 30 seconds.</p>
                                                            <p>Bedroom lamps let you fine-tune the
                                                                atmosphere of a room in more ways than one.
                                                                They give you additional light where you
                                                                need it while also adding a bit of
                                                                personality. Ours are available in a wide
                                                                selection of styles to add a little extra
                                                                color, texture and light to your home.</p>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="tab-pane fade in " id="specs">


                                                    <table class="table table-striped">
                                                        <tr>
                                                            <td>Dimension (L x W x H)</td>
                                                            <td>
                                                                <span class="product-dimensions">
                                                                    213 x 324 x 324 Centimetre </span>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                Weight </td>
                                                            <td>
                                                                <span class="product-weight">
                                                                    23 Kilogram </span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>
                </main>
                <aside id="sp-right" class="col-lg-4 ">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <div class="sp-module-content">
                                <div class="search">
                                    <form
                                        action="http://demo.joomlabuff.com/realgarden/index.php/shop/shop-products"
                                        method="post">
                                        <div class="input-group"><input name="searchword"
                                                id="mod-search-searchword106" class="form-control"
                                                type="search" placeholder="Search here..."><span
                                                class="input-group-btn"><button class="sppb-btn"
                                                    onclick="this.form.searchword.focus();"><span
                                                        class="icon fa fa-search"></span></button></span>
                                        </div> <input type="hidden" name="task" value="search">
                                        <input type="hidden" name="option" value="com_search">
                                        <input type="hidden" name="Itemid" value="135">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="sp-module ">
                            <h3 class="sp-module-title">Categories</h3>
                            <div class="sp-module-content">
                                <ul class="categories-module mod-list">
                                    <li> <a href="assets/blog-default/9-gardening.html">
                                            Gardening (0)
                                        </a>

                                    </li>
                                    <li> <a href="assets/blog-default/10-ground-maintenance.html">
                                            Ground Maintenance (0)
                                        </a>

                                    </li>
                                    <li> <a href="assets/blog-default/11-outdoor-living.html">
                                            Outdoor Living (0)
                                        </a>

                                    </li>
                                    <li> <a href="assets/blog-default/12-tree-planting.html">
                                            Tree Planting (0)
                                        </a>

                                    </li>
                                    <li> <a href="assets/blog-default/13-residential-garden.html">
                                            Residential Garden (0)
                                        </a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
