<div class="site helix-ultimate com-j2store view-products layout-default task-view itemid-135 ">
    <section id="sp-section-4">
        <div class="row">
            <div id="sp-title" class="col-lg-12 ">
                <div class="sp-column "></div>
            </div>
        </div>
    </section>
    <section id="sp-main-body">
        <div class="container">
            <div class="container-inner">
                <div class="row">
                    <main id="sp-component" class="col-lg-8 " role="main">
                        <div class="sp-column ">
                            <div id="system-message-container">
                            </div>
                            <div id="akeeba-renderjoomla">
                                <div class="j2store-single-product simple detail bs3 ">
                                    <div itemscope itemtype="https://schema.org/Product"
                                        class="product-1 simple-product">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="j2store-mainimage">
                                                    <span class='nozoom' id='j2store-item-main-image-1'>
                                                        <img itemprop="image" title="{{food?.foodName}}"
                                                            alt="{{food?.foodName}}"
                                                            class="j2store-product-main-image j2store-img-responsive"
                                                            src="{{food?.foodImage}}" width="100" />
                                                    </span>
    
                                                    
    
                                                </div>
    
    
    
    
                                            </div>
    
                                            <div class="col-sm-6">
    
                                                <h1 itemprop="name" class="product-title">
                                                    {{food?.foodName}} </h1>
    
    
                                                <div class="price-sku-brand-container row">
    
    
                                                    <div itemprop="offers" itemscope
                                                        itemtype="https://schema.org/Offer"
                                                        class="product-price-container">
    
                                                        <div *ngIf="!isSub" class="sale-price">
                                                            {{food?.price[0].value}}
                                                        </div>

                                                        <div *ngIf="isSub" class="sale-price">
                                                            {{food?.unit}}
                                                        </div>
    
                                                    </div>
    
    
    
                                                    <div class="product-sdesc-top">
                                                        <p>Purchase a food item and have it delivered to your doorstep.
                                                            <b>Delivery is free within Lagos for purchases worth N7,000 and above</b></p>
                                                    </div>
    
                                                    <div class="product-sku">
                                                        <span class="sku-text">SKU :</span>
                                                        <span itemprop="sku" class="sku"> {{food?.foodName}} </span>
                                                    </div>
    
    
                                                </div>
    
                                            
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <ul class="nav nav-tabs" id="j2store-product-detail-tab">
                                                    <li class="active"><a href="#description"
                                                            data-toggle="tab">Description</a>
    
                                                    <li class="">
                                                        <a href="#specs" data-toggle="tab">Specifications</a>
                                                    </li>
                                                </ul>
    
                                                <div class="tab-content">
                                                    <div itemprop="description" class="tab-pane active"
                                                        id="description">
    
                                                        <div class="product-sdesc">
                                                            <p>Working from home meant we couldsnack and coffee
                                                                our breaks change our desks or view, good, drink
                                                                on the job, even spend the weather started
                                                                getting roughday in pajamas consequences.</p>
                                                        </div>
    
    
                                                        <div class="product-ldesc">
    
                                                            <div class="desc-content-box">
                                                                <p>Bedroom lamps reflects the design philosophy
                                                                    of form following function prevalent in
                                                                    modernism. These designs represent the
                                                                    ideals of cutting excess, practicality and
                                                                    an absence of decoration. These forms of
                                                                    lamps are visually light and follow
                                                                    minimalist principles of design which are
                                                                    influenced by architectural concepts like
                                                                    the cantilever. Modern lamps fits best in
                                                                    open floor plans with clean lines that
                                                                    thrive in the absence of clutter. A one stop
                                                                    shop for home decor and furniture, Interior
                                                                    sells a home product every 30 seconds.</p>
                                                                <p>Bedroom lamps let you fine-tune the
                                                                    atmosphere of a room in more ways than one.
                                                                    They give you additional light where you
                                                                    need it while also adding a bit of
                                                                    personality. Ours are available in a wide
                                                                    selection of styles to add a little extra
                                                                    color, texture and light to your home.</p>
                                                            </div>
                                                        </div>
    
                                                    </div>
    
                                                    <div class="tab-pane fade in " id="specs">
    
    
                                                        <table class="table table-striped">
                                                            <tr>
                                                                <td>Dimension (L x W x H)</td>
                                                                <td>
                                                                    <span class="product-dimensions">
                                                                        213 x 324 x 324 Centimetre </span>
                                                                </td>
                                                            </tr>
    
                                                            <tr>
                                                                <td>
                                                                    Weight </td>
                                                                <td>
                                                                    <span class="product-weight">
                                                                        23 Kilogram </span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
    
                                            </div>
                                        </div>
                                    </div>
    
    
    
                                </div>
    
                            </div>
                        </div>
                    </main>
                    <aside id="sp-right" class="col-lg-4 ">
                        <div class="sp-column ">
                            <div class="sp-module ">
                                <h3 class="sp-module-title">Purchase here..</h3>
                                <div class="sp-module-content">
                                    <form>
                                        <div *ngIf="!isSub" class="form-group">
                                            <select name="prices" (change)="onChange(formData.price)" id="prices" [(ngModel)]="formData.price" >
                                                <option *ngFor="let p of food.price" value="{{p.value}}" >{{p?.value}}</option>
                                                
                                            </select>
                                        </div>

                                        <div *ngIf="isSub" class="form-group">
                                            <select name="prices" (change)="onChange(formData.price)" id="prices" [(ngModel)]="formData.price" >
                                                <option [attr.selected]="food.subscription[0].value" *ngFor="let p of food.subscription" value="{{p.value}}">{{p?.value}}</option>
                                                
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <input [(ngModel)]="formData.qty" name="qty" placeholder="Qty" type="number">
                                        </div>

                                        <div class="form-group">
                                            <input [(ngModel)]="formData.name" name="name" placeholder="Full Name" type="text">
                                        </div>

                                        <div class="form-group">
                                            <input [(ngModel)]="formData.email" name="email" placeholder="Email" type="text">
                                        </div>

                                        <div class="form-group">
                                            <input [(ngModel)]="formData.number" name="number" placeholder="Phone Number" type="text">
                                        </div>

                                        <div class="form-group">
                                            <input [(ngModel)]="formData.address" name="address" placeholder="Full Address" type="text">
                                        </div>

                                        <input class="p-button" style="cursor: pointer;" type="submit" value="Purchase">
                                        
                                </form>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
</div>

